body{
  max-width: 1000px;
  margin-left:10px;
}

div{
  --margLeft: 10px;
  --LabWidth: 360px;
}

.BlueBorder{
  border: solid 2px blue;
}

.RedBorder{
  border: solid 2px red;
}

.BorderSetEven{
  border: solid 3px blue;
  width:100%;
}

.BorderSetOdd{
  border: solid 3px red;
  width:100%;
}

.labelActiv{
  margin-left: var(--margLeft);
  width:var(--LabWidth);
  background-color: lightblue;
}

.labelBody{
  margin-left: calc(var(--margLeft) * 2);
  width:calc(var(--LabWidth) - var(--margLeft));
  background-color: lightcyan;
  float:none;
}

.labelExec{
  margin-left: calc(var(--margLeft) * 3);
  width:calc(var(--LabWidth) - calc( 2 * var(--margLeft)));
  background-color: lightgreen;
  float:none;
}

.labelSean{
  margin-left: calc(var(--margLeft) * 4);
  width:80px;
  float:none;
  display:inline-block;
}

.skipLine{
  width:100%;
  height:2px;
  display:inline-block;
  
}

.inputSean{
  margin-left: 10px;
  width:35px;
  height:30px;
  font-size:14px;

}

.inputSean:hover{
  background-color: cyan;
  font-size:14px;
}

.inputText{
  width:160px;
  height:30px;
  font-size:14px;
  background-color: lightgrey;
  margin-left:6px;
}

.inputText:hover{
  color:darkblue;
  font-size:16px;
  background-color: grey;
}

.labelDate{
  width:50px;
  color:blue;
  font-size:14px;
  margin-left: 25px;
  float:none;
}

.theDate{
  width:160px;
  height:30px;
  font-size:14px;
  background-color: lightcyan;
  color:blue;
}
.theDateBuffer{
  width:1px;
  margin-top:10px;
}

.theDate:hover{
  font-size:16px;
  background-color: lightgrey;
  color:red;
}
.posCalendar{
  /*
  margin-left: 20px; 
  margin-top:-10px;

  */
  float:none; 
  width:45px; 
  height:55px;
  font-size:25px;
  color:blue;
  padding-left:10px;
  padding-top:13px;
  vertical-align: middle;
}
.posCalendar:hover{
 color:red;
}
td{
  width:35px;  
  padding-left:5px; 
  border:solid 0px red;
}


.specialDiv{
  position:relative; 
  margin-top:10px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:10px;
  border:solid 0px blue;
}

.blockBody{
  position:relative; 
  margin-top:30px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:40px;
  background-color: lightblue;
  
}

.selectbody{
  color:red; 
  font-size: 22px; 
  display:block; 
  border: solid 0px red;
  float:left;
  margin-left:10px;
  padding-top:5px;
}

.posBinBody{
  float:left; 
  margin-left:50px; 
  padding-top:5px;
  margin-top:4px;
}

.blockOptions{
  position:relative; 
  margin-top:30px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:40px;
  max-width: 500px;
  
}
.selectOptions{
  color:blue; 
  font-size: 18px; 
  
  display:block; 
  border: solid 0px red;
  float:left;
  margin-left:10px;
}


.newOptions{
  color:blue; 
  font-size: 22px; 
  width: 40%; 
  max-width: 250px;
  display:block; 
  float:left;
  margin-left:20px;
  padding-top:5px;
}

.posBin{
  float:right; 
  margin-right:100px; 
  margin-top:0px;
}

.iconBuffer{
  width:22px; 
  height:22px; 
  font-size:16px;
  margin-left:10px;
  display:inline-block;
  float:none;
}

.iconAdd{
  width:22px; 
  height:22px; 
  font-size:16px;
  background-color: cyan;
  color:blue;
  padding-left:3px;
  padding-top:3px;
  vertical-align: middle;
  margin-left:10px;
}

.iconBin{
  width:22px; 
  height:22px; 
  font-size:16px;
  background-color: cyan;
  color:red;
  padding-left:3px;
  padding-top:3px;
  margin-left:10px;
  
}

.iconBin:hover{
  color:blue; 
}

.iconAdd:hover{
  background-color:grey; 
}


.even{
  color:blue;
  background-color: lightgrey;
}

.odd{
  color:black;
  background-color: lightcyan;
}

.objectHeader{
  font-family: 'Roboto';
  height:60px;
  margin-left:30px;
  font-size:20px;  
  width:85%;
  font-weight: bold;
  display:block;
  border:solid 2px blue;
  padding-top:15px;
  background-color: cyan;
  text-align: center;
  color:red;
  }

.object{
font-family: 'Roboto';
height:60px;
margin-left:30px;
font-size:16px;  
width:85%;
font-weight: bold;
display:block;
border:solid 2px blue;
padding-top:15px;
padding-left:10px;
}


.object li {
cursor: pointer;
border-radius: 4px;
display: block;
border: solid 0px black;
}

.object li.selected:hover {
background-color: #0b9db1 !important;
border: solid 1px blue(0, 255, 42);
}

.object li:hover {
color: #607D8B;
background-color: rgb(30, 216, 200);
left: .1em;
border: solid 1px black;
}


.object:hover{
background-color: cyan;
font-size:18px;  
}


.sizeButtons{
  width:100px;
  height:40px;
  background-color:cyan;
  font-size:14px;
  border: solid 1px blue;
  margin-left:50px;
}

.sizeButtons:hover{
  color:rgb(48, 89, 159);
}

.inputSession{
 
  font-size:14px;
  margin-left:5px; 
  width:40px;
  height:30px;
  font-size:14px; 
  color:red;
}

.inputSession:hover{
  background-color: rgb(22, 92, 162);
  font-size:16px;
  color:rgb(45, 5, 5);
}

      /*** ====================================== ***/
    /*** ============== @media 1010 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width: 1010px) {
      body{
        max-width: 620px;
      }

      div{
        --margLeft: 10px;
        --LabWidth: 160px;
      }

      .inputText{
        width:100px;
      }

      .labelDate{
        /*
        width: calc(var(--LabWidth) - var(--margLeft) + 38px);
        margin-left: calc(var(--margLeft) * 2);
        text-align: right;
        */
        width:80px;
        margin-left:calc(var(--LabWidth) + var(--margLeft) - 80px);
        
        background-color: cyan;
        text-align: right;
      }

      .theDate{
        width:100px;
        margin-top:10px;
        margin-left:10px;
      }

      .theDateBuffer{
        width:27px;
        display:inline-block;
      }

      .labelBody{
        margin-left: calc(var(--margLeft) * 2);
        width:calc(var(--LabWidth) - var(--margLeft));
      }

      .labelSean{
        margin-left: calc(var(--margLeft) * 3);
      }
      
      .objectHeader{
        font-size:16px;  
        }
 
      .object{
      height:40px;
      font-size:12px;  
      }
      

      .object:hover{
      font-size:14px;  
      }


      .inputSession:hover{
        font-size:16px;

      }
    }