body{
  max-width: 1000px;
  margin-left:var(--margLeft);
}

div{
  --iconWidth: 22px;
  --margLeft: 10px;
  --LabWidth: 360px;
  --textWidth: 160px;
  --textMarLeft:16px;
  --labWidthSean:80px;
  --fieldHeight:30px;
  --DropLeft:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
  --DropLeftPerf:calc( var(--margLeft) + var(--labWidthSean) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
}

.theDiv{
  /*
  background-color:lightyellow;
  */
  height:40px;
  display:block;
  width:95%;
  margin-top:0px;
  float:left;
  border:solid rgb(2, 2, 13) 0px;
  margin-left:5px;
}

.GroundCyan{
  background-color: cyan;
}

.GroundGrey{
  background-color: lightgrey;
}

.topDiv{
  /*
  background-color:lightpink;
  */
  height:34px;
  display:block;
  float:left;
  border:solid blue 0px;
}

.topDivwidth{
  width:  calc( var(--margLeft) + var(--LabWidth)  + var(--textWidth) + var(--iconWidth) + 50px ) ;
}

.topDivExeOne{
  width:  80px;
  margin-left:30px;
}

.topDivExeTwo{
  width:  calc( (calc( var(--margLeft) + var(--LabWidth)  + var(--textWidth) + var(--iconWidth) + 50px )) - 140px);
}

.labelSport{
  margin-left: var(--margLeft);
  width:var(--LabWidth);
  /*
  background-color: lightblue;
  border:solid 2px red; 
  */
} 

.labelActiv{
  margin-left: calc(var(--margLeft) * 2);
  width:calc(var(--LabWidth) - var(--margLeft));
  /*
  background-color: lightcyan;
  */
  float:none;
}

.labelExec{
  margin-left: calc(var(--margLeft) * 3);
  width:calc(var(--LabWidth) - calc( 2 * var(--margLeft)) - 120px);
  /*
  background-color: lightgreen;
  */
  float:none;
}

.labelSean{
  margin-left: calc(var(--margLeft) * 4);
  width:var(--labWidthSean);
  float:none;
}

.labelList{
  margin-left: 15px;
  width:95%;
  display:block;
  border:solid blue 2px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
  font-size: 16px;
  background-color: cyan;
}

.skipLine{
  margin-left:5px;
  width:95%;
  height:4px;
  display:inline-block;
  border:solid red 0px;
 
}
#TheSports{ /* NOT USED */
  color: green;
  background: white;
  font-size: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: contents; 
}

.dropdown-content {
  margin-top:0px;
  position: absolute;
  z-index: 1;
  display: none;
} 

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  text-align:left;
  text-decoration: none;
  display: contents;
}

.dropdown-options{
  padding-top:7px;
  height:40px; 
  width:220px;
  font-size:14px;
  padding-left:10px;
}

.dropdown-options-even{
  background-color: white;
}

.dropdown-options-odd{
  background-color: #dedcdc;
}

.dropdown-options-odd:hover{
  background-color:rgb(197, 201, 217);
  color:rgb(59, 22, 207);
  font-weight:bold;
}

.dropdown-options-even:hover{
  background-color:rgb(208, 210, 222);
  color:rgb(59, 22, 207);
}
.force-scroll {
  overflow-y: scroll;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  font-size:12px;
  font-weight: bold;
  margin-top:-20px;
  margin-left:25px;

  cursor: pointer;
  background-color: cyan;
  border: 2px solid red;
}
   
.arrow_down{
  cursor: pointer;
  color:blue;
}

.arrow_down_size{
  margin-top:3px;
  font-size:28px;
  margin-left:1px;
  float:left;
} 

.BlueBorder{
  border: solid 2px blue;
  width:98%;
}

.RedBorder{
  border: solid 2px red;
  width:98%; 
}

.inputSean{
  margin-left: 10px;
  width:35px;
  height:var(--fieldHeight);
  font-size:14px;
}

.inputSean:hover{
  background-color: cyan;
  font-size:14px;
}

.inputText{
  width:var(--textWidth,160px);
  height:var(--fieldHeight);
  font-size:14px;
  background-color: lightgrey;
  
  float:right;
}

.inputText:hover{
  color:darkblue;
  font-size:16px;
  background-color: grey;
}

.labelDate{
  font-size:14px;
  margin-left: calc(var(--margLeft) * 2);
  width:calc(var(--LabWidth) - var(--margLeft) );
  /* 
   65px icon calendar
    background-color: cyan;  
  */
  height:var(--fieldHeight);
  margin-top:0px; 
  float:left; 
  padding-top:8px;
  text-align: right;
  padding-right: 10px;
}

.inputDate{
  font-size:14px;
  font-weight: bold;
  background-color: lightcyan;
  color:blue;
  width:100px; 
  height:var(--fieldHeight);
  /*vertical-align: middle;*/
  float:right;
}

.theDateBuffer{
  width:1px;
  margin-top:10px;
}

.inputDate:hover{
  font-size:16px;
  background-color: lightgrey;
  color:red;
}
.posCalendar{
  /*
  
  */
  margin-left: 10px; 
  margin-top:-10px;
  float:none; 
  width:45px; 
  height:55px;
  font-size:25px;
  color:blue;
  padding-left:10px;
  padding-top:13px;
  vertical-align: middle;
}

.posCalendar:hover{
 color:red;
}

td{
  width:35px;  
  padding-left:5px; 
  border:solid 0px red;
}

.specialDiv{
  position:relative; 
  margin-top:10px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:10px;
  border:solid 0px blue;
}

.blockBody{
  position:relative; 
  margin-top:30px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:40px;
  background-color: lightblue;
}

.selectbody{
  color:red; 
  font-size: 22px; 
  display:block; 
  border: solid 0px red;
  float:left;
  margin-left:10px;
  padding-top:5px;
}

.posBinBody{
  float:left; 
  margin-left:50px; 
  padding-top:5px;
  margin-top:4px;
}

.blockOptions{
  position:relative; 
  margin-top:30px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:40px;
  max-width: 500px;
}

.selectOptions{
  color:blue; 
  font-size: 18px; 
  display:block; 
  border: solid 0px red;
  float:left;
  margin-left:10px;
}

.newOptions{
  color:blue; 
  font-size: 22px; 
  width: 40%; 
  max-width: 250px;
  display:block; 
  float:left;
  margin-left:20px;
  padding-top:5px;
}

.posBin{
  float:right; 
  margin-right:100px; 
  margin-top:0px;
}

.iconBuffer{
  width:22px; 
  height:22px; 
  font-size:16px;
  margin-left:10px;
  display:inline-block;
  float:none;
}

.iconAdd{
  width:22px; 
  height:22px; 
  font-size:16px;
  background-color: cyan;
  color:blue;
  padding-left:3px;
  padding-top:3px;
  float:left;
  margin-left:10px;
  margin-top:4px;
}

.iconBin{
  width:22px; 
  height:22px; 
  font-size:16px;
  background-color: cyan;
  color:red;
  padding-left:3px;
  padding-top:3px;
  margin-left:10px;
}

.iconBinMrgLeft{
  margin-left:18px;
}

.iconBin:hover{
  color:blue; 
}

.iconAdd:hover{
  background-color:grey; 
}

.even{
  color:blue;
  background-color: lightgrey;
}

.odd{
  color:black;
  background-color: lightcyan;
}

.objectHeader{
  font-family: 'Roboto';
  height:60px;
  margin-left:30px;
  font-size:20px;  
  width:85%;
  font-weight: bold;
  display:block;
  border:solid 2px blue;
  padding-top:15px;
  background-color: cyan;
  text-align: center;
  color:red;
  }

.object{
font-family: 'Roboto';
height:60px;
margin-left:30px;
font-size:16px;  
width:85%;
font-weight: bold;
display:block;
border:solid 2px blue;
padding-top:15px;
padding-left:10px;
}

.object li {
cursor: pointer;
border-radius: 4px;
display: block;
border: solid 0px black;
}

.object li.selected:hover {
background-color: #0b9db1 !important;
border: solid 1px blue(0, 255, 42);
}

.object li:hover {
color: #607D8B;
background-color: rgb(30, 216, 200);
left: .1em;
border: solid 1px black;
}

.object:hover{
background-color: cyan;
font-size:18px;  
}

.sizeButtons{
  width:100px;
  height:40px;
  background-color:cyan;
  font-size:14px;
  border: solid 1px blue;
  margin-left:50px;
}

.sizeButtons:hover{
  color:rgb(48, 89, 159);
}

.inputSession{
  font-size:14px;
  margin-left:5px; 
  width:40px;
  height:30px;
  font-size:14px; 
  color:red;
}

.inputSession:hover{
  background-color: rgb(22, 92, 162);
  font-size:16px;
  color:rgb(45, 5, 5);
}

      /*** ====================================== ***/
    /*** ============== @media 1010 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width: 1010px) {
      body{
        max-width: 620px;
        font-size:10px;
      }

      div{
        --margLeft: 10px;
        --LabWidth: 80px;
        --textWidth:80px;
        --DropLeft:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
        --DropLeftPerf:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
      }

      .topDivwidth{
        width:  calc( var(--margLeft) + var(--LabWidth)  + var(--textWidth) + var(--iconWidth) + 70px ) ;
      }

      .inputText{
        width:var(--textWidth,80px);
        font-size:10px;
      }

      .inputSean{
        font-size:10px;
      }

      .inputSean:hover{
        font-size:10px;
      }

      .labelDate{
        width:60px;
        margin-left:calc(var(--LabWidth) + var(--margLeft) - 60px);
        padding-right: 20px;
        text-align: right;
        font-size: 10px;
        font-weight: bold;
      }

      .inputDate{
        width:80px;
        font-size:10px;
      }

      .inputDate:hover{
        font-size:10px;
      }


      .labelActiv{
        margin-left: calc(var(--margLeft) * 2);
        width:calc(var(--LabWidth) - var(--margLeft));
      }

      .labelExec{
        margin-left: calc(var(--margLeft) * 3);
        width:calc(var(--LabWidth) - calc( 2 * var(--margLeft)) - 1px);
      }

      .labelSean{
        margin-left: calc(var(--margLeft) * 3);
        width:calc(var(--LabWidth) - calc( 3 * var(--margLeft)) - 1px);
      }
      



      .topDivwidth{
        width:  calc( var(--margLeft) + var(--LabWidth)  + var(--textWidth) + var(--iconWidth) + 40px ) ;
        
      }
      
      
      .topDivExeOne{
        width:  40px;
        margin-left:5px;
      }
      
      
      .topDivExeTwo{
        width:  calc( (calc( var(--margLeft) + var(--LabWidth)  + var(--textWidth) + var(--iconWidth) + 50px )) - 10px);
       
      }

      .dropdown-options{
        width:160px;
        font-size:12px;
      }
      
      .objectHeader{
        font-size:16px;  
        }
 
      .object{
      height:40px;
      font-size:12px;  
      }
      

      .object:hover{
      font-size:14px;  
      }


      .inputSession:hover{
        font-size:12px;

      }
    }