<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

<body>

<h2 style="margin-top:70px;"><br></h2>
<h1 style="color:red; font-size:26px; margin-top: 50px; display:block; text-align:center; width:100%">My Fitness Performance!</h1>

<div style="margin-top:40px; margin-left:30px; " id='targetTop'>
    <div *ngIf='DisplayCalendar===true'>
        <span class='mainbody'>  
            <div style="margin: 10px"></div>
                    <app-one-calendar [Input_MinDate]="Input_MinDate" [Input_MaxDate]="Input_MaxDate" 
                    [Input_SelectedDate]="selected_date" [Input_IsSelectedDate]="isSelectedDate"
                    [Input_Travel_O_R]="Input_Travel_O_R" (my_SelectedDate)='SelectedDate($event)'>  </app-one-calendar>
        </span>  
    </div>

</div>

<div *ngIf='DisplayCalendar===false'>
    <span> ==== Display the date === </span>  
</div>


<div class="specialDiv">
    <span style="font-size:16px; color:red; margin-left:30px;"  >
        {{error_msg}}  
    </span>
</div>



<div *ngIf="ObjectIsRetrieved===true">
    <form  [formGroup]="TheExerciseform" >
        <div formArrayName="select_body" >
           
                <span *ngFor="let select_body of TypeExerciseData.controls; let i = index">
                    <div [formGroupName]="i" >

                        <div class="blockBody" >
                           <label class="selectbody"> {{select_body.value.body}}</label>
                            <span class="posBinBody">
                                <mat-icon  class="material-icons-outlined iconBin" (click)="RemoveTypeExercise($event)" id='R{{i}}'>
                                    delete 
                                </mat-icon>
                            </span>
                        </div>
                            
                        <form  [formGroup]="Performanceform" >
                                <div formArrayName="select_weight" >
                                    <span *ngFor="let select_weight of PerformanceData.controls; let j = index">
                                            
                                        <div [formGroupName]="j" >
                                        <div *ngIf="select_weight.value.ref_body-1===i">
                                                
                                            <div  *ngFor="let ListW of TheWeights; let n index" > 
                                    
                                                <div class="blockOptions" *ngIf="ListW.lbsnb==select_weight.value.weight_type">
                                                   
                                                    <label class="selectOptions">Sessions:
                                                            {{ListW.lbsnb}}{{ListW.lbs}} -- {{ListW.kgnb  | number:'1.1-1'}} {{ListW.kg }}
                                                    </label> 
                                                    <span  class="posBin">
                                                        <mat-icon class="material-icons-outlined iconBin" (click)="RemoveWeight($event)" id='R{{j}}'>
                                                            delete 
                                                        </mat-icon>
                                                    </span>

                                                            
                                                </div>
                                            </div>
                                            <div formArrayName="select_session" >
                                                   
                                                <span *ngIf="getScreenWidth>900">
                                                    <table id="TestTable" style="width:90%; margin-left:10px;"  *ngFor="let theSession of select_weight.value.select_session; let k=index"> 
                                                        <tr select_weight.value.select_session *ngIf="k===0"> 
                                                            <td >#1 </td>
                                                            <td > <input  style="width:40px;" id='R{{j}}S{{0}}'   [formControlName]="k" value='{{select_weight.value.select_session[0]}}' type='number' ></td>
                                                            <td >#2 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{1}}'   [formControlName]="k+1" value='{{select_weight.value.select_session[1]}}' type='number' ></td>
                                                            <td >#3 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{2}}'   [formControlName]="k+2" value='{{select_weight.value.select_session[2]}}' type='number' ></td>
                                                            <td >#4 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{3}}'    [formControlName]="k+3" value='{{select_weight.value.select_session[3]}}' type='number'  ></td>
                                                            <td >#5 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{4}}'   [formControlName]="k+4" value='{{select_weight.value.select_session[4]}}' type='number' ></td>
                                                            <td >#6 </td>
                                                            <td > <input  style="width:42px;" id='R{{j}}S{{5}}'  [formControlName]="k+5" value='{{select_weight.value.select_session[5]}}' type='number'  ></td>
                                                            <td >#7 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{6}}'  [formControlName]="k+6" value='{{select_weight.value.select_session[6]}}' type='number'  ></td>
                                                            <td >#8</td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{7}}'  [formControlName]="k+7" value='{{select_weight.value.select_session[7]}}' type='number'  ></td>
                                                            <td >#9 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{8}}'  [formControlName]="k+8" value='{{select_weight.value.select_session[8]}}' type='number'  ></td>
                                                            <td >#10 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{9}}'  [formControlName]="k+9" value='{{select_weight.value.select_session[9]}}' type='number'  ></td>
                                                        </tr>
                                                    </table>
                                                        <!--[formControlName]="k" type="number"  -->
                                                </span>

                                                <span *ngIf="getScreenWidth<901" > 
                                                    <table id="TestTable" style="width:50%; margin-left:10px;"  *ngFor="let theSession of select_weight.value.select_session; let k=index"> 
                                                        <tr select_weight.value.select_session *ngIf="k===0"> 
                                                            <td >#1 </td>
                                                            <td > <input  style="width:40px;" id='R{{j}}S{{0}}'   [formControlName]="k" value='{{select_weight.value.select_session[0]}}' type='number' ></td>
                                                            <td >#2 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{1}}'   [formControlName]="k+1" value='{{select_weight.value.select_session[1]}}' type='number' ></td>
                                                            <td >#3 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{2}}'   [formControlName]="k+2" value='{{select_weight.value.select_session[2]}}' type='number' ></td>
                                                            <td >#4 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{3}}'    [formControlName]="k+3" value='{{select_weight.value.select_session[3]}}' type='number'  ></td>
                                                            <td >#5 </td>
                                                            <td > <input   style="width:40px;" id='R{{j}}S{{4}}'   [formControlName]="k+4" value='{{select_weight.value.select_session[4]}}' type='number' ></td>
                                                        </tr>
                                                   
                                                            <tr select_weight.value.select_session *ngIf="k===0"> 
                                                                <td >#6 </td>
                                                                <td > <input  style="width:42px;" id='R{{j}}S{{5}}'  [formControlName]="k+5" value='{{select_weight.value.select_session[5]}}' type='number'  ></td>
                                                                <td >#7 </td>
                                                                <td > <input   style="width:40px;" id='R{{j}}S{{6}}'  [formControlName]="k+6" value='{{select_weight.value.select_session[6]}}' type='number'  ></td>
                                                                <td >#8</td>
                                                                <td > <input   style="width:40px;" id='R{{j}}S{{7}}'  [formControlName]="k+7" value='{{select_weight.value.select_session[7]}}' type='number'  ></td>
                                                                <td >#9 </td>
                                                                <td > <input   style="width:40px;" id='R{{j}}S{{8}}'  [formControlName]="k+8" value='{{select_weight.value.select_session[8]}}' type='number'  ></td>
                                                                <td >#10 </td>
                                                                <td > <input   style="width:40px;" id='R{{j}}S{{9}}'  [formControlName]="k+9" value='{{select_weight.value.select_session[9]}}' type='number'  ></td>
                                                            </tr>
                                                    </table>
                                                    <br><br>
                                                </span>
                                            </div>                                               
                                        </div>  
                                        </div>
                                    </span>  
                                </div> <!-- end div=formArrayName="select_weight"-->
                                <div > <!--  class="specialDiv" is removed -->
                                    <span *ngIf="this.PerformanceData.length===0">
                                        <label style="margin-top:40px"><br>&nbsp;</label>
                                    </span>
                                    <label class="newOptions">New weight </label>
                                    <select  style="margin-top:10px; height:20px;" id='W{{select_body.value.ref_body}}' (input)='LogWeight($event)' >
                                            
                                        <option value=""></option>
                                        <option   *ngFor="let ListW of TheWeights; let l=index;" value={{ListW.lbsnb}} > 
                                                {{ListW.lbsnb}}{{ListW.lbs}} -- {{ListW.kgnb  | number:'1.2-2'}} {{ListW.kg }}
                                        </option>
                                    </select>
                                       
                                </div>
                        </form>
                    </div>
                </span>
                <div class="blockBody" style="margin-top:20px;">
                    <label class="newOptions" style="color:red">Other body</label>
                    <select style="margin-top:10px; height:20px;" id="exerciseSelect"   (input)='LogExercise($event)'>          
                        <option value={{i}}></option>
                        <option   *ngFor="let ListE of List_exercise;" value={{ListE}}  > 
                            {{ListE}}
                        </option>
                    </select>
    
                </div>
                <div  style="margin-top:120px;">
                    <span *ngIf="IsSaveConfirmed===false && this.PerformanceData.length!==0">
                        <button id='but_1' class="sizeButtons" (click)="ConfirmSave()"> Save</button>
                        <button id='but_2' class="sizeButtons" (click)="CancelRecord()"> Cancel</button>
                        <span style="font-size:16px; color:red; margin-left:30px;"  >
                           <br>{{message}}  
                        </span>
                    </span>
    

                    
                    <span *ngIf="IsSaveConfirmed===true">
                        <form  [formGroup]="SpecificForm" >
                            Please enter the name of the file you want to save your data in :
                            <input type='text' formControlName="FileName" >
                            <button id='but_3' class="sizeButtons" (click)="SaveRecord()">Confirm</button>
                            <button id='but_4' class="sizeButtons" (click)="CancelSave()"> Cancel</button>
                        </form>
                        
                    </span>
                    <br><br><br>
                </div>
    
                <div  *ngIf="DisplayListOfObjects===true">
                    <br>
                        <span class="objectHeader">LIST OF OBJECTS STORED IN THE CLOUD</span>
                        <li style="list-style-type: none;" *ngFor="let ListObject of  myListOfObjects.items; let i=index"  
                              (click)="RetrieveSelectedFile(ListObject)">  
                            <span  *ngIf="i % 2 === 0" class="object even">{{i+1}} - {{ListObject.name}}</span>
                            <span  *ngIf="i % 2 !== 0" class="object odd">{{i+1}} - {{ListObject.name}}</span>
                      </li>
                      <br><br>
                      <button id='but_5' class="sizeButtons" (click)="GetAllObjects()">Refresh list</button>
                      <br><br> <br><br>
                </div>
                <div *ngIf="DisplayListOfObjects===false">
                        <h2 style=' color:red; margin-top:50px;'>List of objects is being retrieved from the cloud</h2>
                        {{HTTP_Address}}
                </div>
        </div>
    </form>

</div>

<div *ngIf="ObjectIsRetrieved===false">
    <div *ngIf="DisplayListOfObjects===true">
    <form  [formGroup]="TheExerciseform" >
        <div class="specialDiv" id="AccessToListFiles">
            <span class="objectHeader">LIST OF OBJECTS STORED IN THE CLOUD</span>
            <li style="list-style-type: none;" *ngFor="let ListObject of  myListOfObjects.items; let i=index"  
                  (click)="RetrieveSelectedFile(ListObject)">  
                <span  *ngIf="i % 2 === 0" class="object even">{{i+1}} - {{ListObject.name}}</span>
                <span  *ngIf="i % 2 !== 0" class="object odd">{{i+1}} - {{ListObject.name}}</span>
            </li>
            <br><br>
            <button id='but_0' class="sizeButtons" style=' width:140px' (click)="CreateRecord()">Create new file</button>
            <div class="specialDiv"> </div>
        </div>
    </form>
    </div>
    <div *ngIf="DisplayListOfObjects===false" class="specialDiv">
            <h2 style=' color:red; margin-top:50px;'>List of objects is being retrieved from the cloud</h2>
            {{HTTP_Address}}
    </div>

</div>
<br><br><br>

</body>