body{
  max-width: 1000px;
  margin-left:10px;
}

div{
  --margLeft: 10px;
  --LabWidth: 360px;
  --textWidth: 160px;
  --textMarLeft:16px;
  --labWidthSean:80px;
  --DropLeft:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
  --DropLeftPerf:calc( var(--margLeft) + var(--labWidthSean) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
}


#TheSports{
  color: green;
  background: white;
  font-size: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: contents; 
}


.dropdown-content {
  margin-top:0px;
  position: absolute;
  z-index: 1;
  display: none;
} 

/* Links inside the dropdown */
.dropdown-content span {
  color: black;

 /* 
  width:180px;
  height:40px;
  margin-left:-190px;
  margin-top:0px;

 */
  text-align:left;
  text-decoration: none;
  display: contents;

}

.dropdown-options{
  padding-top:7px;
  height:40px; 
  width:220px;
  font-size:14px;
  padding-left:10px;
}

.dropdown-options-even{
  background-color: white;
}

.dropdown-options-odd{
  background-color: #dedcdc;
}

.dropdown-options-odd:hover{
  background-color:rgb(197, 201, 217);
  color:rgb(59, 22, 207);
  font-weight:bold;
}

.dropdown-options-even:hover{
  background-color:rgb(208, 210, 222);
  color:rgb(59, 22, 207);
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  font-size:12px;
  font-weight: bold;
  margin-top:-20px;
  margin-left:25px;

  cursor: pointer;
  background-color: cyan;
  border: 2px solid red;

  /*
  background-color: #f1f1f1;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  margin-left:-20px;
  */
}
   
.arrow_down{
  margin-top:0px;
 /*  display:table;
 */
  cursor: pointer;
  margin-left:5px;
  color:blue;
 
  }

.arrow_down_size{
  font-size:28px;
} 


.BlueBorder{
  border: solid 2px blue;
  width:98%;
}

.RedBorder{
  border: solid 2px red;
  width:98%;
}

.labelSport{
  margin-left: var(--margLeft);
  width:var(--LabWidth);
  background-color: lightblue;
}

.labelActiv{
  margin-left: calc(var(--margLeft) * 2);
  width:calc(var(--LabWidth) - var(--margLeft));
  background-color: lightcyan;
  float:none;
}

.labelExec{
  margin-left: calc(var(--margLeft) * 3);
  width:calc(var(--LabWidth) - calc( 2 * var(--margLeft)));
  background-color: lightgreen;
  float:none;
}

.labelSean{
  margin-left: calc(var(--margLeft) * 4);
  width:var(--labWidthSean);
  float:none;
  display:inline-block;
}

.skipLine{
  width:100%;
  height:2px;
  display:inline-block;
  
}

.inputSean{
  margin-left: 10px;
  width:35px;
  height:30px;
  font-size:14px;

}

.inputSean:hover{
  background-color: cyan;
  font-size:14px;
}

.inputText{
  width:var(--textWidth,160px);
  height:30px;
  font-size:14px;
  background-color: lightgrey;
  margin-left:var(--textMarLeft,6px);
}

.inputText:hover{
  color:darkblue;
  font-size:16px;
  background-color: grey;
}

.labelDate{
  width:50px;
  color:blue;
  font-size:14px;
  margin-left: 25px;
  float:none;
}

.theDate{
  width:160px;
  height:30px;
  font-size:14px;
  background-color: lightcyan;
  color:blue;
}
.theDateBuffer{
  width:1px;
  margin-top:10px;
}

.theDate:hover{
  font-size:16px;
  background-color: lightgrey;
  color:red;
}
.posCalendar{
  /*
  margin-left: 20px; 
  margin-top:-10px;

  */
  float:none; 
  width:45px; 
  height:55px;
  font-size:25px;
  color:blue;
  padding-left:10px;
  padding-top:13px;
  vertical-align: middle;
}
.posCalendar:hover{
 color:red;
}
td{
  width:35px;  
  padding-left:5px; 
  border:solid 0px red;
}


.specialDiv{
  position:relative; 
  margin-top:10px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:10px;
  border:solid 0px blue;
  
}

.blockBody{
  position:relative; 
  margin-top:30px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:40px;
  background-color: lightblue;
  
}

.selectbody{
  color:red; 
  font-size: 22px; 
  display:block; 
  border: solid 0px red;
  float:left;
  margin-left:10px;
  padding-top:5px;
}

.posBinBody{
  float:left; 
  margin-left:50px; 
  padding-top:5px;
  margin-top:4px;
}

.blockOptions{
  position:relative; 
  margin-top:30px; 
  margin-left:10px; 
  float:left;
  display:block;
  width:90%;
  height:40px;
  max-width: 500px;
  
}
.selectOptions{
  color:blue; 
  font-size: 18px; 
  
  display:block; 
  border: solid 0px red;
  float:left;
  margin-left:10px;
}


.newOptions{
  color:blue; 
  font-size: 22px; 
  width: 40%; 
  max-width: 250px;
  display:block; 
  float:left;
  margin-left:20px;
  padding-top:5px;
}

.posBin{
  float:right; 
  margin-right:100px; 
  margin-top:0px;
}

.iconBuffer{
  width:22px; 
  height:22px; 
  font-size:16px;
  margin-left:10px;
  display:inline-block;
  float:none;
}

.iconAdd{
  width:22px; 
  height:22px; 
  font-size:16px;
  background-color: cyan;
  color:blue;
  padding-left:3px;
  padding-top:3px;
  vertical-align: middle;
  margin-left:10px;
}

.iconBin{
  width:22px; 
  height:22px; 
  font-size:16px;
  background-color: cyan;
  color:red;
  padding-left:3px;
  padding-top:3px;
  margin-left:10px;
  
}

.iconBin:hover{
  color:blue; 
}

.iconAdd:hover{
  background-color:grey; 
}


.even{
  color:blue;
  background-color: lightgrey;
}

.odd{
  color:black;
  background-color: lightcyan;
}

.objectHeader{
  font-family: 'Roboto';
  height:60px;
  margin-left:30px;
  font-size:20px;  
  width:85%;
  font-weight: bold;
  display:block;
  border:solid 2px blue;
  padding-top:15px;
  background-color: cyan;
  text-align: center;
  color:red;
  }

.object{
font-family: 'Roboto';
height:60px;
margin-left:30px;
font-size:16px;  
width:85%;
font-weight: bold;
display:block;
border:solid 2px blue;
padding-top:15px;
padding-left:10px;
}


.object li {
cursor: pointer;
border-radius: 4px;
display: block;
border: solid 0px black;
}

.object li.selected:hover {
background-color: #0b9db1 !important;
border: solid 1px blue(0, 255, 42);
}

.object li:hover {
color: #607D8B;
background-color: rgb(30, 216, 200);
left: .1em;
border: solid 1px black;
}


.object:hover{
background-color: cyan;
font-size:18px;  
}


.sizeButtons{
  width:100px;
  height:40px;
  background-color:cyan;
  font-size:14px;
  border: solid 1px blue;
  margin-left:50px;
}

.sizeButtons:hover{
  color:rgb(48, 89, 159);
}

.inputSession{
 
  font-size:14px;
  margin-left:5px; 
  width:40px;
  height:30px;
  font-size:14px; 
  color:red;
}

.inputSession:hover{
  background-color: rgb(22, 92, 162);
  font-size:16px;
  color:rgb(45, 5, 5);
}

      /*** ====================================== ***/
    /*** ============== @media 1010 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width: 1010px) {
      body{
        max-width: 620px;
      }

      div{
        --margLeft: 10px;
        --LabWidth: 120px;
        --textWidth:80px;
        --DropLeft:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
        --DropLeftPerf:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
      }

      .inputText{
        width:var(--textWidth,100px);
      }

      .labelDate{
        /*
        width: calc(var(--LabWidth) - var(--margLeft) + 38px);
        margin-left: calc(var(--margLeft) * 2);
        text-align: right;
        */
        width:80px;
        margin-left:calc(var(--LabWidth) + var(--margLeft) - 80px);
        padding-right: 10px;
        background-color: cyan;
        text-align: right;
      }

      .theDate{
        width:var(--textWidth);
        margin-top:10px;
        margin-left:10px;
      }

      .theDateBuffer{
        width:27px;
        display:inline-block;
      }

      .labelActiv{
        margin-left: calc(var(--margLeft) * 2);
        width:calc(var(--LabWidth) - var(--margLeft));
      }

      .labelSean{
        margin-left: calc(var(--margLeft) * 3);
      }
      
      .dropdown-options{
        width:160px;
        font-size:12px;
      }
      
      .objectHeader{
        font-size:16px;  
        }
 
      .object{
      height:40px;
      font-size:12px;  
      }
      

      .object:hover{
      font-size:14px;  
      }


      .inputSession:hover{
        font-size:16px;

      }
    }