<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

<body>

<h2 style="margin-top:5px;"><br></h2>
<h1 style="color:red; font-size:26px; margin-top: 5px; display:block; text-align:center; width:100%">My Fitness Performance!</h1>

<div class="specialDiv">
    <span style="font-size:16px; color:red; margin-left:30px;"  >
        
    </span>
</div>

<div [formGroup]="TheSelectDisplays" style="display:block; background-color:lightgrey; width:350px; height:100px; margin-left:20px; border:solid 2px blue; ">
    <div  >
        <div style="margin-left:10px; width:60%; display:block; background-color:lightgrey; float:left; ">Performance figures </div>  
        <input  (click)='SelRadio("Y-1")' type="radio" name="PerfFigures" formControlName="PerfFigures" id="PerfFigures"  value="Y" > &nbsp;&nbsp;Yes 
        <input  (click)='SelRadio("N-1")' style="margin-left:10px;" type="radio" name="PerfFigures" formControlName="PerfFigures" id="PerfFigures"  value="N">  &nbsp;&nbsp; No 
    </div>

    <div  >
        <div style="margin-left:10px; width:60%; display:block; background-color:lightgrey; float:left; ">Performance chart </div> 
        <input  (click)='SelRadio("Y-2")' type="radio" name="PerfChart" formControlName="PerfChart" id="PerfChart" value="Y" > &nbsp;&nbsp;Yes 
        <input  (click)='SelRadio("N-2")' style="margin-left:10px;" type="radio" name="PerfChart" formControlName="PerfChart" id="PerfChart" value="N"> &nbsp;&nbsp;No 
    </div>

    <div  >
        <div style="margin-left:10px; width:60%; display:block; background-color:lightgrey; float:left; ">Configuration </div> 
        <input  (click)='SelRadio("Y-3")'type="radio" name="Config" formControlName="Config" id="Config" value="Y" > &nbsp;&nbsp;Yes 
        <input  (click)='SelRadio("N-3")' style="margin-left:10px;" type="radio" name="Config" formControlName="Config" id="Config" value="N" > &nbsp;&nbsp;No 
    </div>
    <!--
    <input  id="S1" style='margin-left:40px; margin-top:10px;' type="submit" value="Validate" (click)="SelectDisplay()">
   -->
    <br><br>
    <!--

Performance figures  <input type="radio" id="PerfFigures"  value="Y">Yes 
    <label for="PerfChart"> Performance chart</label> 
       <label for="Config"> Configuration</label> 
        <input type="submit" value="Submit" (click)="SelectDisplay()">
    -->
   
</div>

<div style="margin-top:20px;"></div>
<div id="theTop"></div>  

<div *ngIf="DisplayPerfFigures===true">
<div *ngFor="let theSport of NewPerformanceFitness.Sport; let i=index" > 

    <!-- ***************** MANAGE SPORT ********************** [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}"-->
 <div class="theDiv"  [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">
    <div class="skipLine" style="height:8px; display:block; float:left; border-top:solid black 2px; width:100%; margin-left:0px;"  
                [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">&nbsp;</div>
    <div class="topDiv topDivwidth">
       
        <label class="labelSport">Sport</label>
        <span *ngIf="NewPerformanceFitness.Sport.length>1">
            <mat-icon  class="material-icons-outlined iconBin"  (click)="delItem($event)" id='Spor-{{i}}'>
                delete 
            </mat-icon>
        </span>
        <span *ngIf="NewPerformanceFitness.Sport.length===1">
            <span class="iconBuffer">&nbsp;</span>
        </span>
        <input id="Spor-{{i}}" (input)="onInput($event)" style="background-color: lightskyblue; font-weight: bold; color:red" class="inputText" type="text" value="{{theSport.Sport_name}}" >
    </div>  
    <div class="dropdown arrow_down" >
        <mat-icon class="material-symbols-outlined arrow_down_size"  id='Sport-{{i}}' (click)="theArrow($event)" >
            arrow_drop_down
        </mat-icon>

    </div>
    <div *ngIf="OpenDialogue[0]===true && TabOfId[0]===i " >
        <app-my-drop-down [MyConfigFitness]="MyConfigFitness"  [myEvent]="myEvent" [OpenDialogue]="OpenDialogue"
        [TabOfId]="TabOfId" [TabPerfConfig]="TabPerfConfig"
        [callingComponent]="callingComponent" (selectedCriteria)="DropDownData($event)">
        </app-my-drop-down>
    </div>

    <mat-icon class="material-icons-outlined iconAdd"  (click)="addItem($event)"  id='Spor-{{i}}'>
        add_circle
    </mat-icon>  

 </div> <!-- end theDiv -->

 <div class="skipLine" style="height:8px; display:block; float:left;"  [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">&nbsp;</div>
 <div class="theDiv"  [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">
    
    <!-- ******** MANAGE THE DATE********  -->
    <!-- <div style="height:30px; width:80%; display:block; border:solid 2px black; margin-top:0px;" > -->

    <div class="topDiv topDivwidth">
        <span *ngIf="ErrorinputDate[i]!==''" style="margin-left:20px; color:red; font:12px;">{{ErrorinputDate[i]}}</span>
        <label class="labelDate">Date</label>
        
        <input class="inputDate" id="Date-{{i}}"  type="text" value="{{TabinputDate[i]}}" (input)="CheckDate($event)">
    </div>
        <mat-icon  id="Date-{{i}}"  class="material-icons-outlined posCalendar" (click)="ActionCalendar($event)" >
                calendar_month
        </mat-icon>
</div> <!-- end theDiv -->          
        <div *ngIf='TabDisplayCalendar[i]===true' >
                    <div style="margin: 20px"></div>
                    <app-one-calendar [Input_MinDate]="minDate" [Input_MaxDate]="maxDate" [DisplayCalendarOnly]="DisplayCalendarOnly"
                            [Input_SelectedDate]="selected_date" [Input_IsSelectedDate]="isSelectedDate" 
                            [Input_Travel_O_R]="Input_Travel_O_R" 
                             (my_SelectedDate)='SelectedDate($event)'>  
                    </app-one-calendar>
            
                <br><br>
        </div>
    
    <!-- ***************** MANAGE OVERALL EXERCISES ACTIVITY ********************** -->
    <div *ngFor="let theActivity of NewPerformanceFitness.Sport[i].exercise; let j=index">
        <!-- ***************** MANAGE ACTIVITY ********************** -->
    <!--  =====  Test on N/A =======  -->  

    <div *ngIf="TabPerfConfig[i]=== undefined || (TabPerfConfig[i]!== undefined && MyConfigFitness.ListSport[TabPerfConfig[i]].activityName[0]!=='N/A' )">
        <div class="theDiv"  [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">
            <div class="topDiv topDivwidth" >
                <label class="labelActiv"  >Activity</label>
                <span *ngIf="NewPerformanceFitness.Sport[i].exercise.length>1">
                    <mat-icon  class="material-icons-outlined iconBin"  (click)="delItem($event)" id='Acti-{{i}}-{{j}}'>
                        delete 
                    </mat-icon>
                </span>

                <span *ngIf="NewPerformanceFitness.Sport[i].exercise.length===1">
                    <span class="iconBuffer" >&nbsp;</span>
                </span>

                <input id="Acti-{{i}}-{{j}}" (input)="onInput($event)" class="inputText" type="text" value="{{theActivity.Activity_name}}">
            </div> 
         
   
            <div class="dropdown arrow_down">
                <mat-icon class="material-symbols-outlined arrow_down_size" id="Activity-{{i}}-{{j}}"  (click)="theArrow($event)" >
                arrow_drop_down
                </mat-icon>

                <span *ngIf="OpenDialogue[1]===true && TabOfId[0]===i && TabOfId[1]===j">
                    <app-my-drop-down [MyConfigFitness]="MyConfigFitness"  [myEvent]="myEvent" [OpenDialogue]="OpenDialogue"
                    [TabOfId]="TabOfId" [TabPerfConfig]="TabPerfConfig"
                    [callingComponent]="callingComponent" (selectedCriteria)="DropDownData($event)">
                    </app-my-drop-down>
                </span>
                
            </div>
            <mat-icon class="material-icons-outlined iconAdd" (click)="addItem($event)"  id='Acti-{{i}}-{{j}}'>
                add_circle
            </mat-icon>  
        </div> <!-- end theDiv -->
    </div> <!-- end of div *ngIf -->

          <!-- ***************** MANAGE EXERCISE AND PERF ********************** -->
    <span *ngFor="let TabExec of NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise; let k=index">
                
            <!--  =====  Test on N/A =======  -->           
            <span *ngIf="TabPerfConfig[i]=== undefined || (TabPerfConfig[i]!== undefined && MyConfigFitness.ListSport[TabPerfConfig[i]].activityExercise[0]!=='N/A' )">
                <div class="theDiv"  [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">
                    <div class="topDiv topDivExeTwo" >
                        <label class="labelExec">Exercise</label>
                        <span *ngIf="NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise.length>1">
                            <mat-icon  class="material-icons-outlined iconBin" (click)="delItem($event)" id='Exec-{{i}}-{{j}}-{{k}}'>
                                delete 
                            </mat-icon>
                        </span>
                        <span *ngIf="NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise.length===1">
                            <span class="iconBuffer">&nbsp;</span>
                        </span>
                        <!--unit used for the exercise (kg, sec, etc.)-->
                        <input id="nExe-{{i}}-{{j}}-{{k}}" (input)="onInput($event)" class="inputText" type="text" value="{{NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].Exercise_name}}">
                        
      
                    </div> <!-- end topDiv topDivwidth -->
                    
                    <div class="dropdown arrow_down">
                        <mat-icon class="material-symbols-outlined arrow_down_size"  id="ExerciseName-{{i}}-{{j}}-{{k}}" (click)="theArrow($event)" >
                                arrow_drop_down
                        </mat-icon>

                        <span *ngIf="OpenDialogue[5]===true && TabOfId[0]===i && TabOfId[1]===j  && TabOfId[2]===k">
                            <app-my-drop-down [MyConfigFitness]="MyConfigFitness"  [myEvent]="myEvent" [OpenDialogue]="OpenDialogue"
                            [TabOfId]="TabOfId" [TabPerfConfig]="TabPerfConfig"
                            [callingComponent]="callingComponent" (selectedCriteria)="DropDownData($event)">
                            </app-my-drop-down>
                        </span>
                    </div>
                    <div class="topDiv topDivExeOne" >
                        <input id="uExe-{{i}}-{{j}}-{{k}}" (input)="onInput($event)" class="inputText" style='width:40px; float:right;' type="text" value="{{NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].Exercise_unit}}">
                    </div>
                    <span class="dropdown arrow_down">
                        <mat-icon class="material-symbols-outlined arrow_down_size" id="ExerciseUnit-{{i}}-{{j}}-{{k}}"  (click)="theArrow($event)" >
                        arrow_drop_down
                        </mat-icon>
 
                        <div *ngIf="OpenDialogue[2]===true && TabOfId[0]===i && TabOfId[1]===j && TabOfId[2]===k" >
                            <app-my-drop-down [MyConfigFitness]="MyConfigFitness"  [myEvent]="myEvent" [OpenDialogue]="OpenDialogue"
                            [TabOfId]="TabOfId" [TabPerfConfig]="TabPerfConfig"
                            [callingComponent]="callingComponent" (selectedCriteria)="DropDownData($event)">
                            </app-my-drop-down>
                        </div>
                    </span> 

                    <mat-icon class="material-icons-outlined iconAdd" (click)="addItem($event)"  id='Exec-{{i}}-{{j}}-{{k}}'>
                        add_circle
                    </mat-icon>  
                </div> <!-- end theDiv -->

    <!-- ******** SEANCE *********** -->

        <span *ngFor="let SecSeance of NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].seance; let t=index">
            
           
            <span *ngIf="getScreenWidth<refMedia+1 && t % 3 ===0 || getScreenWidth>refMedia  && t % 5 ===0">
            <div class="theDiv"  [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">
                <label *ngIf='SecSeance.length!==0 && t===0' class="labelSean">Seance(s)
                </label>
                <label *ngIf="(getScreenWidth<refMedia+1 && t>0 && t % 3 ===0) || (getScreenWidth>refMedia  && t>0 && t % 5 ===0)" class="labelSean">
                    &nbsp;
                </label>
                
                <span *ngFor="let Seance of NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].seance; let l=index">
                    <span *ngIf="(getScreenWidth<refMedia+1 && l>=t && l<t+3) || (getScreenWidth>refMedia && l>=t && l<t+5)" >
                                    <span *ngIf="NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].seance.length>1">
                                        
                                        <mat-icon  class="material-icons-outlined iconBin" (click)="delItem($event)" id='Sean-{{i}}-{{j}}-{{k}}-{{l}}'>
                                            delete 
                                        </mat-icon>
                                    
                                    </span>
                            
                                    <input id="Sean-{{i}}-{{j}}-{{k}}-{{l}}" (input)="onInput($event)" class="inputSean" type="text" value="{{Seance.nb}}">
                                
                                <span *ngIf="NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].seance.length-1===l" style=' margin-top:10px;'>
                                    <mat-icon class="material-icons-outlined iconAdd"  style='float:none; ' (click)="addItem($event)"  id='Sean-{{i}}-{{j}}-{{k}}-{{l}}'>
                                            add_circle
                                    </mat-icon>  
                                </span>
                    </span>
                </span>  <!-- end ngFor Seance-->
            </div> <!-- end theDiv -->
            </span>
        </span>   
            
            </span> <!-- end ngIf N/A on Exercise-->
            

                <!--  =====*********  Result *********=======  -->

            <span *ngIf="NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].Result!==undefined">
                
        <!--  =====  Test on N/A =======  -->           
                <span *ngIf="TabPerfConfig[i]=== undefined || (TabPerfConfig[i]!== undefined && MyConfigFitness.ListSport[TabPerfConfig[i]].activityPerf[0]!=='N/A' )">

                    <span *ngFor="let theResult of NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].Result; let p=index">
                    <div class="theDiv"  [ngClass]="{'GroundCyan':  i % 2 !==0, 'GroundGrey':  i % 2 ===0}">
                        <div class="topDiv " >
                            <label *ngIf="p!==0" class="labelSean" style="margin-top:8px;">&nbsp;</label>
                            <label *ngIf="p===0" class="labelSean" style="margin-top:8px;">Result</label>

                            <span *ngIf="NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].Result.length>1">
                                <mat-icon  class="material-icons-outlined iconBin"  (click)="delItem($event)" id='Resu-{{i}}-{{j}}-{{k}}-{{p}}'>
                                    delete 
                                </mat-icon>
                            </span>
                            <input id="tPerf-{{i}}-{{j}}-{{k}}-{{p}}" (input)="onInputPerf($event)" class="inputText" type="text" value="{{theResult.perf_type}}">
                        </div>

                        <div style="margin-top:-10px;" >
                            <div class="dropdown arrow_down">
                                <mat-icon class="material-symbols-outlined arrow_down_size" id="PerfType-{{i}}-{{j}}-{{k}}-{{p}}"  (click)="theArrow($event)" >
                                        arrow_drop_down
                                </mat-icon>   

                            <div *ngIf="OpenDialogue[3]===true && TabOfId[0]===i && TabOfId[1]===j && TabOfId[2]===k && TabOfId[3]===p">
                                
                                    <app-my-drop-down [MyConfigFitness]="MyConfigFitness"  [myEvent]="myEvent" [OpenDialogue]="OpenDialogue"
                                    [TabOfId]="TabOfId" [TabPerfConfig]="TabPerfConfig"
                                    [callingComponent]="callingComponent" (selectedCriteria)="DropDownData($event)">
                                    </app-my-drop-down>
                                
                            </div>
                            </div>
                            <div class="topDiv " style="margin-left:0px;"> <!--- SMALL SCREEN 10px  LARGE SCREEN 30px;-->
                                    <input id="vPerf-{{i}}-{{j}}-{{k}}-{{p}}" (input)="onInputPerf($event)" class="inputSean" type="text" value="{{theResult.perf}}">
                                    <input id="uPerf-{{i}}-{{j}}-{{k}}-{{p}}" (input)="onInputPerf($event)" class="inputSean" style='width:70px;' type="text" value="{{theResult.unit}}">
                            </div>
                        
                            <!-- Arrow for the unit of Result-->
                            <span class="dropdown arrow_down" >
                                <mat-icon class="material-symbols-outlined arrow_down_size"  id="PerfUnit-{{i}}-{{j}}-{{k}}-{{p}}" (click)="theArrow($event)" >
                                arrow_drop_down
                                </mat-icon>   
  
                            </span>
                            <div *ngIf=" OpenDialogue[4]===true && TabOfId[0]===i && TabOfId[1]===j && TabOfId[2]===k && TabOfId[3]===p">
                                    <app-my-drop-down [MyConfigFitness]="MyConfigFitness"  [myEvent]="myEvent" [OpenDialogue]="OpenDialogue"
                                    [TabOfId]="TabOfId" [TabPerfConfig]="TabPerfConfig"
                                    [callingComponent]="callingComponent" (selectedCriteria)="DropDownData($event)">
                                    </app-my-drop-down>
                            
                            </div>
                        </div>
                        <span *ngIf="NewPerformanceFitness.Sport[i].exercise[j].ActivityExercise[k].Result.length-1===p">
                            <mat-icon class="material-icons-outlined iconAdd"  (click)="addItem($event)"  id='Resu-{{i}}-{{j}}-{{k}}-{{p}}'>
                                add_circle
                            </mat-icon>  
                            <br><br>
                        </span>
                    </div> <!-- end theDiv -->
                    </span> <!-- end ngFor Result-->
                
                </span> <!--  end ngIf N/A on Result.PerfType -->
            </span> <!--  end ngFor Result -->

        </span> <!--  end ngFor ActivityExercise -->



    </div> <!--  end ngFor Master Exercise -->
    
   
</div> <!--  end ngFor Sport -->
<div class="skipLine">&nbsp;</div>

<div style="margin-top:20px; width:80%">
        <span *ngIf="IsSaveConfirmed===false">
            <button id='but_1' class="sizeButtons" (click)="ConfirmSave()"> Save</button>
            <button id='but_2' class="sizeButtons" (click)="CancelRecord()"> Cancel</button>
            <span style="font-size:16px; color:red; margin-left:30px;"  >
               <br>{{message}}  
            </span>
        </span>

        <span *ngIf="IsSaveConfirmed===true">
            <form  [formGroup]="SpecificForm" >
                <span style="font-size:16px; color:blue; margin-left:30px;"  >
                Please enter the name of the file you want to save your data in :
            </span>
                <input type='text' formControlName="FileName" >
                <br><br>
                <button id='but_3' class="sizeButtons" (click)="SaveNewRecord()">Confirm</button>
                <button id='but_4' class="sizeButtons" (click)="CancelSave()"> Cancel</button>
            </form>
            
        </span>
        <br><br>
</div>  


    <!-- 
    <div id="AccessToListFiles"></div>
   
            <div style="margin-top:20px;"  *ngIf="DisplayListOfObjects===true">
                    <div class="objectHeader">LIST OF OBJECTS STORED IN THE CLOUD</div>
                    <li style="list-style-type: none;" *ngFor="let ListObject of  myListOfObjects.items; let i=index"  
                        (click)="RetrieveSelectedFile(ListObject)">  
                        <span  *ngIf="i % 2 === 0" class="object even">{{i+1}} - {{ListObject.name}}</span>
                        <span  *ngIf="i % 2 !== 0" class="object odd">{{i+1}} - {{ListObject.name}}</span>
                    </li>
            </div>
            <div *ngIf="DisplayListOfObjects===false" class="specialDiv">
                    <h2 style=' color:red; margin-top:50px;'>List of objects is being retrieved from the cloud</h2>
                    {{HTTP_Address}}
            </div>
  -->
</div>

<br><br>
   <!--  ********************** File selection to process charts ************************************************  -->   
 
   <div style="margin-top:20px;"  *ngIf="DisplayListOfObjects===true && DisplayPerfChart===true">
         <div class="objectHeader">Select the files for your chart performance</div>
            <form  [formGroup]="ChartFileForm" >
                 <div formArrayName="select_file"  *ngFor="let FormChart of ChartFileList.controls; let i=index">
                        <div [formGroupName]="i" >
                             <li style="list-style-type: none;">
                                <span *ngIf="FormChart.value.selected==='Y'" >
                                    <input  style="margin-left:45px; margin-top:15px; float:left;" (click)='RadioSelection($event)' type="radio"  id="N-{{i}}" value="Y" checked >
                                    <span  [ngClass]="{'even': i % 2 === 0, 'odd':i % 2 !== 0}"  class=" object" style=" padding-left:40px; padding-top:10px; " >{{i+1}} - {{myListOfObjects.items[i].name}}</span>
                                      </span>
                                <span *ngIf="FormChart.value.selected==='N'">
                                    <input  style="margin-left:45px;margin-top:15px; float:left;" (click)='RadioSelection($event)'  type="radio" id="Y-{{i}}" value="Y" > 
                                    <span  [ngClass]="{'even': i % 2 === 0, 'odd':i % 2 !== 0}" class="object" style=" padding-left:40px; padding-top:10px;">{{i+1}} - {{myListOfObjects.items[i].name}}</span>
                                </span>
                                
                            </li>
                        </div>    
                </div>
                <div class="skipLine">&nbsp;</div>
                <input class="sizeButtons" style='margin-left:40px;' type='Submit' id="S2" (click)='ChartFileSelection()' value="Submit">
                <button class="sizeButtons" style='margin-left:20px;' (click)='SelectAll()'>Select All</button>
                <button class="sizeButtons" style='margin-left:20px;' (click)='CancelAll()'>Cancel All</button>
            </form>
        </div>
         <br><br>
 

<!-- ========= DISPLAY THE TABLE WITH ALL FIGURES AS WELL AS THE CHART(S) ============= -->
 <div *ngIf="this.DisplayMerge===true" >
    <app-fitness-chart 
            [TabBigData]="TabBigData"  [MyConfigFitness]="MyConfigFitness" [TriggerChartChange]="TriggerChartChange">
    </app-fitness-chart>
 </div>

<!-- Manage the config file -->
<div *ngIf="DisplayConfig===true  && DisplayConfig===true">
 <h1 class="labelList titleManageConf" >
  MANAGE CONFIGURATION OF FITNESS
</h1>
    <div *ngFor=" let sports of MyConfigFitness.ListSport; let i=index" >
    
        <label class="labelList" style="background-color: blue; color:white; font-weight: bold;">Sports</label> 
        <div class="topDiv">
            <span *ngIf="MyConfigFitness.ListSport.length>1"> 
                <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft"  (click)="delConfig($event)" id='dSpo-{{i}}'>
                    delete 
                </mat-icon>
            </span>
            <span *ngIf="MyConfigFitness.ListSport.length===1">
                <span class="iconBuffer">&nbsp;</span>
            </span>
            &nbsp;&nbsp;
            <input id='cSpo-{{i}}' (input)="onInputList($event)"  class="inputText"  type="text" value="{{MyConfigFitness.ListSport[i].sportName}}" > 
        </div>
        <div class="dropdown arrow_down">
            <mat-icon class="material-symbols-outlined arrow_down_size" id="lSport-{{i}}" (click)="onArrow($event)" >
              arrow_drop_down
            </mat-icon>
            
            <div class="Straight-content" *ngIf="OpenDialogue[6]===true  && TabOfId[0]===i">
                <div  class=" StraightDropDown" style="margin-top:0px; margin-left:10px;" >
                    <ul class="Buffer">&nbsp; </ul>
                            <li *ngFor="let selSport of MyConfigFitness.TabSport; let m=index;" 
                                class="Straight-options"  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                (click)="onClickList($event)" id="lSport-{{i}}" [value]="selSport.name" >{{selSport.name}}</li>
                        <button class="sizeButtons" style="margin-left:100px;" (click)="cancelDropDown()">Cancel</button>
                        <div class="Buffer" class="margin-top:15px;">&nbsp; </div>    
                </div>
            </div>
      
        </div>
        
        <span > 
            <mat-icon class="material-icons-outlined iconAdd" (click)="addConfig($event)"  id='aSpo-{{i}}'>
                add_circle
            </mat-icon>  
        </span>

        <div class="skipLine">&nbsp;</div>
        <label class="labelList" > List of activities</label>
        <div *ngFor=" let Name of MyConfigFitness.ListSport[i].activityName; let k=index">
            <span *ngIf="k % nbToDisplay ===0  && k>0">
                    <div style="width:120px; ">&nbsp;</div>
            </span> 
            <div class="topDiv">
                <span *ngIf="MyConfigFitness.ListSport[i].activityName.length>1"> 
                    <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft"  (click)="delConfig($event)" id='dAct-{{i}}-{{k}}'>
                        delete 
                    </mat-icon>
                </span>
                <span *ngIf="MyConfigFitness.ListSport[i].activityName.length===1">
                    <span class="iconBuffer">&nbsp;</span>
                </span>
                &nbsp;&nbsp;
                <input id='cAct-{{i}}-{{k}}' (input)="onInputList($event)" class="inputText"  type="text" value="{{MyConfigFitness.ListSport[i].activityName[k]}}" > 
            </div>
            <div class="arrow_down dropdown ">
                <mat-icon class="material-symbols-outlined arrow_down_size" id='lActivity-{{i}}-{{k}}' (click)="onArrow($event)" >
                  arrow_drop_down
                </mat-icon>
            

                <div class="Straight-content" *ngIf="OpenDialogue[7]===true  && TabOfId[0]===i && TabOfId[1]===k">
                    <div  class=" StraightDropDown" style="margin-top:0px; margin-left:10px;" >
                        <ul class="Buffer">&nbsp; </ul>
                            <li *ngFor="let activity of MyConfigFitness.TabActivity; let m=index;" 
                                    class="Straight-options"  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onClickList($event)" id="lActivity-{{i}}-{{k}}" [value]="activity.name" >{{activity.name}}</li>
                            <button class="sizeButtons" style="margin-left:100px;" (click)="cancelDropDown()">Cancel</button>
                            <div class="Buffer" class="margin-top:15px;">&nbsp; </div>     
                    </div>
                </div>
   
            </div>
            
            <span *ngIf="MyConfigFitness.ListSport[i].activityName.length===k+1"> 
                <mat-icon class="material-icons-outlined iconAdd" (click)="addConfig($event)"  id='aAct-{{i}}-{{k}}'>
                    add_circle
                </mat-icon>  
            </span>
        </div>
      

        <div class="skipLine">&nbsp;</div>  
        <label class="labelList" > List of exercises</label>
        <div *ngFor=" let Exec of MyConfigFitness.ListSport[i].activityExercise; let k=index">
            <span *ngIf="k % nbToDisplay ===0  && k>0">
                <div style="width:120px; ">&nbsp;</div>
            </span> 
            <div class="topDiv">
                <span *ngIf="MyConfigFitness.ListSport[i].activityExercise.length>1"> 
                    <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delConfig($event)" id='dExe-{{i}}-{{k}}'>
                        delete 
                    </mat-icon>
                </span>
                <span *ngIf="MyConfigFitness.ListSport[i].activityExercise.length===1">
                    <span class="iconBuffer">&nbsp;</span>
                </span>
                &nbsp;&nbsp;
                <input id='cExe-{{i}}-{{k}}' (input)="onInputList($event)" class="inputText"   type="text" value="{{MyConfigFitness.ListSport[i].activityExercise[k]}}" > 
            </div>
            <div class="dropdown arrow_down">
                <mat-icon class="material-symbols-outlined arrow_down_size" id='lExercise-{{i}}-{{k}}' (click)="onArrow($event)" >
                  arrow_drop_down
                </mat-icon>
                
                <div class="Straight-content" *ngIf="OpenDialogue[11]===true  && TabOfId[0]===i && TabOfId[1]===k">
                    <div  class=" StraightDropDown" style="margin-top:0px; margin-left:10px;" >
                        <ul class="Buffer">&nbsp; </ul>
                            <li *ngFor="let Exercise of MyConfigFitness.TabExercise; let m=index;" 
                                    class="Straight-options"  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onClickList($event)" id="lExercise-{{i}}-{{k}}" [value]="Exercise.name" >{{Exercise.name}}</li>
                            <button class="sizeButtons" style="margin-left:100px;" (click)="cancelDropDown()">Cancel</button>
                            <div class="Buffer" class="margin-top:15px;">&nbsp; </div>                            
                    </div>
                </div>
            </div>
            
            
            <span *ngIf="MyConfigFitness.ListSport[i].activityExercise.length===k+1"> 
                <mat-icon class="material-icons-outlined iconAdd" (click)="addConfig($event)"  id='aExe-{{i}}-{{k}}'>
                    add_circle
                </mat-icon>  
            </span>

        </div>

        <div class="skipLine">&nbsp;</div>  
        <label class="labelList" > List of units</label>
        <div *ngFor=" let Unit of MyConfigFitness.ListSport[i].activityUnit; let k=index">
            <span *ngIf="(getScreenWidth<refMedia+1 && k>0 && k % 2 ===0) || (getScreenWidth>refMedia  && k % 4 ===0  && k>0 )">
                <div style="width:120px; ">&nbsp;</div>
            </span> 
            <div class="topDiv">
                <span *ngIf="MyConfigFitness.ListSport[i].activityUnit.length>1"> 
                    <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delConfig($event)" id='dUniExer-{{i}}-{{k}}'>
                        delete 
                    </mat-icon>
                </span>
                <span *ngIf="MyConfigFitness.ListSport[i].activityUnit.length===1">
                    <span class="iconBuffer">&nbsp;</span>
                </span>
                &nbsp;&nbsp;
                <input class="inputText"  type="text" value="{{Unit}}" id='cUni-{{i}}-{{k}}' (input)="onInputList($event)"> 
            </div>
            <span class="dropdown arrow_down">
                <mat-icon class="material-symbols-outlined arrow_down_size" id='lUnit-{{i}}-{{k}}' (click)="onArrow($event)" >
                  arrow_drop_down
                </mat-icon>
                
                <div class="Straight-content" *ngIf="OpenDialogue[12]===true  && TabOfId[0]===i && TabOfId[1]===k">
                    <div  class=" StraightDropDown" style="margin-top:0px; margin-left:10px;" >
                        <ul class="Buffer">&nbsp; </ul>
                            <li *ngFor="let selUnit of MyConfigFitness.TabUnits; let m=index;" 
                                    class="Straight-options"  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onClickList($event)" id="lUnit-{{i}}-{{k}}" [value]="selUnit.name" >{{selUnit.name}}</li>
                            <button class="sizeButtons" style="margin-left:100px;" (click)="cancelDropDown()">Cancel</button>
                            <div class="Buffer" class="margin-top:15px;">&nbsp; </div>        
                    </div>
                </div>

            </span>
            
            <span *ngIf="MyConfigFitness.ListSport[i].activityUnit.length===k+1"> 
                <mat-icon class="material-icons-outlined iconAdd" (click)="addConfig($event)"  id='aUni-{{i}}-{{k}}'>
                    add_circle
                </mat-icon>  
            </span>

        </div>
        <div class="skipLine">&nbsp;</div>  
        <label  class="labelList"> List of Type Performance</label>
        <div *ngFor=" let Perf of MyConfigFitness.ListSport[i].activityPerf; let k=index">
            <span *ngIf="(getScreenWidth<refMedia+1 && k>0 && k % 2 ===0) || (getScreenWidth>refMedia  && k % 4 ===0  && k>0 )">
                <div style="width:120px; ">&nbsp;</div>
            </span> 
            <div class="topDiv">
                <span *ngIf="MyConfigFitness.ListSport[i].activityPerf.length>1"> 
                    <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delConfig($event)" id='dPerType-{{i}}-{{k}}'>
                        delete 
                    </mat-icon>
                </span>
                <span *ngIf="MyConfigFitness.ListSport[i].activityPerf.length===1">
                    <span class="iconBuffer">&nbsp;</span>
                </span>
                &nbsp;&nbsp;
                <input class="inputText"  type="text" value="{{Perf}}" id='cPerType-{{i}}-{{k}}' (input)="onInputList($event)"> 
            </div>
            <div class="dropdown arrow_down">
                <mat-icon class="material-symbols-outlined arrow_down_size" id='lPerfType-{{i}}-{{k}}' (click)="onArrow($event)" >
                  arrow_drop_down
                </mat-icon>
                               
                <div class="Straight-content" *ngIf="OpenDialogue[9]===true  && TabOfId[0]===i && TabOfId[1]===k">
                    <div  class=" StraightDropDown" style="margin-top:0px; margin-left:10px;" >
                        <ul class="Buffer">&nbsp; </ul>
                            <li *ngFor="let selPerfType of MyConfigFitness.TabPerfType;  let m=index;" 
                                    class="Straight-options"  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onClickList($event)" id="lPerfType-{{i}}-{{k}}" [value]="selPerfType.name" >{{selPerfType.name}}</li>
                            <button class="sizeButtons" style="margin-left:100px;" (click)="cancelDropDown()">Cancel</button>
                            <div class="Buffer" class="margin-top:15px;">&nbsp; </div>    
                    </div>
                </div>

            </div>
            
            <span *ngIf="MyConfigFitness.ListSport[i].activityPerf.length===k+1"> 
                <mat-icon class="material-icons-outlined iconAdd" (click)="addConfig($event)"  id='aPerType-{{i}}-{{k}}'>
                    add_circle
                </mat-icon>  
            </span>

        </div>
        <div class="skipLine">&nbsp;</div>  
        <label  class="labelList"> List of Unit for Type Performance</label>
        <div *ngFor=" let PerfUnit of MyConfigFitness.ListSport[i].activityPerfUnit; let k=index">
            <span *ngIf="(getScreenWidth<refMedia+1 && k>0 && k % 2 ===0) || (getScreenWidth>refMedia  && k % 4 ===0  && k>0 )">
                <div style="width:120px; ">&nbsp;</div>
            </span> 
            <div class="topDiv">
                <span *ngIf="MyConfigFitness.ListSport[i].activityPerfUnit.length>1"> 
                    <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delConfig($event)" id='dPerUnit-{{i}}-{{k}}'>
                        delete 
                    </mat-icon>
                </span>
                <span *ngIf="MyConfigFitness.ListSport[i].activityPerfUnit.length===1">
                    <span class="iconBuffer">&nbsp;</span>
                </span>
                &nbsp;&nbsp;
                <input class="inputText" type="text" value="{{PerfUnit}}" id='cPerUnit-{{i}}-{{k}}' (input)="onInputList($event)"> 
            </div>
     
            <div class="dropdown arrow_down">
                <mat-icon class="material-symbols-outlined arrow_down_size" id='lPerfUnit-{{i}}-{{k}}' (click)="onArrow($event)" >
                  arrow_drop_down
                </mat-icon>
                <div class="Straight-content" *ngIf="OpenDialogue[10]===true  && TabOfId[0]===i && TabOfId[1]===k">
                    <div  class=" StraightDropDown" style="margin-top:0px; margin-left:10px;" >
                        <ul class="Buffer">&nbsp; </ul>
                            <li *ngFor="let selPerfUnit of MyConfigFitness.TabPerfUnit; let m=index;" 
                                    class="Straight-options"  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onClickList($event)" id="lUnitPerf-{{i}}-{{k}}" [value]="selPerfUnit.name" >{{selPerfUnit.name}}</li>
                            <button class="sizeButtons" style="margin-left:100px;" (click)="cancelDropDown()">Cancel</button>
                            <div class="Buffer" class="margin-top:15px;">&nbsp; </div> 
                    </div>
                </div>
   
            </div>
            
            <span *ngIf="MyConfigFitness.ListSport[i].activityPerfUnit.length===k+1"> 
                <mat-icon class="material-icons-outlined iconAdd" (click)="addConfig($event)"  id='aPerUnit-{{i}}-{{k}}'>
                    add_circle
                </mat-icon>  
            </span>

        </div>
        <div class="skipLine">&nbsp;</div> 

    </div>
    <span *ngIf="isConfigConfirmed===false">
        <button id='but_1' class="sizeButtons" (click)="ConfirmConfig()"> Save</button>
        <button id='but_2' class="sizeButtons" (click)="CancelConfig()"> Cancel</button>
        <span style="font-size:16px; color:red; margin-left:30px;"  >
           <br>{{message}}  
        </span>
    </span>

    <span *ngIf="isConfigConfirmed===true">
        <form  [formGroup]="SpecificForm" >
            Please enter the name of the config file you want to save your data in :
            <input type='text' formControlName="FileName" >
            <br><br>
            <button id='but_3' class="sizeButtons" (click)="SaveConfigFtiness()">Confirm</button>
            <button id='but_4' class="sizeButtons" (click)="CancelConfig()"> Cancel</button>
        </form>
        
    </span>
    <br><br><br>


<!-- Manage lists that are in ConfigFitness -->
<h1 class="labelList" style="font-size:18px; height:80px; background-color: lightgrey; color:blue; font-weight: bold;">
    MANAGE SPECIFIC LISTS IN CONFIGURATION OF FITNESS
</h1>
    <label class="labelList" >Sports</label>    
    <div *ngFor=" let lSpo of MyConfigFitness.TabSport; let i=index">
        <div class="topDiv">
            <span *ngIf="MyConfigFitness.TabSport.length>1"> 
                <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delList($event)" id='dSpo-{{i}}}'>
                    delete 
                </mat-icon>
            </span>
            &nbsp;&nbsp;
            <input class="inputText" type="text" [value]=" lSpo.name" id='inSport-{{i}}' (input)="onInputTab($event)">  
        </div>
            <span *ngIf="MyConfigFitness.TabSport.length===i+1"> 
                <mat-icon class="material-icons-outlined iconAdd" (click)="addList($event)"  id='aSpo'>
                    add_circle
                </mat-icon>  
            </span>
         
</div>

    <div class="skipLine">&nbsp;</div>
    <label class="labelList" > List of activities</label>
    <div *ngFor=" let lAct of MyConfigFitness.TabActivity; let i=index">
        <div class="topDiv">
            <span *ngIf="MyConfigFitness.TabActivity.length>1"> 
                <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delList($event)" id='dAct-{{i}}'>
                    delete 
                </mat-icon>
            </span>
            &nbsp;&nbsp;
            <input class="inputText" type="text" [value]="lAct.name" id='inAct-{{i}}' (input)="onInputTab($event)">  
        </div>
            <span *ngIf="MyConfigFitness.TabActivity.length===i+1">
            <mat-icon class="material-icons-outlined iconAdd" (click)="addList($event)"  id='aAct'>
                    add_circle
            </mat-icon>  
        </span>

    </div>

    <div class="skipLine">&nbsp;</div>
    <label class="labelList"> List of exercises</label>
    <div *ngFor=" let lExec of MyConfigFitness.TabExercise; let i=index">
        <div class="topDiv">
            <span *ngIf="MyConfigFitness.TabExercise.length>1"> 
                <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delList($event)" id='dExe-{{i}}'>
                    delete 
                </mat-icon>
            </span>
            &nbsp;&nbsp;
            <input class="inputText" type="text" [value]="lExec.name" id='inExe-{{i}}' (input)="onInputTab($event)">  
        </div>
        <span *ngIf="MyConfigFitness.TabExercise.length===i+1">
            <mat-icon class="material-icons-outlined iconAdd" (click)="addList($event)"  id='aExe'>
                    add_circle
            </mat-icon>  
        </span>

    </div>
    <div class="skipLine">&nbsp;</div>
    <label class="labelList"> List of units</label>
    <div *ngFor=" let lUni of MyConfigFitness.TabUnits; let i=index">
        <div class="topDiv">
            <span *ngIf="MyConfigFitness.TabUnits.length>1"> 
                <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delList($event)" id='dUniExer-{{i}}'>
                    delete 
                </mat-icon>
            </span>
            &nbsp;&nbsp;
            <input class="inputText" type="text" value="{{lUni.name}}" id='inUnit-{{i}}' (input)="onInputTab($event)">  
        </div>
        <span *ngIf="MyConfigFitness.TabUnits.length===i+1"> 
            <mat-icon class="material-icons-outlined iconAdd" (click)="addList($event)"  id='aUni'>
                    add_circle
            </mat-icon>  
        </span>

    </div>

    <div class="skipLine">&nbsp;</div>
    <label class="labelList"> List of Type Performance</label>
    <div *ngFor=" let lPer of MyConfigFitness.TabPerfType; let i=index">
        <div class="topDiv">
            <span *ngIf="MyConfigFitness.TabPerfType.length>1"> 
                <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delList($event)" id='dPer-{{i}}'>
                    delete 
                </mat-icon>
            </span>
            <span *ngIf="MyConfigFitness.TabPerfType.length===0"> 
                <span  class=" iconBuffer" >&nbsp;&nbsp;&nbsp;</span>
            </span>
            &nbsp;&nbsp;
            <input class="inputText" type="text" value="{{lPer.name}}" id='inPerf-{{i}}' (input)="onInputTab($event)">  
        </div>
        <span *ngIf="MyConfigFitness.TabPerfType.length===i+1"> 
            <mat-icon class="material-icons-outlined iconAdd" (click)="addList($event)"  id='aPer'>
                    add_circle
            </mat-icon>  
        </span>

    </div>
    <div class="skipLine">&nbsp;</div>
    <label  class="labelList"> List of Unit for Type Performance</label>
    <div *ngFor=" let lUniPerf of MyConfigFitness.TabPerfUnit; let i=index">
        <div class="topDiv">
            <span *ngIf="MyConfigFitness.TabPerfUnit.length>1"> 
                <mat-icon  class="material-icons-outlined iconBin iconBinMrgLeft" (click)="delList($event)" id='dUnitPerf-{{i}}}'>
                    delete 
                </mat-icon>
            </span>
            <span *ngIf="MyConfigFitness.TabPerfUnit.length===0"> 
                <span  class=" iconBuffer" >&nbsp;&nbsp;&nbsp;</span>
            </span>
            &nbsp;&nbsp;
            <input class="inputText" type="text"   value="{{lUniPerf.name}}" id='inUnitPerf-{{i}}' (input)="onInputTab($event)">  
        </div>
        <span *ngIf="MyConfigFitness.TabPerfUnit.length===i+1"> 
                <mat-icon class="material-icons-outlined iconAdd" (click)="addList($event)"  id='aUnitPerf'>
                        add_circle
                </mat-icon>  
        </span>
       

    </div>

</div>

</body>