@import "./MyLogo.css";
/*
@font-face {
    font-family: 'emoji';
    src: url('emojione-svg.woff2')
    format('woff2');
  }
*/
div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    */

}
body{
    max-width:1250px;
    
}
.dropdown {
    display: inline-block;
  }

/* Links inside the dropdown */
.dropdown-content {
  z-index: 1;
  position: absolute;
  color: black;
  text-align:left;
  text-decoration: none;
  display: inline-block;
  border:solid 0px blue;
  margin-top:90px;
  width:332px;
  height:60px;
  margin-left:-65px;
  height:20px; 
  }

.dropdown-options{
    padding-top:2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height:30px; 
    width:100px;
    display: inline-block;
    background-color:lightblue;
    width:65px;
    font-size:10px;
    height:20px;
    text-align:center;
}
.dropdown-options:hover{
  background-color: lightyellow;
}

.dropdown-odd{
  background-color: lightcyan;
}



.material-symbols-outlined {
    color:blue;
    font-size:20px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 100,
    'opsz' 48;
    
  }
  
  .material-icons {
      color:blue;
      font-weight: 200;
      font-style:normal;
      font-size: 20px;  /* 24px Preferred icon size */
  }
  
  
  .myInfo{
      display:inline-block;
      margin-left:10px;
      width: 96%;
      background-color: lightblue;
      font-size:12px;
      min-height:20px;
      font-size:10px;
      padding-top: 0px;
      
  }
  .dispIcon{
      display:block;
      float:left;
  }
  .textIcon:hover{
      display:inline-block;
      color:red;
      font-weight:700;
      font-size:14px;
  }
  
  .textIcon{
      min-width:120px;
      display:block;
      float:left;
      margin-top:5px;
      margin-left:5px;
      color:blue;
  }
  
  .alignIcon{
      margin-left:80px;
  }


.posOffer{
    margin-left:20px;
    min-width:50px;
    padding-left:10px;
}

.posApps{
    margin-right:3px;
    min-width:70px;
    text-align: center;
    margin-left:6px;
}

.apps{
    display:block;
    float:left;
    min-height:25px;
    margin-top:56px;
    padding-top:4px;
    
}

.apps:hover{
    border-bottom: red 3px solid;;
    font-weight: bolder;
}

.posArrow{
    display:block;
    float:left;
    min-width:20px;
    min-height:20px;
    text-align: left;
    margin-top:62px;
    margin-left:0px;
}


.drawArrowDown{
    width: 0;
    height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 14px solid blue;
    margin-top:0px;
   
}

.drawArrowDown:hover{
    border-top: 14px solid green;
}

.myfooter{
    /* margin-top:5px; */
    margin-top:10px;
    background-color:cyan;
    border: 0px solid blue;
    margin-left: 15px;
    width: 90%;
    height:13%; 
    float:left;
    border: solid 0px black;
    }
    
.text-footer{
    /*** not used ***/
    background-color:cyan;
    margin-left:20px;
    font-size:12px;
    
    }
    
.copyright{
    background-color:cyan;
    font-size:10px; 
    color:rgb(51, 117, 192); 
    text-align:center;
    }
      
.sizeMap{
    margin-left:10px;
    margin-top:5px;
    width: 750px;
    height:620px;
    }
    
.Main_Page_Size{
    /* POSITION OF THE TEXT WITHIN THE MAIN_PAGE_SIZE BOX*/
    padding-left:10px;
    padding-right:10px;
    margin-top:20px;
    /* POSITION OF THE THE MAIN_PAGE_SIZE BOX WITHIN sizeMap*/
    margin-left:15px;;
    width:800px;

    
    opacity: 0.65;
    background-color:rgb(46, 78, 221);
    font-weight:bold;
    text-align: left;
    /*
    background-color:rgb(74, 173, 91);
    */
    }
    
.Main_Page_Title{
    font-size:28px;
    font-weight:bolder;
    color:white;
    /*
    background-color:rgb(202, 231, 156);
    */
    }
    
.Main_Page_Text{
    font-size:16px; 
    font-weight:bolder;
    color:white;
    /*
    background-color:rgb(108, 161, 185);
    */
    }
    
    
.LearnOffer{
    font-style: italic; 
    font-weight:bold;
    font-size:22px;
    }
    
.LearnOffer:hover{
    font-style: italic; 
    font-weight:bold;
    color:red;
    }
    
    
    /*** ====================================== ***/
    /*** ============== @media 800 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width:800px) {
    .sizeMap{
        width:450px;
        }
    .Main_Page_Size{
        width:450px;
    }
    .Main_Page_Text{
        font-size:14px;
    }
    .Main_Page_Title{
        font-size:22px;
    }
    }
     /*** ====================================== ***/
    /*** ============== @media 800 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width:550px) {
        .sizeMap{
            width:380px;
            }
        .Main_Page_Size{
            width:380px;
        }
        .Main_Page_Text{
            font-size:14px;
        }
        .Main_Page_Title{
            font-size:22px;
        }
        .textIcon:hover{
            font-size:12px;
        }
        .textIcon{
            min-width:70px;
            font-size:10px;

        }
        .alignIcon{
            margin-left:30px;
        }
        .posOffer{
            margin-left:10px;
            min-width:40px;
            padding-left:2px;
            font-size:10px;
        }
        
        .posApps{
            margin-right:3px;
            min-width:40px;
            margin-left:3px;
            font-size:10px;
        }
}