


<div  style=" margin-top:10px;"> <!--     Retrieve script file -->
    <div style="display:block; float:left; max-width:100px; margin-top:20px;">
        <label >
            <input id="retrieveScript" style=" display:none;" type="file" (change)="open($event)">
            <a class="buttons" style="padding-left:20px; margin-top:60px; " id="41"> Script to retrieve </a>
        </label>
    </div>
    <div style="overflow-y:scroll; display:inline-block; margin-left:20px; height:100px; width:300px; border:2px green solid; background-color:lightgray; text-align: center;">List of scripts retrieved<br>
        <li style="list-style-type: none;" *ngFor="let tab of scriptFileName; let i=index;"  (click)="onSelectedScript(i)">
            <span class="theScript even" *ngIf="i % 2 === 0" > {{i+1}} - {{tab}} </span>
            <span class="theScript odd"  *ngIf="i % 2 === 1" > {{i+1}} - {{tab}} </span>
        </li>
    </div>


    <div class="boxGuided">
        <div class="title"> Guided mode</div>
        <div style="width:100%; display:inline-block; font-size:18px; color:blue;">
            <div class="label" id="domName">Domain to select</div>
        </div>
        <div style="width:100%; display:inline-block;">
            <div class="label" value="domField" >Field</div>
            <input class="inpField" type="text" id="domField" (input)="onDomainInput($event)">
            <div class="label" value="domValue" >Value</div>
            <input class="inpField" type="text" id="domValue" (input)="onDomainInput($event)">
        </div>
        <div style="width:100%; display:inline-block; font-size:18px; color:blue;">
            <div class="label">Select Function</div>
        </div>
        <div style="width:100%; display:inline-block;">
            <div class="label" >tag</div>
            <input class="inpField" type="text" id="selTag" (input)="onSelectInput($event)">
            <div class="label">field</div>
            <input class="inpField" type="text" id="selField" (input)="onSelectInput($event)">
            <div class="label">fromValue</div>
            <input class="inpField" type="text" id="selFromV" (input)="onSelectInput($event)" >
            <div class="label">toValue</div>
            <input class="inpField"  type="text"id="selToV" (input)="onSelectInput($event)" >
        </div>
        <div style="width:100%; display:inline-block; margin-top:20px; font-size:18px; color:blue; ">
            <div class="label">Filter function</div>
        </div>
        <div *ngFor="let tabT of tagFilterDisp; let i=index" >
            
            <div class="label">
                <button  class="action" id="add-{{i}}" (click)="addTag($event)" >A</button>
                <button  class="action" id="del-{{i}}" (click)="delTag($event)" >D</button>
                Tag
            </div>
            <input class="inpField" type="text" id="tag-{{i}}" (input)="onFilterScript($event)" value="{{tagFilterDisp[i][0]}}"> 
            
            <div class="label">    
                <button class="action" id="add-{{i}}" (click)="addField($event)" >A</button>
                Field
            </div>
            <div class="boxField">
              
                <span *ngFor="let tabF of tagFilterDisp[i]; let j=index" class="loop">
                    <button  *ngIf="j!==0" class="action" id="del-{{i}}*{{j}}" (click)="delField($event)" >D</button>
                    <input *ngIf="j!==0"  type="text" ng-readonly=&nbsp; class="inpField" (input)="onFilterScript($event)" id="field-{{i}}*{{j}}" value="{{tabF}}">
               
                </span>
            </div>
        </div>

        <div style="width:100%; display:inline-block; margin-top:20px; font-size:18px; color:blue;">
            <div class="label">Replace function</div>
        </div>
        <div style="width:100%; display:inline-block;">
            <div class="label">tag</div>
            <input class="inpField" type="text" >
            <div class="label">field</div>
            <input class="inpField" type="text" >
            <div class="label">value</div>
            <input class="inpField" type="text" >
        </div>
        <div style="width:100%; display:inline-block;">
            <div class="label">Replace for</div>
        </div>
        <div style="width:100%; display:inline-block;">
            <div class="label">item</div>
            <input class="inpField" type="text" >
            <div class="label">old value</div>
            <input class="inpField" type="text" >
            <div class="label">new value</div>
            <input class="inpField" type="text" >
        </div>
        <br><br>
        <div class="summary">{{domRQ}} </div>
        <div class="summary">{{selectRQ}} </div>

        <div class="summary"> <span style="color:rgb(14, 121, 28)"> <#filter </span>
            <span *ngFor="let tabT of tagFilter; let i=index" >
                [tag="<span style="color:darkblue">{{tagFilter[i][0]}}</span>"&nbsp;" field="
                <span *ngFor="let tabF of tagFilter[i]; let j=index">
                    <span *ngIf="j!==0">
                        <span style="color:darkorange"> {{tagFilter[i][j]}}</span> <span *ngIf="j<tagFilter[i].length-1">,&nbsp;</span>
                    </span>
                </span>
                "]<br>
            </span>
            <span style="color:rgb(14, 121, 28)">#></span> 
        </div>

    </div>


<div [formGroup]="myForm" style="margin-top:20px; width:570px; display:block; margin-left:20px; ">
    <div > <!-- *ngIf="scriptFileName.length>0" -->
        <div style="margin-top:10px; display:inline-block; max-height:100px; width:900px; border:blue solid 1px; background-color: lightblue;">
            <div style=" margin-top:20px; max-width:900px;">Content of script : {{scriptFileName[currentScript]}}</div>
            <textarea style="width:900px; height:100px; overflow-y: scroll;" (input)="onInputScript($event)" type="text" value="{{modifiedScriptContent}}">
            </textarea>
        </div>
        <div class="error" *ngIf="scriptError!==''">{{scriptError}}</div>
        <div *ngIf="isConfirmSaveScript===false" style="margin-top:10px; display:block;">

            <button id="61"  class="buttons" style="width:140px;  font-size:13px;" (click)='onProcessScript()'>Process Script</button>
            <button id="62"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; " (click)='confirmSaveScript()'>Save Script</button>
            <button id="63"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; "(click)='onCancelScript()' >Cancel updates</button>
        </div>
        <div *ngIf="isConfirmSaveScript===true" style="margin-top:10px; display:block;">
            <span style="width:250px; border:blue solid 1px;background-color:white; ">Enter the name of the file </span><input type="text" formControlName="fileScriptName" value="fileScriptName" style="margin-left:20px; width:250px; height:30px; font-size:14px; color:blue; background-color:white;" >
            <button id="62"  class="buttons" style="width:140px;  font-size:13px;" (click)='onSaveScript("server")'>Save on server</button>
            <button id="62"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; " (click)='onSaveScript("local")'>Download locally</button>
            <button id="62"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; " (click)='onSaveScript("cancel")'>Cancel Save</button>
        </div>
    </div>
</div>
<div class="skipline">&nbsp;</div>
</div>
