
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div style="margin-top:40px;"></div>
@if (dictionaryOnly===true){
    <app-dictionary [configServer]="configServer" [identification]="identification"  ></app-dictionary>
} @else {

    @if (EventHTTPReceived[0]===true && isCreateRecipeName() && isRecipeModified() && theListOfObjects.length>1){
        <div style="width:450px;  margin-top:5px; display:inline-block;" >
            <div class="objectHeader" style="margin-left:10px; font-size:18px; width:100%; display:inline-block;">Select the recipe file
            </div>
            <li   *ngFor="let listFile of theListOfObjects; let i=index" class="stdInline" style="list-style: none;" (click)='RadioSelection($event)' >
                @if (fileNb===i){
                    <input  class="radioButton"  type="radio"  name="theRadio" id="selFile-{{i}}" value="Y"  checked>
                } @else {
                    <input  class="radioButton"  type="radio"  name="theRadio" id="selFile-{{i}}" value="N"  >
                }
                <span [class]="{'even': i % 2 === 0, 'odd':i % 2 !== 0}"   id="selFile-{{i}}" class=" object" style="margin-left:10px; padding-top:-25px; width:100%; " >
                    <span id="selFile-{{i}}" style="margin-left:15px; display:inline-block;" >{{i+1}} - {{listFile.name}}</span>
                </span>
            </li>   
        </div>
    }
    
    <div style="width:var(--boxW); display:inline-block; margin-left:20px;">
        @if (EventHTTPReceived[0]===true  && recipeFile.listTypeRecipe.length>1){
            <div style="max-width:450px; width:100%; margin-top:5px; display:inline-block;" >
                <div style=" margin-left:10px; font-size:14px; width:100%; border:blue solid 1px; background-color:cyan;">
                    <div class="objectHeader stdInline" style="margin-left:0px; font-size:16px;  border:0px solid blue;">
                        <span style="margin-left:-8%;">&nbsp;</span>
                        <span (click)="selLanguage('FR')"><img   style="width:20px; height:20px; margin:7px;"  src="./assets/FlagFrance.png" ></span>
                        <span style="margin-left:10px;">&nbsp;</span>
                        <span  (click)="selLanguage('UK')"><img   style="width:20px; height:20px; margin:7px;"  src="./assets/FlagUK.png" ></span>
                        <div  style="margin-top:-10px; display:inline-block; width:250px; margin-left:50px;">Select the type of recipe(s)</div>
                    
                    </div>
                    <div style="margin-top:3px;"></div>

                    <div class="theBox" >
                        <div  [class]="{'typeRecipeLargeBox':recipeFile.listTypeRecipe.length>7, 'typeRecipeSmallBox':recipeFile.listTypeRecipe.length<8}" >
                            <div style="margin-top:5px;"></div>
                            <div  *ngFor="let listType of recipeFile.listTypeRecipe; let i=index"  >
                                
                                @if (i > 0 && i % 2=== 1){
                                    <div class="mainBoxMenu" (click)='RadioSelection($event)' >
                                        <div  class="mainMenu "  id="TypeA-{{i}}" [class]="{'even1': i % 4 === 1 , 'even2': i % 4 === 3,'listObjSel':i===radioSelect}"  (click)='RadioSelection($event)'>
                                            <div class="mainMenuItem"> 
                                                
                                                    <span id="TypeA-{{i}}"> 
                                                        {{i+1}} 
                                                        @if (yourLanguage==='FR'){ {{listType.Fr.trim()}}                                                }
                                                        @else if (yourLanguage==='UK'){ {{listType.En.trim()}} }
                                                    </span>
                                            </div>
                                        </div>
                                    
                                
                                        @if (i < recipeFile.listTypeRecipe.length-1){
                                            <div class="mainMenu" id="TypeB-{{i+1}}"  [class]="{'even2': (i + 1) % 4 === 2 , 'even1': (i + 1) % 4 === 0, 'listObjSel':i+1===radioSelect}"  (click)='RadioSelection($event)'>
                                                <div class="mainMenuItem"> 
                                                        <span id="TypeB-{{i+1}}"> 
                                                            {{i+2}} - 
                                                            @if (yourLanguage==='FR'){ {{recipeFile.listTypeRecipe[i+1].Fr.trim()}} 
                                                            } @else if (yourLanguage==='UK'){ {{recipeFile.listTypeRecipe[i+1].En.trim()}} }

                                                        </span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                } @else if (i===0){
                                    <div  class="mainBoxMenu" (click)='RadioSelection($event)'>
                                        <div   id="TypeAll"  class="mainMenu even2" [class]="{'listObjSel':selectedTypeFr==='ALL'}"  (click)='RadioSelection($event)'>
                                            <div class="mainMenuItem">
                                                0 - 
                                                
                                                <span id="TypeAll"> 
                                                    @if (yourLanguage==='FR'){  Tous (défaut)
                                                    } @else if (yourLanguage==='UK'){ All (default) }
                                                </span>
                                            </div>       
                                        </div>
                                        <div   id="TypeA-{{i}}"  class="mainMenu even1" [class]="{'listObjSel':i===radioSelect}"  (click)='RadioSelection($event)'>
                                            <div class="mainMenuItem"> 
                                                {{i+1}} - 
                                                <span id="TypeA-{{i}}"> 
                                                     @if (yourLanguage==='FR'){ {{listType.Fr.trim()}} 
                                                    } @else if (yourLanguage==='UK'){ {{listType.En.trim()}} }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:5px;"></div>
                    
                </div>
                <div style="margin-top:3px; margin-left:150px;">
                    <button id='but_2' class="sizeButtons" (click)="onRefresh()"> Refresh</button> 
                </div>
                <div style="margin-top:7px;"></div>
            </div>
        }
    </div>
    @if (EventHTTPReceived[1]===true){
        <div style=" margin-left:20px; width:var(--boxW); display:inline-block;  margin-top:20px; background-color: lightgrey" >
            <div id="posDivBeforeTitle"></div>
            @if (!isCreateRecipeName()){
                <div style="width:100%; border:solid 2px blue;">
                    <div style="margin-top:8px;"></div>
                    <!-- ====== SEARCH RECIPE ====== -->
                    <span style="color:blue; font-size:14px; width:60px; margin-left:10px;"> Search recipe </span>
                    <input type="text" [value]="textToSearch" id='search' (input)="searchText($event)" (click)="searchText($event)"
                        style="margin-left:10px; width:120px; height:25px; color:blue; ">
                    <button id='cancel' class="sizeButtons" style="margin-left:10px;" (click)="searchText($event)" >Cancel</button>
                    <div class="skipLine">&nbsp;</div>
                    <div [style]="{'height.px':heightSearchDropdown, 'max-height.px': 150, 'overflow-y':searchScroll}">
                        <li *ngFor="let tab of tabSearch; let m=index;" class="recipeStraight-options " style="margin-left:5px;"
                                        [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                        (click)="afterDropDownSel($event)" id="selText-{{m}}" >
                                @if (m % 3 ===0){  <span id="selText-{{m}}"  >{{tab.name}}  </span>}
                                @if (m % 3 ===1){   <span  id="selText-{{m}}"  >{{tab.name}} </span>}
                                @if (m % 3 ===2){   <span  id="selText-{{m}}"  >{{tab.name}} </span>}
                        </li>
                    </div>
                    <div style="margin-top:8px;"></div>
                </div>
                <div style="margin-top:8px;"></div>
            }
            <!-- ====== SAVE/CANCEL MODIFICATION OF RECIPE ====== -->
            @if (!IsSaveConfirmed() && isRecipeModified() && !isCreateRecipeName()){
                <div  class="stdInline" style="margin-left:10px; color:blue; font-size:14px; ">
                        Recipe has been modified
                    <button id='but_1' class="sizeButtons" (click)="ConfirmSave()"> Save</button> &nbsp;&nbsp;
                    <button id='but_2' class="sizeButtons" (click)="CancelRecord()"> Cancel</button>
            
                    <div class="msg" style="width:100%; display:inline-block;" ><br>{{message}} </div>
                </div>
            }
            @if (IsSaveConfirmed()){
                <div  style="margin-left:10px; width:400px; border:solid 2px green; background-color: lightgrey;">
                    <div class="msg" style="font-size:15px;  text-align: center;" >
                        Save the data in file : 
                    </div>
                    <form  [formGroup]="SpecificForm" >
                        <div class="stdInline"  style=" margin-top:10px;">
                            <span class="fileLabel" >Header</span>
                            <input type='text' class="fileInput" formControlName="fileHeader" >
                        </div>
                        <div class="stdInline" >
                            <span class="fileLabel" >Name</span>
                            <input type='text' class="fileInput" formControlName="fileName" >
                        </div>
                        <br><br>
                        <button id='but_3' class="sizeButtons" style="margin-left:100px;" (click)="SaveRecord()">Confirm</button>
                        <button id='but_4' class="sizeButtons" (click)="CancelSave()"> Cancel</button>
                    </form>
                    <br>
                </div>--
            } @else {
                <br>
            }
            @if (isCreateRecipeName()){
                <span style="color:blue; font-size:14px; width:60px; margin-left:10px;"> Create name recipe </span>
                <input type="text" [value]="temporaryNameRecipe" id="input" (input)="nameRecipe($event)"
                    style="margin-left:10px; width:120px; height:25px; color:blue; ">
                    <button id='save' class="sizeButtons" style="margin-left:10px;" (click)="nameRecipe($event)" >Save</button>
                    <button id='clear' class="sizeButtons" style="margin-left:10px;" (click)="nameRecipe($event)" >Clear</button>
                    <button id='cancel' class="sizeButtons" style="margin-left:10px;" (click)="nameRecipe($event)" >Cancel</button>
            } @else {
                <!-- TITLE-->
                <div class="titleHeader" style="width:100%; background-color:cyan;"> 
                    @if (yourLanguage==='FR'){
                        Type de recette: 
                        <input type="text" (input)="onInputType($event)" id='Fr' class='theType' value="{{recipeFile.recipe[recordRecipe].typeFr}}">
                    } @else if (yourLanguage==='UK') {
                        Type of recipe: 
                        <input type="text" (input)="onInputType($event)" id='En' class='theType' value="{{this.recipeFile.recipe[this.recordRecipe].typeEn}}">
                    }
                </div>
                <div class="titleName"> 
                    @if (isListTypeFr===true || isListTypeEn===true){
                        <div class="dropdown">
                            <div [style]="styleBoxListType()">
                                <div   [style]="styleBoxOptionListType()"  >
                                    <li *ngFor="let tab of tabDropdownType; let m=index;" 
                                            class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                (click)="onDropdownListType($event)" id="listType" [value]="tab.name">{{tab.name}}   
                                    </li>
                                </div>
                            </div>
                        </div>
                    }
                    <div style="margin-left:80px;" class="circle"  (click)="onAction($event)"  id='ActionRecipe'>A</div>  
                        @if (isActionRecipe()){
                            <div class="dropdown" >
                                <div [style]="styleBoxAction()">
                                    <div   [style]="styleBoxOptionAction()"  >
                                        <li *ngFor="let tab of tabActionRecipe; let m=index;" 
                                                class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                    (click)="afterDropDownRecipe($event)" id="ActionRecipe" [value]="m">{{tab}}   
                                        </li>
                                    </div>
                                </div>
                            </div>
                        }
                    @if (isChangeRecipeName()){
                        <div class="dropdown ">
                            <div  [style]="styleBoxChangeName()">
                                <div  [style]="styleBoxOptionChangeName()" >
                                
                                        <div class="changeAllItems" > Name to change#{{recipeFile.recipe[recordRecipe].name}}</div>
                                        <div class="changeAllItems">  New name: 
                                                <input type="text" [value]="temporaryNameRecipe" id="input"  class="changeNameNew" (input)="onChangeName($event)">
                                        </div>
                                        <br>
                                        <button id='but_3' id="save" class="sizeButtons"  style="margin-left:50px;" (click)="onChangeName($event)">Confirm</button>
                                        <button id='but_4' id="cancel" class="sizeButtons" (click)="onChangeName($event)"> Cancel</button>
                                
                                </div>
                            </div>
                        </div>
                    }
                    @if (isDeleteRecipe()){
                        <div class="dropdown" >
                            <div [style]="styleBox" >
                                <div  [style]="styleBoxOption ">
                        
                                    <div style="width:100%; color:blue; font-size:14px; text-align: center;">Confirm the deletion of recipe {{delMsg}}</div> 
                                    <div   style='margin-left:40px; margin-top:8px; width:60%; display:inline-block; 
                                                        background-color:lightgrey;  height:25px;'>
                                        <input  style='margin-left:10px;' (click)='delRecipe($event)' type="radio"   id="YesDelConfirm"  value="Y" >&nbsp;&nbsp;Yes
                                        <input  style='margin-left:10px;' (click)='delRecipe($event)' type="radio"   id="NoDelConfirm"  value="N">  &nbsp;&nbsp;No 
                                        
                                    </div>
                                    <div class="skipLine">&nbsp; </div> 
                                </div>
                            </div>
                        </div>
                    }
                    <div style='margin-left:15px; display:inline-block; color:blue; font-weight:bold; margin-top:-20px;'>{{recipeFile.recipe[recordRecipe].name}} </div>
                    
                    <div class="menuBox" id="listRecipe" (click)="onAction($event)">
                        <mat-icon  class="menu"  id="listRecipe"  >
                                menu
                        </mat-icon>
                    </div>

                </div>

                @if (isListRecipe()){
                    <br>
                    <div class="dropdown ">
                        <div [style]="styleBoxListRecipe() ">             
                            <div   [style]="styleBoxOptionListRecipe()"  >
                                <li *ngFor="let tab of tabRecipe; let m=index;" 
                                        class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                (click)="afterDropDownSel($event)" id="selRecipe" [value]="m">{{tab.name}}   
                                </li>
                            </div>
                        </div>
                    </div>
                }
                

                <div *ngFor="let StdPer of theStdPersoDisplay; let j=index;">                
                                    <!-- Header table -->
                    
                    <div  class="visible">
                        <div style='font-size:16px; padding-top:8px; border: solid 1px red; '>
                            @if (j===0){
                                <!-- Display the title for STANDARD and Visibility on/off icon -->
                                <div  class="titleStdPerso">
                                    <span style="font-size:22px; color:green; ">STANDARD</span>
                 
                                        @if (theStdPersoDisplay[0]==="Y"){
                                            <mat-icon style=" color: red;" class="eye" id="eyeStd" (click)='selStdPer($event)' >
                                                visibility_off
                                            </mat-icon>
                                        } @else {
                                            <mat-icon style=" color: blue;" class="eye" id="eyeStd"  (click)='selStdPer($event)' >
                                                visibility
                                            </mat-icon>
                                        }

                                </div> 
                            } @else if (j===1){
                                    <!-- Display the title for PERSONNALIZED and Visibility on/off  icon-->
                                <div  class="titleStdPerso">
                                    <span style=" font-size:22px;  color:green;"> 
                                        PERSONNALIZED
                                    </span>
                                        @if (theStdPersoDisplay[1]==="Y"){
                                            <mat-icon style=" color: red;" class="eye" id="eyePerso" (click)='selStdPer($event)' >
                                                visibility_off
                                            </mat-icon>
                                        } @else {
                                            <mat-icon style=" color: blue;" class="eye" id="eyePerso"  (click)='selStdPer($event)' >
                                                visibility
                                            </mat-icon>
                                        }
                                </div>
                            }
                            
                        </div>
                    </div>
                 
            
                    @if ((j===0 && theStdPersoDisplay[0]==='Y') || (j===1 && theStdPersoDisplay[1]==='Y')){
                        <div class="visible" style="border: solid 1px blue;">
                            <div class="titleHeader rightBorder" style="width:var(--actionW); " >Action</div>
                            <div class="titleHeader rightBorder" style="width:var(--ingW); " >Ingredients</div>
                            <div class="titleHeader rightBorder" style="width:var(--quanW); " >Quantity</div>
                            <div class="titleHeader " style="width:var(--unitW); " >Unit</div>
                        </div>
                        <!-- ====== Display record related to STANDARD recipe ====== -->
                        @if (theStdPersoDisplay[0]==='Y' && j===0){
                            <div class="stdInline" style="margin-top:5px;">
                                <div   *ngFor="let theRecipe of recipeFile.recipe[recordRecipe].data; let i=index">
                                    <div id="posAfterTitle" >
                                        @if (tabDialog[prevDialog]===true && i===idNb && idText==='Action'){
                                            <div class="dropdown ">
                                                <div class="Straight-content"  [style]="{ 'width.px':50, 'height.px': theHeight  ,'margin-left.px': posLeftDropDown, 'margin-top.px':posTopDropDown }">
                                                    <div  class="StraightDropDown " [style.height.px]="theHeight" [style.margin-left.px]=5 >
                                                        <li *ngFor="let tab of listActions; let m=index;" 
                                                                class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                                    (click)="afterDropDown($event)" id="Action" [value]="m">{{tab}}   
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!-- ====== DROPDOWN - CHANGE VALUE ====== -->
                                        @if (isChangeValueForAll() && i===idNb){
                                            <div class="dropdown ">
                                                <div  [style]="styleBoxChangeAll">
                                                    <div  [style]="styleBoxOptionChangeAll" >
                                                        <form  [formGroup]="SpecificForm" >
                                                                <div class="changeAllItems" style="text-align: center;"> item#{{idNb+1}}: {{currentIngr}}</div>
                                                                <div class="changeAllItems"> Current value :
                                                                    <span class="changeAllCurrentValue"> {{currentValue}}</span>
                                                                </div>
                                                                <div class="changeAllItems">  New value: 
                                                                        <input type="text" formControlName="changeValue" class="changeAllNewValue">
                                                                </div>
                                                                <br>
                                                                <button id='but_3' id="save" class="sizeButtons"  style="margin-left:50px;" (click)="onChangeValues($event)">Confirm</button>
                                                                <button id='but_4' id="cancel" class="sizeButtons" (click)="onChangeValues($event)"> Cancel</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        
                                        <div  style="width: calc( var(--actionW )+ var(--ingW) + var(--quanW)+ var(--unitW) ); background-color: lightgrey; border: solid 3px red;height:calc( var(--subHeaderH) + 10 ); width:100%; padding:0px; margin-top:2px; ">
                                            <!--
                                            <input class="circle"  (click)="onAction($event)"  id='Action-{{i}}' type="text" value='A'>
                                            -->
                                            <div  class="divCircle"  style="box-sizing: border-box;">
                                                <div class="circle" (click)="onAction($event)"  id='Action-{{i}}' >
                                                    <span  style="padding-top:-1px;"  id='Action-{{i}}'>A</span>
                                                </div>  
                                            </div>
                                                                    <!-- ====== Display Ingredient and DROPDOWN with list of potential ingredients ====== -->
                                            <div [style.width]=" 'var(--ingW)' " class="theRow" style="background-color: yellow;">
                                                
                                                <input class="inputRow" [style.width]=" 'var(--ingW)' " style="box-sizing: border-box; background-color: pink;" type="text" id="ingr-{{i}}"  (mouseup)="onMouseUp($event)"   (input)="modifInput($event)" value="{{theRecipe.ingr}}">
                                                
                                                @if (isIngrDropDown() && i===idNb && idText==='ingr'){
                                                    <div class="dropdown ">
                                                        <div [style]="styleBox">
                                                            <div  [style]="styleBoxOption">
                                                                <li *ngFor="let tab of tabListCalFat; let m=index;" 
                                                                        class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                                            (click)="modifInput($event)" id="sel{{ingrType}}-{{i}}" [value]="m">{{tab.name}} - serving: {{tab.serving | number:'1.0-0'}}  {{tab.unit}}   
                                                                </li>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="theRow " >
                                                <input [style.width]=" 'var(--quanW)' " style="box-sizing: border-box; background-color: lightsalmon; padding-left: 10px;"  type="text" id="quantity-{{i}}"   (input)="modifInput($event)" value="{{theRecipe.quantity}}">
                                            </div>
                                            <div  class="theRow" >
                                                <input   [style.width]=" 'var(--unitW)' " style="box-sizing: border-box; background-color: lightgreen; padding-left: 10px;" type="text" id="unit-{{i}}"   (input)="modifInput($event)" value="{{theRecipe.unit}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="colorArea stdInline" style =" text-align: center; margin-top:5px;">Ustensiles Std</div>
                                <div class="colorArea stdInline" >
                    
                                    <textarea  class="input inputArea" (input)="modifInput($event)"  
                                            [style]="{'height.px':recipeFile.recipe[recordRecipe].materielBox, 'max-height.px':maxHeightCommBox}" id="materiel" value="{{recipeFile.recipe[recordRecipe].materiel}}">
                                    </textarea>
                                </div>
                                <div class="colorArea stdInline" style ="text-align: left;">
                                    <div style="margin-left:35%;" class="circle"  id='ActionComments' (click)="onAction($event)"   id='ActionComments'><span   id='ActionComments' style="padding-top:1px;">A</span></div>  
                                    <span style="margin-left:20px;">Comments Std</span>
                                    
                                    @if (isActionComments() && idText==='ActionComments'){
                                        <div class="dropdown ">
                                            <div class="Straight-content" style="overflow-y:scroll;" [style]="{ 'width.px':240, 'height.px': theHeight  ,'margin-left.px': posLeftDropDown, 'margin-top.px':posTopDropDown }">
                                                <div  class="StraightDropDown " style="overflow-y:scroll;" [style]="{ 'height.px': theHeight  - 60,'margin-left.px': 5}"  >
                                                    <li *ngFor="let tab of tabActionComments; let m=index;" 
                                                            class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                                (click)="dropdownComments($event)" id="comments" [value]="m">{{tab}}   
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="colorArea stdInline" >
                                    <div class="flag " (click)="translateComments('UkToFr')"> <span><img   style="width:20px; height:20px; margin:7px;"  src="./assets/FlagFrance.png" ></span></div>

                                    <textarea  class="input inputArea colorArea" (input)="modifInput($event)"  
                                        [style]="{'height.px':recipeFile.recipe[recordRecipe].commentsBox, 'max-height.px':maxHeightCommBox}" id="comments" value="{{recipeFile.recipe[recordRecipe].comments}}">
                                    </textarea>
                                </div>
                                <div class="colorArea stdInline" style =" background-color: white;"> 
                                    <div class="flag" (click)="translateComments('FrToUk')"> <span><img   style="width:20px; height:20px; margin:7px;"  src="./assets/FlagUK.png" ></span></div>

                                    <textarea  class="input inputArea colorArea" (input)="modifInput($event)"  
                                        [style]="{'height.px':recipeFile.recipe[this.recordRecipe].commentsEnBox, 'max-height.px':maxHeightCommBox}" id="commentsEn" value="{{recipeFile.recipe[recordRecipe].commentsEn}}">
                                    </textarea>
                                </div>
                                <!-- ====== NUTRITION FACTS FOR STANDARD ====== -->
                                @if (!isCreateRecipeName()){
                                    <div style="width:100%; display:inline-block; border:solid 2px black; ">
                                        <div class="skipLine">&nbsp;</div>
                                        
                                        <div class="nutriFacts">
                                            Nutrition Facts Std
                                            @if (eyeNutritionFact[0]==="Y"){
                                                <mat-icon style=" color: red;" class="eyeNutrition" id="eyeStd" (click)='selEyeNutFact($event)' >
                                                    visibility_off
                                                </mat-icon>
                                            } @else {
                                                <mat-icon style=" color: blue;" class="eyeNutrition" id="eyeStd"  (click)='selEyeNutFact($event)' >
                                                    visibility
                                                </mat-icon>
                                            }
                                        </div>
                                        @if (eyeNutritionFact[0]==="Y"){
                                            <div class="skipLine">&nbsp;</div>
                                            <div class="nutritionName even">Calories</div>
                                            <div  class="nutritionNb even">{{recipeFile.recipe[recordRecipe].nutrition.calories | number:'1.2-2'}}</div>
                                            <div class="nutritionName odd">Proteins</div>
                                            <div  class="nutritionNb odd">{{recipeFile.recipe[recordRecipe].nutrition.proteins | number:'1.2-2'}}</div>
                                            <div class="nutritionName even">Carbs </div>
                                            <div  class="nutritionNb even">{{recipeFile.recipe[recordRecipe].nutrition.carbs | number:'1.2-2'}}</div>
                                            <div class="nutritionName odd">Cholesterol</div>
                                            <div  class="nutritionNb odd">{{recipeFile.recipe[recordRecipe].nutrition.cholesterol | number:'1.2-2'}}</div>
                                            <div class="nutritionName even">Saturated Fat</div>
                                            <div  class="nutritionNb even">{{recipeFile.recipe[recordRecipe].nutrition.satFat | number:'1.2-2'}}</div>
                                            <div class="nutritionName odd">Sugar </div>
                                            <div  class="nutritionNb odd">{{recipeFile.recipe[recordRecipe].nutrition.sugar | number:'1.2-2'}}</div>
                                            <div class="skipLine">&nbsp;</div>
                                            <div class="nutritionTotal">Total weight: {{recipeFile.recipe[recordRecipe].nutrition.totalWeight | number:'1.2-2'}}  gram(s)</div>
                                            <div class="skipLine">&nbsp;</div>
                                        }
                                    </div>
                                }
                            </div>
                        } <!-- if j==0 -->

                        <!-- ====== Display record related to PERSONNALIZED recipe ====== -->
                        @if (theStdPersoDisplay[1]==='Y'&& j===1){
                            <div   *ngFor="let theRecipe of recipeFile.recipe[recordRecipe].data; let i=index">

                                    @if (tabDialog[prevDialog]===true && i===idNb && idText==='ActionPerso'){
                                        <div class="dropdown ">
                                            <div class="Straight-content"  [style]="{ 'width.px':50, 'height.px': theHeight  ,'margin-left.px': posLeftDropDown, 'margin-top.px':posTopDropDown }">
                                                <div  class="StraightDropDown " [style]="{ 'height.px': theHeight  ,'margin-left.px': 5}"  >
                                                    <li *ngFor="let tab of listActions; let m=index;" 
                                                            class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                                (click)="afterDropDownPerso($event)" id="ActionPerso" [value]="m">{{tab}}   
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (isChangeValueForAllPerso() && i===idNb){   
                                        <div class="dropdown ">
                                            <div  [style]="styleBoxChangeAll">
                                                <div  [style]="styleBoxOptionChangeAll" >
                                                    <form  [formGroup]="SpecificForm" >
                                                        <div class="changeAllItems" style="text-align: center;"> item#{{idNb+1}}: {{currentIngr}}</div>
                                                        <div class="changeAllItems"> Current value :
                                                            <span class="changeAllCurrentValue"> {{currentValue}}</span>
                                                        </div>
                                                        <div class="changeAllItems">  New value: 
                                                                <input type="text" formControlName="changeValue" class="changeAllNewValue">
                                                        </div>
                                                        <br>
                                                        <button id='but_3' id="save" class="sizeButtons"  style="margin-left:50px;" (click)="onChangeValues($event)">Confirm</button>
                                                        <button id='but_4' id="cancel" class="sizeButtons" (click)="onChangeValues($event)"> Cancel</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                <div  style="background-color: lightgrey; border: solid 0px red;height:calc( var(--subHeaderH) + 10 ); width:100%; padding:0px; margin-top:2px; "  >
                                    <div  class="divCircle"  >
                                        <div class="circle"  (click)="onAction($event)"  id='ActionPerso-{{i}}'>
                                            <span  style="padding-top:-1px;" id='ActionPerso-{{i}}'>A</span>
                                        </div>  
                                    </div> 
                                <!-- ====== Display Ingredient and DROPDOWN with list of potential ingredients ====== -->
                                    <div style="width:var(--ingW); " class="theRow">
                                        <input class="inputRow" style=" width:var(--ingW); " type="text" id="ingrPerso-{{i}}" (mouseup)="onMouseUp($event)"  (input)="modifInput($event)" value="{{recipeFile.recipe[recordRecipe].dataPerso[i].ingr}}">
                                        @if (isIngrDropDown() && i===idNb && idText==='ingrPerso'){
                                            <div class="dropdown ">
                                                <div [style]="styleBox">
                                                    <div  [style]="styleBoxOption">
                                                        <li *ngFor="let tab of tabListCalFat; let m=index;" 
                                                                class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                                    (click)="modifInput($event)" id="sel{{ingrType}}-{{i}}"  [value]="m">{{tab.name}} - serving: {{tab.serving | number:'1.0-0'}}  {{tab.unit }}
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="theRow " style="width:var(--quanW);" >
                                        <input class="inputRow " style=" width:var(--quanW); " type="text" id="quantityPerso-{{i}}"   (input)="modifInput($event)" value="{{recipeFile.recipe[recordRecipe].dataPerso[i].quantity}}">
                                    </div>
                                    <div style="width:var(--unitW); " class="theRow" >
                                        <input class="inputRow " style=" width:var(--unitW); " type="text" id="unitPerso-{{i}}"  (input)="modifInput($event)" value="{{recipeFile.recipe[recordRecipe].dataPerso[i].unit}}">
                                    </div>
                                </div>
                            </div> <!-- *ngFor --> 
                            <div class="colorArea stdInline" style ="text-align: center;">Ustensiles Perso</div>
                            <div  class="colorArea stdInline">
                                <textarea  class="input inputArea" (input)="modifInput($event)" 
                                [style]="{'height.px':recipeFile.recipe[recordRecipe].materielPersoBox, 'max-height.px':maxHeightCommBox}"
                                            id="materielPerso" value="{{recipeFile.recipe[recordRecipe].materielPerso}}">
                                </textarea>
                            </div>
                
                            <div class="colorArea stdInline" style="text-align:left;">
                                <div style="margin-left:35%;" class="circle"  (click)="onAction($event)"  id='ActionCommentsPerso'>A</div>  
                                <span style="margin-left:20px;">Comments Perso</span>
                                @if (isActionComments() && idText==='ActionCommentsPerso'){
                                    <div class="dropdown ">
                                        <div class="Straight-content"  [style]="{ 'width.px':50, 'height.px': theHeight  ,'margin-left.px': posLeftDropDown, 'margin-top.px':posTopDropDown }">
                                            <div  class="StraightDropDown "  style="overflow-y:scroll;" [style]="{ 'height.px': theHeight  - 80 ,'margin-left.px': 5}"  >
                                                <li *ngFor="let tab of tabActionCommentsPerso; let m=index;" 
                                                        class="Straight-options "  [class]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                                            (click)="dropdownComments($event)" id="commentsPerso" [value]="m">{{tab}}   
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div>
                                <textarea  class="input inputArea colorArea" (input)="modifInput($event)" 
                                        [style]="{'height.px':recipeFile.recipe[this.recordRecipe].commentsPersoBox, 'max-height.px':maxHeightCommBox}" id="commentsPerso" value="{{recipeFile.recipe[recordRecipe].commentsPerso}}">
                                </textarea>
                            </div>
                            <!-- ====== NUTRITION FACTS FOR PERSO ====== -->
                            @if (!isCreateRecipeName() && recipeFile.recipe[recordRecipe].nutritionPerso.totalWeight>0){
                                <div style="width:100%; display:inline-block; border:solid 2px black;  ">
                                    <div class="skipLine">&nbsp;</div>
                                    
                                    <div class="stdInline" style=" margin-top:-20px;margin-left:10px; font-size:22px;  text-align: center; color:green;">
                                        Nutrition Facts Perso
                                        @if (eyeNutritionFact[1]==="Y"){
                                            <mat-icon style=" color: red;" class="eyeNutrition" id="eyePerso" (click)='selEyeNutFact($event)' >
                                                visibility_off
                                            </mat-icon>
                                        } @else {
                                            <mat-icon style=" color: blue;" class="eyeNutrition" id="eyePerso"  (click)='selEyeNutFact($event)' >
                                                visibility
                                            </mat-icon>
                                        }
                                    
                                    </div>
                                    @if (eyeNutritionFact[1]==="Y"){
                                        <div class="skipLine">&nbsp;</div>
                                        <div  class="nutritionName even">Calories</div>
                                        <div  class="nutritionNb even">{{recipeFile.recipe[recordRecipe].nutritionPerso.calories | number:'1.2-2'}} </div>
                                        <div class="nutritionName odd">Proteins</div>
                                        <div  class="nutritionNb odd">{{recipeFile.recipe[recordRecipe].nutritionPerso.proteins | number:'1.2-2'}}</div>
                                        <div class="nutritionName even">Carbs & Sugar</div>
                                        <div  class="nutritionNb even"> {{recipeFile.recipe[recordRecipe].nutritionPerso.carbs | number:'1.2-2'}}</div>
                                        <div class="nutritionName odd">Cholesterol</div>
                                        <div  class="nutritionNb odd">{{recipeFile.recipe[recordRecipe].nutritionPerso.cholesterol | number:'1.2-2'}}</div>
                                        <div class="nutritionName even">Saturated Fat</div>
                                        <div  class="nutritionNb even">{{recipeFile.recipe[recordRecipe].nutritionPerso.satFat | number:'1.2-2'}}</div>
                                        <div class="skipLine">&nbsp;</div>
                                        <div class="nutritionTotal">Total weight: {{recipeFile.recipe[recordRecipe].nutritionPerso.totalWeight | number:'1.2-2'}} gram(s)</div>
                                        <div class="skipLine">&nbsp;</div>
                                    }
                                </div>
                            }
                        } <!-- if j===1-->
                    }<!-- if j==0 or j===1-->
                </div> <!-- ngFor j -->    
            }
        </div>
    }
}
<div class="skipLine">&nbsp;</div>
<div class="skipLine">&nbsp;</div>
