<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> 
<body>
    @if (openFileAccess()){
        <app-file-access 
            [configServer]="configServer" [identification]="identification" 
            [tabLock]="tabLock" [eventCheckToLimit]="theEvent" [triggerCheckToLimit]="triggerCheckToLimit()"
            [triggerFileSystem]="triggerFileSystem()" [triggerReadFile]="triggerReadFile()" [triggerSaveFile]="triggerSaveFile()"
            (resultFileSystem)="resultFileSystemFn($event)"
        >
    
        </app-file-access>
    }
    <!--
        =========================================================================
        ================  Display and Manage special dishes/recipes  ============
        =========================================================================
     -->
<div class="skipLine">&nbsp;</div>  
@if (isUserTimeOut()){
    <div style="margin-left:6px;">
        <div style="font-size:16px; color:blue; display:inline-block; 
                text-align:center;  margin-top:5px;" [style]="{'min-width': HTMLCaloriesFat.minwidth + 'px' , 'width': HTMLCaloriesFat.width + 'px'}">
                You have been inactive for too long so your updates are lost. Reselect the function
        </div>
    </div>
}


@if (isInitComplete() && !isUserTimeOut() && isNgStyleCompleted() && tabTotal.length>0){
    <div style="border:solid 2px blue; background-color: lightgreen; display:inline-block; " [style]="{'width': (HTMLCaloriesFat.width+10) + 'px'}">
         @if (isErrorFS() && errorMsgFS!==""){
            <div style="color:red; margin-top:10px; margin-left:10px; display:block; font-size: 16px;">{{errorMsgFS}}</div>
        } @else if (tabLock[1].lock===2){
            <div style="color:red; margin-top:10px; margin-left:10px; display:block; font-size: 16px;">File is locked by another user; you cannot update the parameters</div>
        } @else if (tabLock[1].lock===3 ){
            <div style="color:red; margin-top:10px; margin-left:10px; display:block; font-size: 16px;">Checking if file is locked by another user</div>
        }
        <div style="margin-top:5px; font-size:18px; color:blue; display:inline-block; text-align:center; font-weight:bolder;" [style]="{'width': (HTMLCaloriesFat.width+13) + 'px'}">
            MANAGE RECIPE
 
            <app-running-clock [posSizeClock]="posSizeClock">
            </app-running-clock>

            
            <div style="padding-left:700px; font-size:13px; ">
                @if (signalTime()>0){
                    <span >Time out will occur in</span> 
                    <span style="border: black double 2px; margin-left:5px;"> 
                        @if(displayHour!==0) { 
                            {{displayHour |number:'2.0-0'}} hour(s)
                        }
                        {{this.displayMin |number:'2.0-0'}} min {{this.displaySec | number:'2.0-0'}} sec
                    </span>
                }
            </div>  
        </div>
        <div class="skipLine">&nbsp;</div>
        <div style="margin-left:5px; display:inline-block; overflow:hidden;" [style]="{'height':HTMLCaloriesFat.title.height + 'px', 'min-width': HTMLCaloriesFat.minwidth + 'px', 'width': HTMLCaloriesFat.width  + 'px'}" >
            <div [style]="divClassHeader[0]">
                 <input [style]="tabHeader[0]" type="text" value="Action">
            </div>
            <div [style]="divClassHeader[1]">
                <div [style]="tabHeader[1]">Recipe          <button class="theArrow"   id='Recipe'    (click)="onFilter($event)">
                        <mat-icon class="material-symbols-outlined"  id='Recipe' (click)="onFilter($event)">
                            arrow_drop_down
                        </mat-icon>
                    </button>  
                </div>
            </div>
            <div [style]="divClassHeader[2]">
                <div [style]="tabHeader[2]">Food (Filter)
                    <button class="theArrow"  style="margin-left:35px;"  id='RecipeFood' (click)="onFilter($event)">
                        <mat-icon class="material-symbols-outlined"  id='RecipeFood' >
                            arrow_drop_down
                        </mat-icon>
                    </button>  
                </div>
            </div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Serving"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Unit"></div>
                
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Calories"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Protein"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Carbs"></div>
            <!--
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Glycemic Index"></div>
            -->
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Sugar"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Natural"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Added"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Cholest."></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Sat. fat"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Total fat"></div>
            <!--
            <div [style]="divClassHeader[3]"> style="padding-top:3px;  border-right:2px solid darkcyan;">Lock </div>
            -->
        </div>  
    <!-- ================== DROPDOWN LIST : action =============== -->
        @if (dialogueCalFat[1]===true && !isDeleteRecipe() && !isDeleteRecipeFood()){    
            <div class="dropdown">
                <div class="Straight-content"  > <!-- selectedPosition.y - 560  -->
                    <div  class="StraightDropDown "  style="height:250px; width:160px; overflow-y:hidden;" [style]="{ 'margin-top': titleHeight - 20 + 'px','margin-left': 50  + 'px'}"  >
                        <li *ngFor="let theTab of TabActionRecipe; let m=index;" [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                class="Straight-options "   style=" width:155px; "
                                    (click)="onAction($event)" id="RecipeSelAction-{{TabOfId[0]}}-{{TabOfId[1]}}-{{m}}" value="{{m}}">
                                    @if (m>0){&nbsp;&nbsp;{{theTab.name}}-{{theTab.action}}
                                    } @else {&nbsp;&nbsp;{{theTab.name}}
                                    }
                        </li>
                    </div>
                </div>
            </div>
        }
        <!-- ================== DROPDOWN LIST : recipe =============== -->
        @if (filterRecipe===true){
            <div class="dropdown " >
                <div class="Straight-content"  >
                    <div  class="StraightDropDown StraightDropDownOverflow" 
                        [style]="{  'margin-top': titleHeight - 40  + 'px','margin-left':130 + 'px', 'width':130 + 'px'}" >
                        <li *ngFor="let food of tabRecipe; let m=index;" 
                                class="Straight-options "  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onFilter($event)" id="RecipeSel" [value]="food.name"> {{food.name}} 
                        </li>
                    </div>
                </div>
            </div>
        }
        <!-- ================== DROPDOWN LIST : food =============== -->
        @if (filterRecipeFood){ 
            <div class="dropdown " >
                <div class="Straight-content"  >
                    <div  class="StraightDropDown StraightDropDownOverflow" 
                            [style]="{  'margin-top': titleHeight - 50  + 'px','margin-left':250 + 'px', 'width':130 + 'px'}" >
                        <li *ngFor="let food of tabInputRecipeFood; let m=index;" 
                                class="Straight-options "  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onFilter($event)" id="RecipeSelFood" [value]="food.name"> {{food.name}} 
                        </li>
                    </div>
                </div>
            </div>
        }
        <!--  GENERATE AUTOMATICALLY A DROPDOWN WINDOW WITH EXISTING FOOD STARTING WITHT THE SAME LETTERS  --- REFER TO tabInputFood-->
        @if (isRecipeFoodInput() && tabInputRecipeFood.length>0){    
            <div class="dropdown ">

                <div class="Straight-content"  > <!-- slectPosition.y - 560-->
                    <div  class="StraightDropDown-Cal" [ngClass]="{'yesScroll':tabInputRecipeFood.length > 9, 'noScroll':tabInputRecipeFood.length < 10}" 
                        [style]="{  'margin-top': titleHeight + 10  + 'px' ,'margin-left':260 + 'px', 'width':200 + 'px', 'height':sizeBoxRecipeFood + 'px'}" >
                
                        <li *ngFor="let tabFood of tabInputRecipeFood; let m=index;" 
                                class="Straight-options"  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0, 'yesScroll':tabInputRecipeFood.length > 9, 'noScroll':tabInputRecipeFood.length < 10}" 
                                    (click)="onSelRecipeFood($event)" id="selRecipeFood-{{TabOfId[0]}}-{{TabOfId[1]}}-{{m}}" value="{{tabFood.name}}">
                                {{tabFood.name}}
                        </li>
                    </div>            
                </div>
            </div>
        }
        <!-- ================== Confirm/Cancel delete of meal/food =============== -->
        @if (isDeleteRecipe() || isDeleteRecipeFood()){    
            <div class="Straight-content">
                <div  class="StraightDropDown RadioDropDown"  [style]="{ 'margin-top': ( selectedPosition.y - posDeletedItem - 90 ) + 'px','margin-left': 50 + 'px'}" >
                    <div style="width:90%; color:blue; font-size:14px;">Confirm the deletion of {{ nameDeletedItem }}</div> 
                    <div  class="theRadio">
                        <input   (click)='onAction($event)' type="radio"   id="RecipeYesDelConfirm-{{TabOfId[0]}}-{{TabOfId[1]}}"  value="Y" > &nbsp;&nbsp;Yes 
                        <input  style='margin-left:10px;' (click)='onAction($event)' type="radio"   id="RecipeNoDelConfirm-{{TabOfId[0]}}-{{TabOfId[1]}}"  value="N">  &nbsp;&nbsp; No 
                        <div class="skipLine">&nbsp; </div>  
                    </div>
                </div>
            </div>
        }
        <div id="posStartTable" [style]="{'overflow-y':'scroll', 'margin-top':0.2 + 'px', 'margin-left':5 + 'px', 'display':'inline-block', 
            'height':HTMLCaloriesFat.height+'px', 'min-width': HTMLCaloriesFat.minwidth+'px' , 'width': HTMLCaloriesFat.width+'px', 'color':HTMLCaloriesFat.color }" 
                   >
        <!-- ================== display of the table =============== -->
            <div *ngFor="let tab of outFileRecipe.tabCaloriesFat; let i=index ">
                @if (RecipeSel==='' || (RecipeSel.toLowerCase().trim()!=='' && RecipeSel.toLowerCase().trim()===tab.Type.toLowerCase().trim())){}
                    <div *ngFor="let content of outFileRecipe.tabCaloriesFat[i].Content; let j=index">
                        @if (RecipeSelFood==='' ||  (RecipeSelFood.toLowerCase().trim()!=='' && RecipeSelFood.toLowerCase().trim()===content.Name.toLowerCase().trim())){

                            <div  style="display:inline-block; margin-top:0px;"> <!-- all items below will be next to each other-->

                                <div [style]="tabDivContent[0]" >
                                    <div [style]="i % 2 === 0 ? tabStyleInput[0][0] : tabStyleInput[1][0]">
                                        <div style="padding-left:0px;" > 
                                            <div id='RecipeOpenAction-{{i}}-{{j}}'  class="circle" (click)="onAction($event)">
                                                <div style="margin-top:2px;">A</div>
                                            </div>
                                        </div>
                                    </div>            
                                </div>
                                <div [style]="tabDivContent[1]">
                                    @if (j===0){
                                        <input [style]="i % 2 === 0 ? tabStyleInput[0][1] : tabStyleInput[1][1]" class="textHover" [readonly]='inputReadOnly'  type="text" (input)="onInputRecipe($event)" id="type-{{i}}" placeholder="meat/fish/oil"   value="{{tab.Type}}" >
                                    } @else {  
                                        <input [style]="i % 2 === 0 ? tabStyleInput[0][1] : tabStyleInput[1][1]" [readonly]='inputReadOnly'  type="text" style="pointer-events:none; background-color: white !important;" value="&nbsp;">
                                    }
                                </div>
                                <div [style]="tabDivContent[2]">
                                    <input [style]="i % 2 === 0 ? tabStyleInput[0][2] : tabStyleInput[1][2]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="name-{{i}}-{{j}}"  value="&nbsp;{{content.Name}}"   >
                                </div>
                                <div [style]="tabDivContent[3]">    
                                    <input [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="serv-{{i}}-{{j}}"  value="{{content.Serving}}"    >
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="unit-{{i}}-{{j}}" value="{{content.ServingUnit}}" >
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="calo-{{i}}-{{j}}" value="{{content.Calories | number:'1.0-0'}}" >
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="prot-{{i}}-{{j}}" value="{{content.Protein | number:'1.0-0'}}" >
                                </div>
                                <div [style]="tabDivContent[3]">                    
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="carb-{{i}}-{{j}}" value="{{content.Carbs | number:'1.0-0'}}" >
                                <!--
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="tabStyleInput[tabNewRecord[i].even][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="glyi-{{i}}-{{j}}" value="{{content.GlyIndex | number:'1.0-0'}}" >
                                -->
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="suga-{{i}}-{{j}}" value="{{content.Sugar | number:'1.0-0'}}" >                     
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="naturalSuga-{{i}}-{{j}}" value="{{content.naturalSugar | number:'1.0-0'}}" >                     
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="addedSuga-{{i}}-{{j}}" value="{{content.addedSugar | number:'1.0-0'}}" >                     
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="chol-{{i}}-{{j}}" value="{{content.Cholesterol | number:'1.0-0'}}" >                       
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="satu-{{i}}-{{j}}" value="{{content.Fat.Saturated | number:'1.0-0'}}" >
                                </div>
                                <div [style]="tabDivContent[3]">
                                    <input  [style]="i % 2 === 0 ? tabStyleInput[0][3] : tabStyleInput[1][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInputRecipe($event)" id="tota-{{i}}-{{j}}" value="{{content.Fat.Total | number:'1.0-0'}}" >
                                </div>
                            </div>
                        <!-- ============== TOTAL OF THE RECIPE ================== -->
        
                            @if (outFileRecipe.tabCaloriesFat[i].Content.length-1===j){
                                <div >
                                    <div  [style]="tabDivTotal[0]" >  
                                        <input  [style]="i % 2 === 0 ? tabTotal[0][0] : tabTotal[1][0]"  [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="&nbsp;" > 
                                    </div>
                                    <div  [style]="tabDivTotal[1]" >
                                        <input  [style]="i % 2 === 0 ? tabTotal[0][1] : tabTotal[1][1]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="&nbsp;" > 
                                    </div>
                                    <div [style]="tabDivTotal[2]" >
                                        <input  [style]="i % 2 === 0 ? tabTotal[0][2] : tabTotal[1][2]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="Total" > 
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input  [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Serving  | number:'1.0-0'}}" > 
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.ServingUnit}}" > 
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Calories  | number:'1.0-0'}}" > 
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input  [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Protein  | number:'1.0-0'}}" > 
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input  [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Carbs  | number:'1.0-0'}}" > 
                                    </div>
                                    <!--
                                    <div [style]="tabDivContent[3]" >
                                        <div [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]"  > {{tab.Total.GlyIndex  | number:'1.0-0'}}</div>
                                    </div>
                                    -->
                                    <div [style]="tabDivTotal[3]" >
                                       <input  [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Sugar  | number:'1.0-0'}}" >                  
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.naturalSugar  | number:'1.0-0'}}" >                  
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.addedSugar  | number:'1.0-0'}}" >                      
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Cholesterol  | number:'1.0-0'}}" > 
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                        <input [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Fat.Saturated  | number:'1.0-0'}}" >
                                    </div>
                                    <div [style]="tabDivTotal[3]" >
                                         <input [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]" [readonly]='inputReadOnly' type="text" id="tota-{{i}}-{{j}}" value="{{tab.Total.Fat.Total  | number:'1.0-0'}}" >
                                    </div>
                                                                    
                                </div>
                                <div style="display:inline-block; width:100%; ">&nbsp;</div> 
                            }
                        }
                    </div>
                </div>
            </div> 
        </div>

        <div class="posConfirm">
            <div class="skipLine">&nbsp;</div> 
            <div class="posConfirm">
                @if (!isSaveRecipeConfirmed() && isRecipeModified()){
                    <span class="msg"  >
                            Your recipe file has been updated. Do you want to
                    </span>
                    <button id='RecipeSave' class="sizeButtons" (click)="ConfirmSave($event)"> Save</button>
                    <button id='RecipeCancel' class="sizeButtons"  style="width:120px" (click)="CancelUpdates($event)"> Cancel Updates</button>
                }
                @if (errorMsg!=='' && returnEmit.saveAction==='RecipeSave'){
                    <div class="skipLine">&nbsp;</div>  
                    <span style="color:red; margin-left:20px; font-weight: bold; width:430px; display:inline-block; background: lightgrey;"  >{{errorMsg}}</span>
                    <div class="skipLine">&nbsp;</div> 
                } 
            </div>
        </div>
        @if (isSaveRecipeConfirmed()){
            <form  [formGroup]="SpecificForm" >
                <div class="msg"  >
                    Please enter the name of the recipe file to save  :
                    <input type='text' style='width:250px;' formControlName="FileNameRecipe" >
                </div>                        
                <div class="skipLine">&nbsp;</div>
                <div style="width:500px; display:inline-block; margin-left:20px; ">
                    <span style="width:240px; display:inline-block; color:blue; font-weight:bolder;">Confirm your data can be saved </span> 

                    <button id='RecipeSave' class="sizeButtons" (click)="SaveFile($event)">Yes</button>
                    <button id='RecipeCancel' class="sizeButtons" (click)="CancelTheSave($event)"> No</button>
                </div>
            </form>       
        }
        <div class="skipLine">&nbsp;</div> 


    <div class="skipLine">&nbsp;</div>  
    <div style="border:solid 2px blue; background-color: lightskyblue;display:inline-block; " [style]="{'width': (HTMLCaloriesFat.width+10) + 'px'}">
    
        @if (isErrorFS() && errorMsgFS !==""){
            <div style="color:red; margin-top:10px; margin-left:10px; display:block; font-size: 16px;">{{errorMsgFS}}</div>
        } @else if (tabLock[1].lock===2){
            <div style="color:red; margin-top:10px; margin-left:10px; display:block; font-size: 16px;">File is locked by another user; you cannot update the parameters</div>
        } @else if (tabLock[1].lock===3){
            <div style="color:red; margin-top:10px; margin-left:10px; display:block; font-size: 16px;">Checking if file is locked by another user</div>
        }
        <div style="margin-top:5px; font-size:18px; color:blue; display:inline-block; text-align:center; font-weight:bolder;" [style]="{'width': (HTMLCaloriesFat.width+10) + 'px'}">
            MANAGE CALORIES & FAT
            <!--
            <app-running-clock [posSizeClock]="posSizeClock">
            </app-running-clock>
            -->

            <div style="padding-left:700px; font-size:13px; ">
                @if (signalTime()>0){
                    <span >Time out will occur in</span> 
                    <span style="border: black double 2px;margin-left:5px;"> 
                        @if(displayHour!==0) { 
                            {{displayHour |number:'2.0-0'}} hour(s)
                        }
                        {{this.displayMin |number:'2.0-0'}} min {{this.displaySec | number:'2.0-0'}} sec
                    </span>
                }
            </div>  
            
        </div>
        <div class="skipLine">&nbsp;</div>
            <!-- =======================================================
                ================     Search function    ================ 
                ========================================================
            -->
        <div>
            <span style="color:blue; font-size:14px; width:60px; margin-left:10px;"> Search ingredient </span>
            <input type="text" [value]="checkText" id='search' (input)="SearchText($event)"
                style="margin-left:10px; width:200px; height:25px; color:blue; ">
            <button id='CancelText' class="sizeButtons" style="margin-left:10px;" (click)="SearchText($event)">Cancel</button>
            <div class="skipLine">&nbsp;</div>
        </div>

            <!--
                =========================================================================
                ================ Display and Manage Calories & Fat table ================ 
                =========================================================================
            -->

        <div [style]="{'height':HTMLCaloriesFat.title.height + 'px', 'min-width': HTMLCaloriesFat.minwidth + 'px' , 'width': HTMLCaloriesFat.width + 'px', 
                'margin-left':5 + 'px', 'display':'inline-block', 'overflow':'hidden'}" 
            >
            <!-- ================== TITLE =============== -->
                <div [style]="divClassHeader[0]">
                 <input [style]="tabHeader[0]" type="text" value="Action">
            </div>
            <div [style]="divClassHeader[1]">
                <div [style]="tabHeader[1]">Recipe          <button class="theArrow"   id='Recipe'    (click)="onFilter($event)">
                        <mat-icon class="material-symbols-outlined"  id='Recipe' (click)="onFilter($event)">
                            arrow_drop_down
                        </mat-icon>
                    </button>  
                </div>
            </div>
            <div [style]="divClassHeader[2]">
                <div [style]="tabHeader[2]">Food (Filter)
                    <button class="theArrow"  style="margin-left:35px;"  id='RecipeFood' (click)="onFilter($event)">
                        <mat-icon class="material-symbols-outlined"  id='RecipeFood' >
                            arrow_drop_down
                        </mat-icon>
                    </button>  
                </div>
            </div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Serving"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Unit"></div>
                
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Calories"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Protein"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Carbs"></div>
            <!--
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Glycemic Index"></div>
            -->
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Sugar"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Natural"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Added"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Cholest."></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Sat. fat"></div>
            <div [style]="divClassHeader[3]">
                <input [style]="tabHeader[3]" type="text" value="Total fat"></div>
            <!--
            <div [style]="divClassHeader[3]"> style="padding-top:3px;  border-right:2px solid darkcyan;">Lock </div>
            -->
        </div>
                <!-- ================== DROPDOWN LIST : type =============== -->
        @if (filterType){
            <div class="dropdown ">
                <div class="Straight-content"  >
                    <div  class="StraightDropDown StraightDropDownOverflow" 
                     >
                        <li *ngFor="let type of tabType; let m=index;" 
                                class="Straight-options "  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    
                                    (click)="onFilter($event)" id="selType" [value]="type.name">{{type.name}}     
                        </li>
                    </div>
                </div>
            </div>
        }
            <!-- ================== DROPDOWN LIST : food =============== -->
        @if (filterFood===true){
            <div class="dropdown " >
                <div class="Straight-content"  >
                    <div  class="StraightDropDown StraightDropDownOverflow" 
                        [style]="{  'margin-top': titleHeight  + 'px' ,'margin-left':130 + 'px', 'width':130 + 'px'}" >
                        <li *ngFor="let food of tabFood; let m=index;" 
                                class="Straight-options "  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    (click)="onFilter($event)" id="selFood" [value]="food.name"> {{food.name}} 
                        </li>
                    </div>
                </div>
            </div>
        }
        <!-- ================== DROPDOWN LIST : action =============== -->
         @if (dialogueCalFat[0]===true && !isDeleteType() && !isDeleteFood()){
            <div class="dropdown" >
                    <div class="Straight-content"  >
                                                            <!-- selectedPosition.y - tablePosTop - 450 -->
                        <div  class="StraightDropDown "  style="height:180px; width:140px; overflow-y:hidden;" 
                        [style]="{ 'margin-top': posItemAction + 'px'  ,'margin-left': 50 + 'px'}"  >
                            <li *ngFor="let theTab of TabAction; let m=index;" [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                                    class="Straight-options "   style=" width:140px; "
                                        (click)="onAction($event)" id="selAction-{{TabOfId[0]}}-{{TabOfId[1]}}-{{m}}" value="{{m}}">
                                        @if (m>0){ >&nbsp;&nbsp;{{theTab.name}}-{{theTab.action}}
                                        } @else { &nbsp;&nbsp;{{theTab.name}}
                                        }
                            </li>
                        </div>
                    </div>
            </div>
        }
            <!-- ================== Confirm/Cancel delete of meal/food =============== selectedPosition.y - posDeletedItem + 50 -->
        @if (isDeleteType() || isDeleteFood()){
            <div class="Straight-content">
                    <div  class="StraightDropDown RadioDropDown"  [style]="{ 'margin-top': posItemAction + 'px','margin-left': 50 + 'px'}" >
                        <div style="width:90%; color:blue; font-size:14px;">Confirm the deletion of {{ nameDeletedItem }}</div> 
                        <div  class="theRadio">
                            <input   (click)='onAction($event)' type="radio"   id="YesDelConfirm-{{TabOfId[0]}}-{{TabOfId[1]}}"  value="Y" > &nbsp;&nbsp;Yes 
                            <input  style='margin-left:10px;' (click)='onAction($event)' type="radio"   id="NoDelConfirm-{{TabOfId[0]}}-{{TabOfId[1]}}"  value="N">  &nbsp;&nbsp; No 
                            <div class="skipLine">&nbsp; </div>  
                        </div>
                    </div>
            </div>
        }

        <div id="posStartTable" [style]="{'margin-top':0.1 + 'px', 'overflow-y':'scroll', 'overflow-x':'hidden', 'display':'inline-block','max-height':HTMLCaloriesFat.height + 'px', 
                    'min-width': HTMLCaloriesFat.minwidth  + 'px', 'width': HTMLCaloriesFat.width + 'px', 'color':HTMLCaloriesFat.color, 'margin-left':5 + 'px'}" >
            <!-- ================== display of the table =============== -->
            <div *ngFor="let tab of outConfigCaloriesFat.tabCaloriesFat; let i=index ">
                @if (selType==='' || (selType.toLowerCase().trim()!=='' && selType.toLowerCase().trim()===tab.Type.toLowerCase().trim())){
                    <div *ngFor="let content of outConfigCaloriesFat.tabCaloriesFat[i].Content; let j=index">
                        @if (selFood==='' ||  (selFood.toLowerCase().trim()!=='' && selFood.toLowerCase().trim()===content.Name.toLowerCase().trim())){
                            @if (checkText==='' || (checkText!=='' && content.Name.toLowerCase().trim().indexOf(checkText.toLowerCase().trim())!==-1)){
                                <div  style="display:inline-block; width:100%;" >
                                    <!-- all items below will be next to each other-->    
                                        <div [style]="tabDivContent[0]">
                                            <div [style]="tabStyleBox[tabNewRecord[i].ngStyle][0]" >
                                                <div style="padding-left:0px;">
                                                    <div id='openAction-{{i}}-{{j}}'  class="circle" (click)="onAction($event)">
                                                        <div style="margin-top:2px;">A</div>
                                                    </div>
                                                </div>
                                            </div>            
                                        </div>
                                        <div [style]="tabDivContent[1]">
                                            @if (j===0){ 
                                                <input [style]="tabStyleInput[tabNewRecord[i].ngStyle][1]" class="textHover" [readonly]='inputReadOnly'  type="text" (input)="onInput($event)" id="type-{{i}}" placeholder="meat/fish/oil"   value="{{tab.Type}}" >
                                            } @else{    
                                                <input [style]="tabStyleInput[tabNewRecord[i].ngStyle][1]" [readonly]='inputReadOnly'  type="text" style="pointer-events:none; background-color: white !important;" value="&nbsp;">
                                            }   
                                        </div>
                                        <div [style]="tabDivContent[2]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][2]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="name-{{i}}-{{j}}"  value="&nbsp;{{content.Name}}"   >
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="serv-{{i}}-{{j}}"  value="{{content.Serving}}"    >
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="unit-{{i}}-{{j}}"  value="{{content.ServingUnit}}"  >
                                        </div>
                                        <div [style]="tabDivContent[3]"> 
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="calo-{{i}}-{{j}}"  value="{{content.Calories}}"  >
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="prot-{{i}}-{{j}}"  value="{{content.Protein}}" >
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="carb-{{i}}-{{j}}"  value="{{content.Carbs}}"  >
                                            <!--
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="glyi-{{i}}-{{j}}"  value="{{content.GlyIndex}}"  >
                                            -->
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="suga-{{i}}-{{j}}"  value="{{content.Sugar}}" >                     
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="naturalSuga-{{i}}-{{j}}"  value="{{content.naturalSugar}}" >                     
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]"  class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="addedSuga-{{i}}-{{j}}" value="{{content.addedSugar}}" >                     
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="chol-{{i}}-{{j}}"  value="{{content.Cholesterol}}">
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]"  class="textHover" [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="satu-{{i}}-{{j}}"  value="{{content.Fat.Saturated}}"  >
                                        </div>
                                        <div [style]="tabDivContent[3]">
                                            <input [style]="tabStyleInput[tabNewRecord[i].food[j].ngStyle][3]" class="textHover"  [readonly]='inputReadOnly' type="text" (input)="onInput($event)" id="tota-{{i}}-{{j}}"  value="{{content.Fat.Total}}" >                                
                                        </div>
                                    </div>
                            }
                        }
                    </div>
                }
            </div> 

        </div>

        @if (tabLock[1].lock===1){
            <div class="skipLine">&nbsp;</div> 
            <div class="posConfirm">
                @if (!isSaveConfirmed() && isCalFatModified()){
                    <span class="msg"  >
                        Configuration file is updated. Do you want to
                    </span>
                    <button id='Cal-1' class="sizeButtons" (click)="ConfirmSave($event)"> Save</button>
                    <button id='Cal-2' class="sizeButtons"  style="width:120px" (click)="CancelUpdates($event)"> Cancel Updates</button>
                }
                @if (errorMsg!=='' && returnEmit.saveAction==='ConfigCalSave'){
                    <div class="skipLine">&nbsp;</div>  
                    <span style="color:red; margin-left:20px; font-weight: bold; width:430px; display:inline-block; background: lightgrey;"  >{{errorMsg}}</span>
                    <div class="skipLine">&nbsp;</div> 
                }
            </div>
            @if(isSaveConfirmed()){
                <form  [formGroup]="SpecificForm" >
                    <div class="msg"  >
                        Please enter the name of the file 
                        <input type='text' style="width:250px;" formControlName="FileName" >
                    </div>                        
                    <div class="skipLine">&nbsp;</div>
                    <div style="width:500px; display:inline-block; margin-left:20px; ">
                        <span style="width:240px; display:inline-block; color:blue; font-weight:bolder;">Confirm your data can be saved </span> 
                        <button id='ConfigCalSave' class="sizeButtons" (click)="SaveFile($event)">Yes</button>
                        <button id='Cal-4' class="sizeButtons" (click)="CancelTheSave($event)"> No</button>
                    </div>
                </form>
            }
        }
        <div class="skipLine">&nbsp;</div> 
    </div>
} @else {
    @if (isUserTimeOut()){
        <div style="font-size:22px; color:blue; display:inline; width:200px; text-align:center; 
                    background:lightyellow; ">
            UNDER CONSTRUCTION 
        </div>
    }
}

</body>

