@import "../FitnessHealthGeneral.css";
input:focus {
  outline: none;
  border:none;
}
input {
  outline: none;
  border:none;
}

body{
  margin-left:20px;
}

div{
    --bufferW:60%;
}

.divContent{
  display:inline-block;
  border:0px red solid;
}
.divHeader{
  display:block;
  float:left;
  
}

.contentHeader{
  margin-top:8px;
  border:0px white solid;
  text-align:center;
  overflow-wrap:break-word;
  word-break: break-all;
  font-size:12px;
  background-color: transparent !important;
  display:flex;
  /*border:0px red solid;*/
  gap:2px;
  justify-content: space-between;
  flex-direction: row; 
  width: 100%;
  box-sizing: border-box;
  color:white;
}

.headerFilter{
  margin-top:1px;
  border:0px white solid;
  text-align:center;
  overflow-wrap:break-word;
  word-break: break-all;
  font-size:12px;
  background-color: transparent !important;
  display:flex;
  gap:2px;
  justify-content: space-between;
  flex-direction: row; 
  width: 100%;
  box-sizing: border-box;
  color:white;
}

.styleInput{
  display:flex;
  /*border:0px red solid;*/
  gap:2px;
  justify-content: space-between;
  flex-direction: row; 
  text-align: center;
  background-color: transparent !important;
  width: 100%;
  box-sizing: border-box;
  color:white ;
}

.styleTotal{
  font-size: 16px;
  color:red ;
  font-weight: bolder;
}

.tableContainer{
  overflow-y:scroll; margin-top:-2px; 
  margin-left:5px;
  display:inline-block;
}

.recipe-row {
  width: 870px; 
  height: 35px; 
  border: 3px solid red; 
  border-bottom: 2px solid blue;
  display: flex; /* Ensures the columns line up next to each other */
  align-items: center;
}


.yesScroll{
  overflow-y:scroll;
  overflow-x:hidden;
}

.noScroll{
  overflow:hidden;
}

.circle{
  border-radius: 50% 50%;
  color:white;
  width:18px;
  height:18px;
  order: solid 0px rgb(182, 42, 42);
  font-weight:bold;
  background-color: #b87451;
  display:inline-block;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.nonCircle{
  width:18px;
  height:18px;
  display:inline-block;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
  
.circle:hover{
  color:black;
  background-color:cyan;
}

.theArrow{
  font-size:12px; 
  color:blue;
  width:50px;
  height:15px;
  background:cyan;
  margin-left:8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theArrow:hover{
  color:red;
}

.textHover{
  font-weight: normal;
}

.textHover:hover{
  color:red !important;
  font-weight: bold;
  background-color:white !important;
}

.theRadio{
    margin-left:10px; margin-top:10px; color:blue; font-size:12px; 
    width:90%; display:block; height:30px; background-color:lightgrey; 
    border:solid 2px black;
  }

.theRadio:hover{
    color:red;
}

.RadioDropDown{
  font-size:10px;
  width:200px;
  text-align: center;
  border: 2px solid green;
  height: 100px;
  background: cyan;
  color: blue;
  }

.StraightDropDown-Cal{
  border: 0px solid green;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: lightgrey;
}

.Straight-options{
  width:200px;
  font-size:12px;
  height:25px;
  color:black;
  text-align: left;
  padding-left:5px;
  padding-top:4px;
  border:0px; 
  display:inline-block;
  float:none;


}

