/* position of the canvas */

.sunImg{
    border-radius: 30%;
    width:250px;
    height:250px;;
}

.earthImg{
    border-radius: 50%;
    width:240px;
    height:240px;;
}

.titleCanvas{
    display:inline-block;
    width:460px;
    text-align: center;
    background-color: rgb(61, 61, 176);
    color:white;
    font-size: 16px;
    font-weight: bolder;
    height:35px;
    padding-top:5px;
}

.skipLine{

    margin-top:8px;
}

.firstBut{
    margin-left:50px !important; 
}

.uniqueBut{
    margin-left:170px !important; 
}

.divBut{
    display:inline-block; 
    height:50px; 
    width:100%;
}

.sizeButtons{
    margin-top:10px;
    width:80px;
    height:28px;
    font-size:13px;
    margin-left:50px;
    background-color:cyan;
    border-radius: 5px;
    background-image: linear-gradient(cyan, lightcyan);
    box-shadow: 2px 2px blue;
    border: solid 1px blue;
    display:table-cell;
    vertical-align:middle;
}

.sizeButtons:hover{
    background-color:rgb(48, 89, 159);
    background-image: linear-gradient(rgb(97, 166, 206), rgb(63, 153, 206));
  }


.canvasPos{
    display:inline-block;
    width:460px;
    margin-top:60px;
    margin-left:20px;
    background-color: lightblue;
    padding-left:0px;
}

.position{
    position:relative;
    border: solid 2px red;
    display:block;
}

.position-parameters{
    border: solid 0px rgb(25, 33, 193);
    }

.position-moveparameters{  
    border: solid 0px rgb(0, 255, 34);
}



.block_one_bis{
    position:absolute;
    width:170px;
    height:350px;
    border: solid 2px rgb(69, 21, 179);
    margin-left:130px;
    margin-top:-52px;
    display:block;

}

.position-field{
    margin-top:-10px;
    width:70px;
    height:20px;
    border: solid 0px blue;
}

.posField{
    margin-top:-10px;
    width:140px;
    height:20px;
    color:blue;
    font-weight: bolder;
    border: solid 0px blue;
    padding-left:30px;
}

.input-field{
    width:60px;
    height:20px;
    border: solid 0px blue;
    margin-top:-20px;
}

.input-field:hover{
    background-color: rgb(153, 30, 30);
    color:white;
}
/*****
.block_one{
    position:absolute;
    width:200px;
    height:500px;
    border: solid 0px rgb(69, 21, 179);
    margin-left:480px;
    margin-top:-500px;

}
.block_move{
    width:200px;
    height:500px;
    border: solid 0px red;
    margin-left:750px;
    margin-top:-500px;
}
.position-radio{
    margin-left:80px; 
    margin-top:110px;
  
    }
****/
/* ============ MENU ==========*/

.dropdown {  
    display: inline-block;  
    width:20%;
    margin-left:10px;
    margin-top:20px; 
    z-index: 1;
}  

.param_one_down {  
    display: inline-block;  
    width:20%;
    margin-left:20px;
    z-index: 1;
    
    /*
    margin-top:10px;
    */
}  

.param_two_down {  
    display: inline-block;  
    width:20%;
    margin-left:20px;
    z-index: 1;
     /*
    margin-top:10px;
    */
}  

.dropmenu {  
    background-color: rgb(180, 180, 45);  
    color: black;  

    width:120px;
    height:53px;

    display:block;
    margin-left:10px;
    border:solid 0px red;
}  

.dropbtn {  
    background-color: rgb(180, 180, 45);  
    color: black;  
 
    font-size: 14px;  
    margin-top:40px;

    border:solid 0px blue;
    height:53px; 
    width:120px;
    display:block;
}  

.dropdown-content {  
    /*
    position: absolute;  
    */
    background-color: lightgrey;  
    width:300px;
    display: none;  
    z-index: 1;  

}  
.dropdown-content span {  
    color: black;  
    padding: 10px 15px;  
    text-decoration: none;  
    display: block;  
    height:35px;
    background-color: lightblue;
}  
.dropdown-content span:hover {  
    background-color: grey;  
}  
.dropdown:hover .dropdown-content {  
    display: block;  
    margin-left:10px;

}  
.dropdown:hover .dropbtn {  
    background-color: grey;  
}  

.param_one_down:hover .dropdown-content {  
    display: block;  

}  
.param_one_down:hover .dropbtn {  
    background-color: grey;  
}  


.param_two_down:hover .dropdown-content {  
    display: block;  

}  
.param_two_down:hover .dropbtn {  
    background-color: rgb(192, 186, 186);  
}  

.earth{
    border-radius: 50%;
    height:30px;
    width:30px;
}