@import "../Health/FitnessHealthGeneral.css";

::placeholder{
  font-size:12px;
  color:red;
  font-weight: bold;


}

table {
    /*
    border-collapse: collapse;
    table-layout: fixed; 
    */
    margin-left:10px;
    width:var(--tableW);
    max-width:var(--tableMaxW); 
    overflow: scroll;
    border-collapse: collapse;
    table-layout: fixed;
  }
    
  th {
    text-align: center;
    background-color: #96D4D4;
    border-spacing: 5px;
    border: 1px solid blue;
    font-size:12px;
    height:30px;
  }
    
  td {
    /*
    vertical-align: middle;
    */
    text-align: left;
    border-spacing: 0px;
    height:30px;
    color:blue;
    font-size:12px;
    padding-left:3px;
    overflow:scroll;
    word-wrap: break-word;
  }
  

.tableCol {
    border:solid 1px blue;
  }

.rowEven{
    background-color: #9edb9c;
}
    
.rowOdd {
    background-color: #8a97e8;
  }

.inputText{
  color:blue;
  background-color: rgb(232, 229, 229);
  width:55%;
  text-transform:lowercase;
  }

.inputText:hover{
    color:blue;
    background-color: rgb(198, 157, 157);
}

.overrideInput{
  width:120px; 
  height:30px; 
  margin-left:10px; 
  font-size:14px;
  text-transform:lowercase;
  }

.StraightDropDownOverride{
    width:270px;
    text-align: center;
    border: 2px solid green;

  }

.Straight-optionsOverride{
    min-width:85px; 
    width:85px;
    height:30px;
    text-align: center;
  }

.sizeButtonsOverride{
    width:65px;
    height:32px;
    font-size:10px;
    margin-left:10px;
}

.page{
  width:80px; 
  height:25px;
  font-size:10px; 
  border-radius: 5px;
  background-image: linear-gradient(rgb(246, 219, 205), rgb(247, 199, 174));
  box-shadow: 2px 2px rgb(203, 108, 56);
  border: solid 1px blue;
}

.page:hover{
  color:red;

}

.prevPage{
  margin-left:5px; 

}
.nextPage{
  margin-right:10px;
  float:right;
}

.divPage{
  width:var(--tableW); 
  max-width:var(--tableMaxW); 
  margin-left:10px; 
  border:0px blue solid; 
  height:40px;
  margin-top:8px;
}


.arrowOdd{
  color:blue;
}
.arrowEven{
  color:rgb(108, 108, 184);
}

.arrow_down_size:hover {
  color:green;
  
}


.arrow_down_size{
  font-size:22px;
  margin-left:2px; 
  background-color:white;
} 



/*
.arrow_down_size{
  border-radius: 50% 50%;
  color:blue;
  align-items: center;
  background-color:rgb(165, 169, 169);
  border:solid 1px blue;
  font-size:18px;
  padding-top:2px;
  padding-left:2px;
  margin-top:-1px;
} 
*/
/*** ====================================== ***/
/*** ============== @media 1010 ================ ***/
/*** ====================================== ***/
  
@media only screen and (max-width: 1010px) {
  body{
    max-width: 620px;

  }

  div{
      --margLeft: 10px;
      --LabWidth: 80px;
      --textWidth:80px;
      --DropLeft:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
      --DropLeftPerf:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
      --CriteriaOneDropLeft:100px;
      --CriteriaTwoDropLeft:200px;
      --CriteriaThreeDropLeft:300px;
    }
  


td {
    font-size:10px;
  }
th {
    font-size:10px;
  }

.overrideInput{
  width:80px; 
  font-size:11px;
  height:25px;
  
  }

.StraightDropDownOverride{
    font-size:10px;
    width:85px;
    text-align: center;
    border: 2px solid green;
  }

.Straight-optionsOverride{
    min-width:65px; 
    width:65px;
    font-size:10px;
    height:30px;
    text-align: center;
  }
}
