
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>

<div style="margin-top:40px; width:100%; display:inline-block;">
    <app-select-server [initConfigServer]="configServer" 
                    (returnServer)="getServerNames($event)">
    </app-select-server>
</div>


<!--
<div style="margin-left:30px; margin-top:40px; width:300px;">
    <form [formGroup]="theForm" >
        <div style="display:inline-block; height:15px; width:100%; color:red; font-size: 14px;">userServerId==>{{credentials.userServerId}}   {{errorMsg}}</div>
        <label class="label">User Id</label> <input type="text" class="theInput" formControlName="userId">
        <div style="display:inline-block; height:4px; width:100%;"></div>
        <label class="label">Password</label> <input type="password" class="theInput" formControlName="psw">
        <div *ngIf="isConfigServerRetrieved">
            <button class="sizeButtons" style="margin-top:4px;" id="2" (click)="validateIdentification()">Submit</button> 
            <button class="sizeButtons" id="1" (click)="clearForm()">Clear</button> 
        </div>
        <div style="display:inline-block; height:4px; width:100%;"></div>
    </form>
</div>

-->

<div   style=" width:450px; max-width: 450px; margin-top:8px; ">
    <span style="width:100%; background-color: cyan; margin-left:20px; border:solid 2px red; display:inline-block; ">
        <span style="width:100%; color:#0000ff; font-size:22px; display:inline-block; text-align: center; padding-top:10px; height:50px;"> Select the apps </span>
        <br>
        <span class="options" >1. XMV Company</span>
        <span class="options" >2. Logos</span>
        <span class="options" >3. Telephone</span>
        <span class="options" >4. Slider</span>
        <span class="options" >5. ColorPicker</span>
        <span *ngIf="configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'" class="options" >6.Encrypt/Decrypt </span>
        <span *ngIf="configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High'" class="options" > &nbsp;</span>
        <span class="options" >7. CSSTable</span>
        <span *ngIf="configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'" class="options" >8. Upload File</span>
        <span *ngIf="configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High'" class="options" > &nbsp;</span>
        <span *ngIf="configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'" class="options" >9. Save & Download</span>
        <span *ngIf="configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High'" class="options" > &nbsp;</span>
        <span class="options" >10. Converter</span>
        <span class="options" >11. Calories & Fat</span>
        <span class="options" >12. Health data</span>
        <span class="options" >13. Health Chart</span>
        <span class="options" >14. Recipe</span>
        <span class="options" >15. Dicto for recipe</span>
        <span *ngIf="configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'" class="options" >16. Manage servers</span>
        <span *ngIf="configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High'" class="options" > &nbsp;</span>
        <span *ngIf="configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'" class="options" >17. Test Tutorials</span>
        <span *ngIf="configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High'" class="options" > &nbsp;</span>
        <span class="options" >18. Performance sport</span>
        <span class="options" >19. Manage PointOfRef</span>
        <span class="options" >20. Manage Circuits</span>
        <span class="options" >21. Sport report</span>
        <span class="options" >22. Sport analysis</span>
        <span class="options" >23. Sport Raw Data Mgt</span>
        <span class="options" >24. Fitness</span>
        <span class="options" >25. Photos</span>
        <span class="options" >26. 27AUG2022</span>

        <br><br>
    </span>
    <input style="width:80px; height:30px; margin-left:150px; margin-top:10px;"  placeholder="selection#" type="text" (input)="onInput($event)">
    <button class="sizeButtons"  style="margin-left:30px;" (click)="onSelectApps()">Submit</button>
    <div class="skipLine"></div>
</div>
<div id="posTopMain" ></div>
<div *ngIf="isResetServer===true" >
    <div style="display:inline-block; height:4px; width:100%;"></div>
    <span style="width:350px; background-color: cyan; margin-left:30px; border:solid 2px red; display:inline-block; ">
        Server has been reinitialised
    </span>
    <div style="display:inline-block; height:4px; width:100%;"></div>
</div>

<div *ngIf="isAppsSelected===true && isIdRetrieved===true && isConfigServerRetrieved===true && isCredentials===true">
    <div *ngIf="selectApps===1 ">
        <app-xmv-company [configServer]="configServer" [identification]="identification"  [isConfigServerRetrieved]="isConfigServerRetrieved"
            [credentials]="credentials" [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS" (resetServer)="fnResetServer($event)"  (newCredentials)="fnNewCredentials($event)">
        </app-xmv-company>
    </div>
   
    <div *ngIf="selectApps>1 && selectApps<8 " style="float:none;">
       
        <app-routing-app [selectApps]="selectApps"  [configServer]="configServer" > </app-routing-app>
    </div>
    <div *ngIf="(selectApps===8 || selectApps===9) && (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High')  " style="float:none;">
       
        <app-routing-app [selectApps]="selectApps"  [configServer]="configServer" > </app-routing-app>
    </div>
    <div *ngIf="(selectApps===6 || selectApps===8 || selectApps===9 || selectApps===16) && (configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High')  " style="float:none;">
        <div style="margin-top:8px; padding-top:4px;display:inline-block; height:30px; margin-left:20px; text-align:center; width:400px; background-color:blue; color:white; font-weight: bolder; ">
            You don't have the permission to access this feature
        </div>
    </div>
    <div *ngIf="selectApps===10">
        <app-converter  [identification]="identification"  [configServer]="configServer" [convertOnly]="convertOnly" 
                 
        >
        </app-converter>
    </div>  
    
    <div *ngIf="selectApps>10  &&  selectApps<14">
        
        <app-health  [identification]="identification"  [configServer]="configServer"  [triggerFunction]="selHealthFunction" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS"
             (resetServer)="fnResetServer($event)"  (newCredentials)="fnNewCredentials($event)"
        >
        </app-health>
    </div>  

    <div *ngIf="selectApps===14 || selectApps===15">
        <app-recipe  [identification]="identification"  [configServer]="configServer"  
         [InConvToDisplay]="ConvToDisplay"     [dictionaryOnly]="dictionaryOnly"
        >
        </app-recipe>
    </div>  
    <div *ngIf="(selectApps===16 || selectApps===17) && (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High') ">
        <app-test-server-js   [serverTest]="serverTest" [configServer]="configServer" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS" [configServerChanges]="configServerChanges" >
        </app-test-server-js>
    </div>  
    <div *ngIf="selectApps===18">
        <app-performance-sport   [configServer]="configServer" [identification]="identification" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS">
        </app-performance-sport>
    </div>  
    <div *ngIf="selectApps===19">
        <app-manage-point-of-ref   [configServer]="configServer" [identification]="identification" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS">
        </app-manage-point-of-ref>
    </div>  
    <div *ngIf="selectApps===20">
        <app-manage-circuits [configServer]="configServer" [identification]="identification" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS">
        </app-manage-circuits>
    </div>  
    <div *ngIf="selectApps===21">
        <app-sport-reports [configServer]="configServer" [identification]="identification" [credentials]="credentials" [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS">
        </app-sport-reports>
    </div>  
    <div *ngIf="selectApps===22">
        <app-sport-analysis [configServer]="configServer" [identification]="identification" [credentials]="credentials" [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS">
        </app-sport-analysis>
    </div> 
    <div *ngIf="selectApps===23">
        <app-sport-perf-raw-data-mgt [configServer]="configServer" [identification]="identification" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS">
        </app-sport-perf-raw-data-mgt>
    </div> 
    <div *ngIf="selectApps===24">
        <app-fitness-stat  [identification]="identification"  [configServer]="configServer" 
        >
        </app-fitness-stat>
    </div> 
    <div *ngIf="selectApps===25">
        <app-GetImages [identification]="identification" [LoginTable_User_Data]="LoginTable_User_Data" [configServer]="configServer"
        [LoginTable_DecryptPSW]="LoginTable_DecryptPSW">
        </app-GetImages>
    </div> 

    <div *ngIf="selectApps===26">
        <app-Event-27AUG2022 [identification]="identification"  [configServer]="configServer" [LoginTable_User_Data]="LoginTable_User_Data" 
        [LoginTable_DecryptPSW]="LoginTable_DecryptPSW"
        > <!--  (returnDATA)="GetUpdatedTable($event)" -->
        </app-Event-27AUG2022>
    </div>

</div>
  


</body>
