
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>


@if (devMode!=='local' && configServer.userLogin.accessLevel!=='low'){
    <div style="margin-top:10px; width:100%; display:inline-block;">
        <app-select-server [initConfigServer]="configServer" 
                        (returnServer)="getServerNames($event)">
        </app-select-server>
    </div>
}
@if (isInitTabLock===false){
    isInitTabLock is FALSE
}
@if (errMsg!==''){
    <div style="margin-left:10px; background-color:red; color:white; font-weight:bolder; display:inline-block; width:150px;">
        {{errMsg}}
    </div>
}
@if (isInitTabLock===true && nbAppsToDisplay>0){
    <div  style=" width:450px; max-width: 450px; margin-top:8px; ">
        <span style="width:100%; background-color: cyan; margin-left:20px; border:solid 2px red; display:inline-block; ">
            <span style="width:100%; color:#0000ff; font-size:22px; display:inline-block; text-align: center; padding-top:10px; height:50px;"> Select the apps </span>
            <br>
            @if (tabApps[0].display===true){<span class="options" >1. XMV Company</span>}
            @if (tabApps[0].display===true){<span class="options" >2. Logos</span>}
            @if (tabApps[0].display===true){<span class="options" >3. Telephone</span>}
            @if (tabApps[0].display===true){<span class="options" >4. Slider</span>}
            @if (tabApps[0].display===true){<span class="options" >5. ColorPicker</span>}
            @if (tabApps[1].display===true && (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High')){<span class="options" >6.Encrypt/Decrypt </span>}
            @if (tabApps[1].display===true && (configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High')){<span class="options" > &nbsp;</span>}
            @if (tabApps[0].display===true){<span class="options" >7. CSSTable</span>}

            @if (tabApps[12].display===true){
                @if (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'){
                    <span class="options" >8. Upload File</span>
                    <span class="options" >9. Save & Download</span>
                } @else {
                    <span  class="options" > &nbsp;</span>
                    <span  class="options" > &nbsp;</span>
                }
            } 
            @if (tabApps[7].display===true){<span class="options" >10. Converter</span>}
            @if (tabApps[13].display===true){<span class="options" >11. Calories & Fat</span>}
            @if (tabApps[3].display===true){<span class="options" >12. Health data</span>}
            @if (tabApps[3].display===true){<span class="options" >13. Health Chart</span>}
            @if (tabApps[4].display===true){<span class="options" >14. Recipe</span>}
            @if (tabApps[5].display===true){<span class="options" >15. Dico for recipe</span>}
            @if (tabApps[14].display===true){
                @if (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'){<span class="options" >16. Manage servers</span>
                } @else {
                    <span class="options" > &nbsp;</span>
                }
            }
            @if (tabApps[15].display===true){
                @if (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High'){<span class="options" >17. Test Tutorials</span>
                } @else {
                    <span class="options" > &nbsp;</span>
                }
            }
            @if (tabApps[11].display===true){<span class="options" >18. Performance sport</span>}
            @if (tabApps[11].display===true){<span class="options" >19. Manage PointOfRef</span>}
            @if (tabApps[11].display===true){<span class="options" >20. Manage Circuits</span>}
            @if (tabApps[11].display===true){<span class="options" >21. Sport report</span>}
            @if (tabApps[11].display===true){<span class="options" >22. Sport analysis</span>}
            @if (tabApps[11].display===true){<span class="options" >23. Sport Raw Data Mgt</span>}
            @if (tabApps[2].display===true){<span  class="options" >24. Fitness</span>}
            @if (tabApps[10].display===true){<span class="options" >25. Photos</span>}
            @if (tabApps[16].display===true){<span class="options" >26. 27AUG2022</span>}
            @if (tabApps[6].display===true){<span class="options" >27. Canvas</span>}
            @if (tabApps[0].display===true){<span class="options" >28. Clock</span>}
            @if (tabApps[17].display===true){<span class="options" >29. XML Test</span>}

            <br><br>
        </span>
        <input style="width:80px; height:30px; margin-left:150px; margin-top:10px;"  placeholder="selection#" type="text" (input)="onInput($event)">
        <button class="sizeButtons"  style="margin-left:30px;" (click)="onSelectApps()">Submit</button>
        <div class="skipLine"></div>
    </div>
}
<div id="posTopMain" ></div>
@if(isResetServer===true){
    <div style="display:inline-block; height:4px; width:100%;"></div>
    <span style="width:350px; background-color: cyan; margin-left:30px; border:solid 2px red; display:inline-block; ">
        Server has been reinitialised
    </span>
    <div style="display:inline-block; height:4px; width:100%;"></div>
}

@if (isAppsSelected===true && isIdRetrieved===true && isConfigServerRetrieved===true && isCredentials===true){
<!--    
    @if(selectApps===1){
        <app-xmv-company [configServer]="configServer" [INidentification]="identification"  [isConfigServerRetrieved]="isConfigServerRetrieved"
            [credentials]="credentials" [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS" (resetServer)="fnResetServer($event)"  (newCredentials)="fnNewCredentials($event)">
        </app-xmv-company>
    }
--> @if ((selectApps>1 && selectApps<6) || selectApps===7){
        <div style="float:none;">       
            <app-routing-app [selectApps]="selectApps"  [configServer]="configServer" > </app-routing-app>
        </div>
    } @else if ((selectApps===6 || selectApps===8 || selectApps===9) && (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High')){
        <div  style="float:none;">
            <app-routing-app [selectApps]="selectApps"  [configServer]="configServer" > </app-routing-app>
        </div>
    } @else if ((selectApps===6 || selectApps===8 || selectApps===9 || selectApps===16) && (configServer.userLogin.accessLevel!=='High' && configServer.userLogin.accessLevel!=='Very High') ){
        <div style="float:none;">
            <div style="margin-top:8px; padding-top:4px;display:inline-block; height:30px; margin-left:20px; text-align:center; width:400px; background-color:blue; color:white; font-weight: bolder; ">
                You don't have the permission to access this feature
            </div>
        </div>
    } @else if (selectApps===10){
        <app-converter  [identification]="identification"  [configServer]="configServer" [convertOnly]="convertOnly"                  
            >
        </app-converter>
    } @else if (selectApps>10  &&  selectApps<14){
        <app-main-health  [identification]="identification"  [configServer]="configServer"  [triggerFunction]="selHealthFunction" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS"
                [tabLock]="tabLock"  (resetServer)="fnResetServer($event)"  (newCredentials)="fnNewCredentials($event)"
                >
        </app-main-health>
    } @else if (selectApps===14 || selectApps===15){
        <app-recipe  [identification]="identification"  [configServer]="configServer"  
            [InConvToDisplay]="ConvToDisplay"     [dictionaryOnly]="dictionaryOnly"
            >
        </app-recipe>
    } @else if ((selectApps===16 || selectApps===17) && (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High')){
            <app-test-server-js   [serverTest]="serverTest" [configServer]="configServer" [credentials]="credentials"  [credentialsMongo]="credentialsMongo" [credentialsFS]="credentialsFS" [configServerChanges]="configServerChanges" >
            </app-test-server-js>
    }  @else if (selectApps===18){
        <app-sport-performance   [configServer]="configServer" [identification]="identification"  >
        </app-sport-performance>
    }  @else if (selectApps===19){ 
        <app-manage-point-of-ref   [configServer]="configServer" [identification]="identification" >
        </app-manage-point-of-ref>
    }  @else if (selectApps===20){
        <app-manage-circuits [configServer]="configServer" [identification]="identification" >
        </app-manage-circuits>
    }  @else if (selectApps===21){
        <app-sport-reports [configServer]="configServer" [identification]="identification" >
        </app-sport-reports>
    }  @else if (selectApps===22){
        <app-sport-analysis [configServer]="configServer" [identification]="identification">
        </app-sport-analysis>
    }  @else if (selectApps===23){
        <app-sport-perf-raw-data-mgt [configServer]="configServer" [identification]="identification">
        </app-sport-perf-raw-data-mgt>
    }  @else if (selectApps===24){
        <app-fitness-stat  [identification]="identification"  [configServer]="configServer" 
            >
        </app-fitness-stat>
    }  @else if (selectApps===25){
        <app-GetImages [identification]="identification" >
        </app-GetImages>
    }  @else if (selectApps===26){
        <app-Event-27AUG2022 [identification]="identification"  [configServer]="configServer" [LoginTable_User_Data]="LoginTable_User_Data" 
            [LoginTable_DecryptPSW]="LoginTable_DecryptPSW"
            > <!--  (returnDATA)="GetUpdatedTable($event)" -->
        </app-Event-27AUG2022>
    }  @else if (selectApps===27){
        <app-my-canvas> </app-my-canvas>
    }  @else if (selectApps===28){
        <app-running-clock [posSizeClock]="posSizeClock"> </app-running-clock>
            <br><br>
    }  @else if (selectApps===29){
        <app-kiosk-abd-config [identification]="identification"  [configServer]="configServer" 
                [devMode]="devMode"> 
        </app-kiosk-abd-config>
    }
}
</body>
