@import "../FitnessHealthGeneral.css";

input:focus {
  outline: none;
}

::placeholder{
  font-size:12px;
  color:red;
  font-weight: bold;
}

.boxHover{
  background-color: cyan;
}

.boxHover:hover{
  background-color: cyan !important;
  color:blue  !important;
  border:0px green solid  !important;
}

.circle{
  border-radius: 50% 50%;
  color:blue;
  width:18px;
  height:18px;
  border: solid 1px rgb(4, 4, 124);
  margin-left:8px;
  font-size:10px;
  font-weight:bold;
  background-color: #8e8c8b;
  text-align: center;
  padding-top:0px;
  display:inline-block;
}

.circle:hover{
  color:red;
  background-color:cyan;
  width:22px;
  height:22px;
  border: solid 2px rgb(4, 4, 124);
}

.posConfirm{
  margin-left:10px; 
  width:80%;
}

/*** ====================================== ***/
/*** ============== @media 1010 ================ ***/
/*** ====================================== ***/
@media only screen and (max-width:830px) {
  body{
    max-width: 620px;
  }

  div{
    --margLeft: 10px;
    --LabWidth: 80px;
    --textWidth:130px;
  }
  
  td {
    font-size:10px;
  }
  th {
    font-size:10px;
  }

  .mealBlock{
    max-width:420px; 
  }

  .posConfirm{
    margin-left:90px; 
  }

}

    