
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> 
<body>

    @if (openFileAccess()){    
        <app-file-access 
                [configServer]="configServer" [identification]="identification" 
                [tabLock]="tabLock" [eventCheckToLimit]="theEvent" [triggerCheckToLimit]="triggerCheckToLimit()"
                [triggerFileSystem]="triggerFileSystem()" [triggerReadFile]="triggerReadFile()" [triggerSaveFile]="triggerSaveFile()"
                (resultFileSystem)="resultAccessFile($event)"
        >
        </app-file-access>
    }

    <div style="border:solid green 2px; display:inline-block;margin-top:8px; margin-left:20px; background-color: lightskyblue;">

        @if(errCalcCalFat!==''){
            <div class="skipLine">&nbsp;</div>
            <div style="margin-top:8px; margin-left:8px; color:red; font-weight: bold; width:400px; display:inline-block; background: rgb(241, 229, 229);"  >
                <div class="skipLine">&nbsp;</div>
                    {{errCalcCalFat}}
                <div class="skipLine">&nbsp;</div>
            </div>
        }

        @if(((isDeleteConfirmed===false && errorMsg!=='' && errorFn==='delDate') || 
                (IsSaveConfirmedAll===false && errorMsg!=='' && errorFn==='All'))){
            <div class="skipLine">&nbsp;</div>
            <div  style="margin-top:8px; margin-left:20px; color:red; font-weight: bold; width:480px; display:inline-block; background: lightgrey;"  > 
                <div class="skipLine">&nbsp;</div>
                {{errorMsg}}
                <div class="skipLine">&nbsp;</div>
            </div>
            <div class="skipLine">&nbsp;</div>
        }

        @if(tabLock[0].lock === 2 && this.errorMsg === ""){
            <div style="font-size:16px; color:red; margin-left:20px; height:40px; padding-top:12px; display:inline-block; width:500px; background-color:lightskyblue; margin-top:10px;">
            <span >
                    Sorry, this file is locked by another user - updates are not possible
            </span> 
            </div>
        }

        @if(tabLock[0].lock === 3 && this.errorMsg === "" ){
            <div style="font-size:16px; color:red; margin-left:20px; height:40px; padding-top:12px; display:inline-block; width:500px; background-color:lightskyblue; margin-top:10px;">
                <span >
                        Checking if this file is locked by another user 
                </span> 
            </div>
        }

        @if (HealthAllData.tabDailyReport.length>0){
                <!--------------- DISPLAY ALL -->
            <div style="font-size:16px; border:solid 0px red;  display:inline-block; 
                              margin-top:5px;  width:935px;" >
                <div style="width:100%; padding-top:10px; font-size:18px;font-weight:bolder; text-align:center; color:blue; display:inline-block;"> HEALTH DATA MANAGEMENT</div>
                    
                    <!-- 
                    <app-running-clock [posSizeClock]="posSizeClock">
                    </app-running-clock>
                    -->
                <div style="width:100%; display:inline-block; font-size:13px; ">
                    @if (signalTime()>0  && this.identification.triggerFileSystem.toUpperCase()==="YES"){
                        <div style="display:block; float:right;  margin-right:10px; border: green double 2px; width:250px;">
                            Time out will occur in&nbsp; 
                            @if(displayHour!==0) { 
                                {{displayHour |number:'2.0-0'}} hour(s)
                            }
                            {{this.displayMin |number:'2.0-0'}} min {{this.displaySec | number:'2.0-0'}} sec
                        </div>
                        <br><br>
                    }
                </div>
        
                @if(isDeleteConfirmed===true){
                    @if(errorMsg!==''){
                        <div class="skipLine">&nbsp;</div>
                        <div class="error" >{{errorMsg}}</div>
                    }
                    <div class="skipLine">&nbsp;</div>
                    <div class="posConfirm">
                        <button id='Del-1' class="sizeButtons" (click)="ConfirmDelDate()">Confirm</button>
                        <button id='Del-2' class="sizeButtons" (click)="cancelDelDate()"> Cancel</button>
                    </div>
                }
        

                <form  [formGroup]="TheSelectDisplays"  >
                    <span style="color:blue; font-size:14px; width:60px; margin-left:10px;"> Filter </span>
                    <input type="date" formControlName="startRange" placeholder="start date" 
                        style="margin-left:10px; width:120px; height:25px; color:blue; ">
                    <input  type="date" formControlName="endRange" placeholder="end date" 
                        style="margin-left:10px;width:120px; height:25px; color:blue; ">
                    <button id='selectAllData' class="sizeButtons" (click)="dateRangeSelection($event)">Submit</button>
                    <button id='cleardates' class="sizeButtons" (click)="clearDates()">Clear</button>
                    @if (isRangeDateError===true) {<span class="error" >{{errorMsg}}</span>}
                    
                </form>
                <div class="skipLine">&nbsp;</div>


            <form  [formGroup]="TheSelectDisplays"  >
                <span style="color:blue; font-size:14px; width:60px; margin-left:10px;"> Search ingredient </span>
                <input type="text" formControlName="searchString"  
                    style="margin-left:10px; width:170px; height:25px; color:blue; ">
                <button id='submit' class="sizeButtons" style="margin-left:10px;" (click)="actionSearchText($event)">Submit</button>
                <button id='clear' class="sizeButtons" style="margin-left:10px;" (click)="actionSearchText($event)">Clear</button>
            </form>
            @if(errorMsg!==''&& errorFn==='' ){
                <div  style="color:red; margin-top:10px; font-size:14px; margin-left:10px; padding-left:5px;font-weight: bold; width:915px; height:25px; padding-top:2px;display:inline-block; "  > 
                    {{errorMsg}}
                </div>
            }

            <div   id="posAfterTitle" style="border: solid 0px green;  margin-top:15px; width:920px; margin-left:5px; display:inline-block; overflow:hidden;" 
                    [style.height.px]="confTableAll.row.height+6" [style.background-color]="confTableAll.title.background"
                    >
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.action" type="text" value="Action"></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.date" type="text" value="Date"></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.calBurnt" type="text" value="Burnt"></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.meal" type="text" value="Meal"></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.ingr" type="text" value="Ingr."></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Quant."></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Unit"></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Cal."></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Chol."></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Prot."></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Carbs"></div>
                <!--
                    <div [style]="divClassHeader[5]">
                    <input [style]="tabHeader[5]" type="text" value="Gly"></div>
                -->
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Sugar"></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Sat."></div>
                <div class="divHeader">
                    <input class="contentHeader" [style.width.px]="confTableAll.colWidth.other" type="text" value="Total"></div>
            </div>

            <!-----   DROPDOWN LIST outside ngFor because of overflow:scroll-->
            @if(dialogue[6]===true){
                <div class="dropdown ">
                    <div  [style]="styleBox" >
                        <div  [style]="styleBoxOption">       
                            @for (action of NewTabAction; track action; let m = $index) {
                                <li class="Straight-options" 
                                    [class]="{'colorEven': m % 2 === 0, 'colorOdd': m % 2 !== 0}" 
                                    (click)="onDropDownAll($event)" 
                                    id="selAction-{{TabOfId[0]}}-{{TabOfId[1]}}-{{TabOfId[2]}}-{{m}}" 
                                    value="{{action.type}}-{{action.name}}">
                                    
                                    @if (m > 1) {
                                    &nbsp;&nbsp;{{action.type}}:&nbsp;{{action.name}}
                                    } @else { 
                                    &nbsp;&nbsp;{{action.name}}
                                    }
                                </li>
                            }               

                        </div>                   
                    </div>
                </div>
            }
            @if (isDeleteItem===true){
                <div [style]="styleBox">
                    <div [style]="styleBoxOption" style="  background: cyan; ">
                        <div style="width:100%; color:blue; font-size:14px; text-align: center; ">Confirm the deletion of {{delMsg}}</div> 
                            <div  class="theRadio" style='margin-left:40px; margin-top:8px;'>
                                <input   style='margin-left:18px;'(click)='DelAfterConfirm($event)' type="radio"   id="YesDelConfirm-{{TabOfId[0]}}-{{TabOfId[1]}}-{{TabOfId[2]}}"  value="Y" > &nbsp;&nbsp;Yes 
                                <input  style='margin-left:10px;' (click)='DelAfterConfirm($event)' type="radio"   id="NoDelConfirm-{{TabOfId[0]}}-{{TabOfId[1]}}-{{TabOfId[2]}}"  value="N">  &nbsp;&nbsp; No 
                                <div class="skipLine">&nbsp; </div>  
                            </div>
                    </div>
                </div>
            }

            <!--  GENERATE AUTOMATICALLY A DROPDOWN WINDOW WITH MEALS STARTING WITHT THE SAME LETTERS  --- REFER TO tabInputMeal-->
            @if (tabInputMeal.length>0){    
                <div class="dropdown ">
                    <div  [style]="styleBoxMeal" >
                        <div   [style]="styleBoxOptionMeal">  
                            @for (tabMeal of tabInputMeal; track tabMeal; let m = $index) {
                                <li 
                                    class="Straight-options" 
                                    [class.colorEven]="m % 2 === 0" 
                                    [class.colorOdd]="m % 2 !== 0" 
                                    (click)="onSelMealFood($event)" 
                                    id="selMeal-{{TabOfId[0]}}-{{TabOfId[1]}}-{{m}}" 
                                    [value]="tabMeal"> 
                                    {{tabMeal}} 
                                </li>
                                }
                        </div>             
                    </div>
                </div>
            }
            <!--  GENERATE AUTOMATICALLY A DROPDOWN WINDOW WITH EXISTING FOOD STARTING WITHT THE SAME LETTERS  --- REFER TO tabInputFood-->
            @if (isInputFood===true && tabInputFood.length>0){    
                <div class="dropdown " >
                    <div [style]="styleBoxFood" >
                        <div   [style]="styleBoxOptionFood">
                            @for (tabFood of tabInputFood; track tabFood.id || m; let m = $index) {
                                <li class="Straight-options" 
                                    [style]="{'width':sizeBox.widthOptions + 'px'}" 
                                    [class]="{'colorEven': m % 2 === 0, 'colorOdd': m % 2 !== 0}" 
                                    (click)="onSelMealFood($event)" 
                                    id="selFood-{{TabOfId[0]}}-{{TabOfId[1]}}-{{TabOfId[2]}}-{{m}}" 
                                    [value]="m"> 
                                    {{tabFood.name}} - serving: {{tabFood.serving | number:'1.0-0'}} {{tabFood.unit}} 
                                </li>
                            }
                        </div>            
                    </div>
                </div>
            }
            <!-----   MANAGEMENT OF ALL HEALTH DATA - DISPLAY OF THE TABLE -->

            <div class="tableContainer" [style.width.px]="920" [style.color]="confTableAll.row.color" [style.height.px]="confTableAll.height"
                    
                > <!--[style.width.px]="confTableAll.width-20" [style.height.px]="confTableAll.height"
                     [style.color]="confTableAll.color" [style.background-color]="confTableAll.background" -->
                <!--
                <div ngfor="myDaily of HealthAllData.tabDailyReport; let i=index"  [style.background-color]="i % 2 === 0 ? confTableAll.row.even : confTableAll.row.odd"> 
                -->
                @for (myDaily of HealthAllData.tabDailyReport; track $index; let i = $index) {
                    @let rowColor = i % 2 === 0 ? confTableAll.row.even : confTableAll.row.odd;
                    <div [style.background-color]="rowColor">
                    @if ((i >= minNum && i<=maxNum) || checkText!==''){
                    @for (meal of myDaily.meal; track $index; let k = $index){
                    
                        @for (theIngred of meal.dish; track $index; let j=$index){

                            @if (searchOneDateHealth===0 || (searchOneDateHealth===1 && myDaily.date===dateRangeStartHealth) || 
                                    (searchOneDateHealth===2 && myDaily.date>=dateRangeStartHealth && (myDaily.date< dateRangeEndHealth || myDaily.date=== dateRangeEndHealth))){
                                @if (checkText==='' || (checkText!=='' && theIngred.name.toLowerCase().trim().indexOf(checkText.toLowerCase().trim())!==-1)){
                                <div class="recipeRow" [style.background-color]="rowColor">
                                    <div class="divContent" [style.width.px]="confTableAll.colWidth.action">
                                        <div class="styleInput boxHover circle" 
                                              [id]="'openAction-'  + i + '-' + k + '-' + j" (click)="onAction($event)" >
                                            <div   >A</div>
                                        </div>
                                       
                                    </div>
                                    <div class="divContent" [style.width.px]="confTableAll.colWidth.date">  
                                        @if (k===0 && j===0){
                                            <input  style="text-align:left; padding-left:8px;" 
                                                 type="date" class="boxHover" 
                                                
                                                class="styleInput"
                                                [id]="'dateAll-' + i "   (input)="onInputDailyAll($event)" [value]="myDaily.date" >
                                        } @else if (j===0){
                                            <input   readonly type="date" 
                                                class="styleInput"
                                                [value]="myDaily.date" style="pointer-events: none; padding-left:8px;"  >
                                        } @else {
                                            <input  class="styleInput" readonly type="text" 
                                                [value]="&nbsp;" style="pointer-events: none;"  >
                                        }
                                    </div>
                                    <div class="divContent" [style.width.px]="confTableAll.colWidth.calBurnt" >
                                        @if (k===0 && j===0){
                                            <input  type="text"  class="styleInput boxHover" 
                                                [id]="'burnAll-' + i"  (input)="onInputDailyAll($event)" 
                                                [value]="myDaily.burntCalories"   > 
                                        } @else {
                                            <input  class="styleInput" readonly type="text" 
                                                [value]="&nbsp;" style="pointer-events: none;"  >
                                        }
                                    </div>
                                    <div class="divContent" [style.width.px]="confTableAll.colWidth.meal" >
                                        @if (j===0){
                                            <input  type="text" class="styleInput boxHover alignL" 
                                                    [id]="'mealAll-' + i + '-' + k"   (input)="onInputDailyAll($event)" (mouseup)="actionMouseUp($event)" 
                                                    [value]="meal.name"   >
                                        } @else { 
                                            <input   readonly>
                                        }
                                    </div>
                                    <div class="divContent" [style.width.px]="confTableAll.colWidth.ingr" >
                                        <input type="text" class="styleInput boxHover alignL" 
                                            
                                            [id]="'ingrAll-'  + i + '-' + k + '-' + j"    (input)="onInputDailyAll($event)" (mouseup)="actionMouseUp($event)" 
                                            [value]="theIngred.name"  >
                                    </div>
                                    <div class="divContent" [style.width.px]="confTableAll.colWidth.other" >
                                        <input type="text"  class="styleInput  boxHover" 
                                            
                                            [value]="theIngred.quantity" [id]="'quanAll-'  + i + '-' + k + '-' + j" (input)="onInputDailyAll($event)"  >
                                    </div>
                                    <div class="divContent" [style.width.px]="confTableAll.colWidth.other">  
                                        <input type="text"  class="styleInput  alignC" 
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.unit" id="'unitAll-''  + i + '-' + k + '-' + j" (input)="onInputDailyAll($event)" >
                                    </div>
                                    <div class="divContent" >  
                                        <input type="text" class="styleInput  alignC" [style.width.px]="confTableAll.colWidth.other"
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.calFat.Calories  | number:'1.0-0'"  >
                                    </div>
                                    <div class="divContent" >   
                                        <input type="text" class="alignC" [style.width.px]="confTableAll.colWidth.other"
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.calFat.Cholesterol  | number:'1.1-1'"  >
                                    </div>
                                    <div class="divContent" > 
                                        <input type="text" class="alignC" [style.width.px]="confTableAll.colWidth.other"
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.calFat.Protein | number:'1.1-1'"  >
                                    </div>
                                    <div class="divContent" >
                                        <input type="text"  class="alignC" [style.width.px]="confTableAll.colWidth.other"
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.calFat.Carbs  | number:'1.1-1'"  >
                                    </div>
                                    <!--
                                    <div [style]="tabDivContent[5]"> 
                                        <input type="text" 
                                            [style]="i % 2 === 0 ? tabContent[0][5] : tabContent[1][5]"
                                            value="{{theIngred.calFat.GlyIndex  | number:'1.1-1'}}"  >
                                    </div>
                                    -->
                                    <div class="divContent" >
                                        <input type="text" class="alignC" [style.width.px]="confTableAll.colWidth.other"
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.calFat.Sugar  | number:'1.1-1'" >
                                    </div>
                                    <div class="divContent" >  
                                        <input type="text"  class="alignC"[style.width.px]="confTableAll.colWidth.other"
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.calFat.Fat.Saturated  | number:'1.1-1'" >
                                    </div>
                                    <div class="divContent" >
                                        <input type="text" class="alignC"[style.width.px]="confTableAll.colWidth.other"
                                            [style.background-color]="rowColor"
                                            [value]="theIngred.calFat.Fat.Total  | number:'1.1-1'" >
                                    </div>
                                </div>
                                }
                                <!-- sub-TOTAL-->
                                @if (HealthAllData.tabDailyReport[i].meal[k].dish.length-1===j && checkText===''){
                                    <div style="display:inline-block; width:100%;">
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][0] : tabSubTotal[1][0]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][1] : tabSubTotal[1][1]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][2] : tabSubTotal[1][2]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][3] : tabSubTotal[1][3]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][4] : tabSubTotal[1][4]" ><span style=" text-align:right;">sub-Total</span></div>
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{meal.total.Calories  | number:'1.0-0'}}</span></div>                                
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{meal.total.Cholesterol | number:'1.1-1'}}</span></div> 
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{meal.total.Protein | number:'1.1-1'}}</span></div> 
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{meal.total.Carbs | number:'1.1-1'}}</span></div> 
                                        <!--
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.GlyIndex | number:'1.1-1'}}</span></div> 
                                        -->
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{meal.total.Sugar | number:'1.1-1'}} </span></div>  
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{meal.total.Fat.Saturated | number:'1.1-1'}}</span></div> 
                                        <div [style]="i % 2 === 0 ? tabSubTotal[0][5] : tabSubTotal[1][5]" ><span style="padding-left:7px;">{{meal.total.Fat.Total | number:'1.1-1'}}</span></div> 

                                    </div>
                                }
                                <!-- TOTAL-->
                                <!--
                                    style="--Tcol:{{confTableAll.Total.color}}; --TfontW:{{confTableAll.Total.fontWeight}}; --Theight:{{confTableAll.Total.height}}"
                                -->
                                @if (HealthAllData.tabDailyReport[i].meal.length-1===k && HealthAllData.tabDailyReport[i].meal[k].dish.length-1===j && checkText===''){
                                    <div style="display:inline-block; width:100%;">
                                        <div [style]="i % 2 === 0 ? tabTotal[0][0] : tabTotal[1][0]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabTotal[0][1] : tabTotal[1][1]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabTotal[0][2] : tabTotal[1][2]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabTotal[0][3] : tabTotal[1][3]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabTotal[0][4] : tabTotal[1][4]" ><span style=" text-align:right; font-size:18px;">Total</span></div>
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]">&nbsp;</div>
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.Calories  | number:'1.0-0'}}</span></div>                                
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.Cholesterol | number:'1.1-1'}}</span></div> 
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.Protein | number:'1.1-1'}}</span></div> 
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.Carbs | number:'1.1-1'}}</span></div> 
                                        <!--
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.GlyIndex | number:'1.1-1'}}</span></div> 
                                        -->
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.Sugar | number:'1.1-1'}} </span></div>  
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.Fat.Saturated | number:'1.1-1'}}</span></div> 
                                        <div [style]="i % 2 === 0 ? tabTotal[0][5] : tabTotal[1][5]" ><span style="padding-left:7px;">{{myDaily.total.Fat.Total | number:'1.1-1'}}</span></div> 
                                        <div class="skipLine"></div>
                                    </div>
                                }
                            }
                        }
                    }
                    }
                    </div>
                }
            </div> 
        <!--
            <div style="width:100%; display:inline-block; margin-top:5px;">
                @if (minNum>1){
                    <button  id='prev' class="sizeButtons"  style="width:80px;" (click)="pagePrev()"> Prev page</button>
                }
                <button id='next' class="sizeButtons"  style="width:80px; margin-left:20px;" (click)="pageNext()"> Next page</button>
                <span style="margin-left:80px; width:100px; height:22px; display:inline-block; color:blue; font-size:16px; vertical-align:middle;"> page#&nbsp;{{numPage}} </span>
            </div>
        -->
            <div class="skipLine">&nbsp;</div>
                @if (isAllDataModified===true && tabLock[0].lock ===1){
                    @if (IsSaveConfirmedAll===false && isSaveHealth===false){
                        <div class="msg"  style="margin-left:10px;">
                                File has been modified
                            <button id='AllConfirm' class="sizeButtons" (click)="ConfirmSaveA($event)"> Save</button>
                            <button id='AllCancel' class="sizeButtons" style='width:100px;' (click)="cancelUpdateAll($event)"> Cancel changes</button>
                        </div>
                    }
                    @if(this.isMustSaveFile === true){
                        <div class="msg"  style="margin-left:10px;">
                            Save your modifications before timeout
                        </div>
                    }
                    @if(IsSaveConfirmedAll===true){
                        <form  [formGroup]="SpecificForm" >
                            <div class="msg"   style="margin-left:10px;">
                                Please enter the name of the file to save :
                                <input type='text' style="width:240px;" formControlName="FileName" >
                            </div>
                            <div class="skipLine">&nbsp;</div>
                            <div style="width:500px; display:inline-block; margin-left:20px; ">
                                <span style="width:240px; display:inline-block; color:blue; font-weight:bolder;">Confirm your data can be saved </span> 
                                <button id='All-1' class="sizeButtons" (click)="SaveHealth($event)">Yes</button>
                                <button id='All-2' class="sizeButtons" (click)="cancelTheSave()"> No</button>
                            </div>
                        </form>        
                    }
                    <div class="skipLine">&nbsp;</div>
                }
                <div class="skipLine">&nbsp;</div>
                @if (tabLock[0].lock ===1){
                    <div class="msg"  style="margin-left:10px;">
                        Do you want to clean your Health file?
                        <button id='cleanFile' class="sizeButtons" (click)="cleanFile()"> Yes</button>
                    </div>
                }
            </div>
        <!-- } @else {
        -->
        @if(isUserTimeOut()){
            <div style="margin-left:6px">
                <div style="font-size:16px; color:blue; display:inline-block; 
                        text-align:center;  margin-top:5px; width:100%;">
                        You have been inactive for too long so your updates are lost. Re-access the application Health 
                </div>
            </div>
        }
        <div class="skipLine">&nbsp;</div>
}
    </div>

</body>

