@import "../FitnessHealthGeneral.css";

input:focus {
  outline: none;
}

input {
  border: none;       /* Removes the initial default border */
  outline: none;    /* Removes the default focus ring/highlight */
}

input[type="date"] {
  /* Forces the browser to render the native calendar icon and UI in dark mode */
  color-scheme: dark; 
  
  /* Your custom colors for the input box text and background */
  background-color: white;
  color: #ffffff;
}
::placeholder{
  font-size:12px;
  color:red;
  font-weight: bold;
}

.boxHover{
  text-align: center;
}

.boxHover:hover{
  background-color: blue !important;
}

.circle{
  border-radius: 50% 50%;
  color:blue;
  width:18px;
  height:18px;
  border: solid 1px rgb(4, 4, 124);
  font-weight:bold;
  background-color: #8e8c8b;
  text-align: center;
  vertical-align: middle;
  display:inline-block;
  margin-top:0px;
  margin-left:14px;

}

.circlLetter{
  font-size: 16px;
  margin-top:-3px;

}

.circle:hover{
  color:white !important;
  background-color:blue !important;
}

.posConfirm{
  margin-left:10px; 
  width:80%;
}

.divHeader{
  display:block;
  float:left;
  
}

.contentHeader{
  margin-top:4px;
  border:0px white solid;
  text-align:center;
  overflow-wrap:break-word;
  word-break: break-all;
  font-size:12px;
  background-color: transparent !important;
  display:flex;
  /*border:0px red solid;*/
  gap:2px;
  justify-content: space-between;
  flex-direction: row; 
  width: 100%;
  box-sizing: border-box;
  color:white;
}

.alignL{
  text-align: left;
}

.alignC{
  text-align: center;
}

.tableContainer{
  overflow-y:scroll;
  margin-top:-2px; 
  margin-left:5px;
  display:inline-block;
  border:0px red solid;
  box-sizing: border-box;
  font-size: 13px;
}

.styleInput{
  display:flex;
  /*border:0px red solid;*/
  gap:2px;
  justify-content: space-between;
  flex-direction: row; 
  text-align: center;
  background-color: transparent !important;
  width: 100%;
  box-sizing: border-box;
  color:white;
}

.healthRow {
  width: 920px; 
  height: 35px; 
  border: 0px solid red; 
  border-bottom: 0px solid blue;
  display: flex; /* Ensures the columns line up next to each other */
  align-items: center;
}

.divContent{
  display:inline-block;
  box-sizing: border-box;
  height:25px;
}