/*** 
      File to nbe inserted after 
      @media only screen and (max-width: 1010px) 
**/
/*** ========================================== ***/
/*** ============== @media 1010 =============== ***/
/*** ========================================== ***/
@media only screen and (max-width: 1010px) {
    body{
      max-width: 620px;
      font-size:10px;
    }

    div{

        --margLeft: 10px;
        --LabWidth: 80px;
        --textWidth:80px;
        --DropLeft:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
        --DropLeftPerf:calc( var(--margLeft) + var(--LabWidth) + calc(var(--textWidth) / 2) + var(--textMarLeft) );
        --CriteriaOneDropLeft:100px;
        --CriteriaTwoDropLeft:200px;
        --CriteriaThreeDropLeft:300px;
      }
    
    .sizeButtons{
        width:70px;
        height:30px;
        font-size:10px;
        margin-left:30px;
    }

    .arrow_down_size{
      font-size:18px;
    } 
  }