
     
@if (posSizeClock.displayAnalog===true){ 
    <div [style]="{'width':posSizeClock.width + 'px', 'height':posSizeClock.height + 'px', 'margin-top':posSizeClock.margTop + 'px', 'margin-left':posSizeClock.margLeft + 'px'}">
        <canvas 
            #clockCanvas 
            id='canvasElem' 
            class="position" 
            [style]="{'width':posSizeClock.width + 'px', 'height':posSizeClock.height + 'px'}" 
        >
        </canvas>
    </div>
}
     
@if (posSizeClock.displayDigital===true){
    <div style="width:100%; display:inline-block; text-align: center; margin-top:2px; ">
            {{theHours | number:'2.0-0'}}:{{theMinutes | number:'2.0-0'}}:{{theSeconds | number:'2.0-0'}}
    </div>
}


