<div class="skipLine">&nbsp;</div>
<div style="margin-top:15px; margin-left:30px;" *ngFor="let options of TabOptions; let i=index;">
    <button class="sizeButtons" style="float:left; width:70px; height:40px; margin-left:10px; background-image: linear-gradient(rgb(214, 224, 249), rgb(240, 241, 243));" 
                    id='option-{{i}}' (click)="ManageOptions($event)">{{options}}</button>
</div>

<div class="skipLine">&nbsp;</div>

<div stryle="margin-left:30px;" *ngIf="EventHTTPReceived[0]===true  && SelectedOption[0]===true">
   <!--
<h1> Calories</h1>>

<h2>Beans</h2>

<h2>Vegetable</h2>

<h2>Meat</h2>

<h1> Saturated fats</h1>

<h2>Beans</h2>

<h2>Vegetable</h2>

<h2>Meat</h2>
-->
</div>
<div style="margin-left:10px; " *ngIf="EventHTTPReceived[1]===true && SelectedOption[1]===true">
   
   <!-- CONVERSION OF TWO UNITS -->
    <div style="border: blue solid 2px; width: var(--tableW); max-width: var(--tableW); margin-left:10px; font-size:18px; float:none; ">
        <div style="color:blue; font-size:18px; float:none; text-align: center;">Convert your units</div>  

        <input type="text" list="l1" placeholder='From' class="inputText overrideInput" style=" margin-top:3px;" name="inField" id="From-{{0}}" (input)="ConvertValues($event)" [value]="ValuesToConvert.From">
        <datalist id="l1">
            <option *ngFor="let unit of TabOfUnits;" [value]='unit' style="width:40px; height:15px;">
                {{unit}}</option>
        </datalist>

        <input type="text" placeholder='Value ' class="inputText overrideInput" style=" margin-top:3px; " name="inField" id="ValueFrom-{{0}}" (input)="ConvertValues($event)" [value]="ValuesToConvert.valueFrom">
        <input type="text" list="l2" placeholder='to' class="inputText overrideInput"  name="inField" id="To-{{1}}" (input)="ConvertValues($event)" [value]="ValuesToConvert.To">
        <datalist id="l2">
        <option *ngFor="let unit of TabOfUnits;" [value]='unit' style="width:40px; height:15px;">
            {{unit}}</option>
        </datalist>

        <input type="text" placeholder='Value to convert' class="inputText overrideInput" style=" margin-top:3px; ;" name="inField" id="ValueTo-{{0}}" (input)="ConvertValues($event)" [value]="ValuesToConvert.valueTo">
       
            <!--
        <input type="text"  placeholder='unit 3' class="inputText overrideInput"  name="inField" id="Filter-{{2}}" (input)="onFilter($event)" [value]="TabFilter[2]">
        -->

        <button class="sizeButtons" style="margin-left:130px; margin-top:5px;" id='Convert' (click)="ConvertValues($event)">Select</button>
        <button class="sizeButtons" style="margin-bottom:5px;" id='CancelConvert' (click)="CancelConvertValues()">Cancel</button>
 
    </div>

    <!-- DISPLAY TABLE OF ALL CONVERSIONS -->
    <div class="skipLine">&nbsp;</div>
    <table style="float:none;">
        <thead>
            <tr>
                <th class="tableCol"> Conversion </th>
                <th class="tableCol" style="width:35%"   > From &nbsp;
                    <select  style="margin-left:15px;" (click)="onFilter($event)">
                        <option style="width:40px; height:15px;" [value]='' id="xFilter-{{0}}"> Filter</option>
                        <option *ngFor="let unit of TabOfUnits;" [value]='unit' id="Filter-{{0}}" style="width:40px; height:15px;">
                            {{unit}}</option>
                        </select>
                </th>
                <th class="tableCol" style="width:35%"  > to &nbsp;
                    <select style="margin-left:15px;"  >
                        <option style="width:40px; height:15px;" [value]='' id="xFilter-{{1}}" (click)="onFilter($event)">Filter</option>
                        <option *ngFor="let unit of TabOfUnits;" [value]='unit' id="Filter-{{1}}" style="width:40px; height:15px;" (click)="onFilter($event)">
                            {{unit}}</option>
                        </select>
                </th>    
                <th class="tableCol" style="width:40px;"> Action </th> 

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let display of PageToDisplay; let i=index">
                <td class="tableCol" > <input type="text"  class="inputText" style="width:95%" id="valueFromTo-{{i}}" name="valueFromTo" (input)="inputValue($event)" [value]="display.valueFromToDisplay"></td>
                <td class="tableCol" > <input type="text"  class="inputText" id="valueFrom-{{i}}" name="valueFrom" (input)="inputValue($event)" [value]="display.firstValueDisplay ">&nbsp;{{display.from }}</td>
                <td class="tableCol" > <input type="text" class="inputText" id="valueTo-{{i}}" name="valueTo" (input)="inputValue($event)" [value]="display.secondValueDisplay ">&nbsp;{{display.to }}</td>
                <td class="tableCol"  style="padding-left:10px;"> 
                    <select  style='width:20px; height:20px;  background-color:rgb(172, 117, 117)' id="DelMod-{{i}}" (click)="DelModAction($event)">
                        <option>&nbsp;</option>
                        <option *ngFor="let action of TabAction;" [value]='action' id="DelMod-{{i}}"  style=" font-size:14px;">
                            &nbsp;&nbsp;&nbsp;&nbsp; {{action}}&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        </select>
                </td>                 
            </tr>
           
               
        </tbody>

        <div  *ngIf="TabDialogue[PreviousDialogue]===true" class="dropdown" >
            <div class="Straight-content">
                <div  class=" StraightDropDown"  >
                    <div class="skipLine">&nbsp;</div>
                    <table >
                        <thead>
                            <tr>
                                <th class="tableCol" > Conversion </th>
                                <th class="tableCol" style="width:30%"> From </th>
                                <th class="tableCol" style="width:30%"> to </th>                
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td class="tableCol" > <input type="text"  class="inputText" style="width:95%" id="FromTo" name="valueFromTo" (input)="inputNewRow($event)" [value]="newRecord.valueFromTo"></td>
                                <td class="tableCol" > <input list='l3' type="text"  class="inputText" style="width:95%" id="From" name="From" (input)="inputNewRow($event)" [value]="newRecord.From"></td>
                                <datalist id="l3">
                                    <option *ngFor="let unit of TabOfUnits;" [value]='unit' style="width:40px; height:15px;">
                                        {{unit}}</option>
                                </datalist>
                                <td class="tableCol" > <input list='l4' type="text" class="inputText" style="width:95%" id="To" name="To" (input)="inputNewRow($event)" [value]="newRecord.To"></td>
                                <datalist id="l4">
                                    <option *ngFor="let unit of TabOfUnits;" [value]='unit' style="width:40px; height:15px;">
                                        {{unit}}</option>
                                </datalist>
                            </tr>

                        </tbody>
                    </table>
                    <div class="skipLine">&nbsp;</div>
                    <button class="sizeButtons" id='UpdateChanges' (click)="DelModAction($event)">Confirm Changes</button>
                    <button class="sizeButtons" id='CancelNewRow' (click)="CancelAction()">Cancel</button>
                </div>
            </div>
        </div>
    </table>
    <div  class=" arrow_down divPage" *ngIf="PageToDisplay.length===itemPerPage">
        <button class="page prevPage" (click)="prevPage()" *ngIf="PageToDisplay[0].refMainTable!==0"> Prev page</button>
        <button class="page prevPage" (click)="prevPage()" *ngIf="PageToDisplay[0].refMainTable===0"> </button>
        <button *ngIf="displayNewRow===false" class="page prevPage" style="margin-left:80px; "(click)="addRow()" >Add a row</button>
        <!--
        <button class="material-symbols-outlined arrow_down_size" (click)="prevPage()" style="margin-left:5px; " >
             arrow_left
        </button>
     
        <button  (click)="nextPage()" class="material-symbols-outlined arrow_down_size" style="margin-right:5px; float:right;">
            arrow_right 
        </button>
           -->
        <button class="page nextPage" (click)="nextPage()" *ngIf="PageToDisplay[itemPerPage-1].refMainTable<ConvToDisplay.length-1" > Next page</button>
        <button class="page nextPage" (click)="nextPage()" *ngIf="PageToDisplay[itemPerPage-1].refMainTable>=ConvToDisplay.length-1" ></button>
    </div>

    <div class="skipLine">&nbsp;</div>
    <div class="skipLine">&nbsp;</div>
    <!-- 
        Create new record
    -->
    <div *ngIf="displayNewRow===true" >
        <div class="skipLine">&nbsp;</div>
        <table >
            <thead>
                <tr>
                    <th class="tableCol" > Conversion </th>
                    <th class="tableCol" style="width:35%"> From </th>
                    <th class="tableCol" style="width:35%"> to </th>                
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td class="tableCol" > <input type="text"  class="inputText" style="width:95%" id="FromTo" name="valueFromTo" (input)="inputNewRow($event)" [value]="newRecord.valueFromTo"></td>
                    <td class="tableCol" > <input list='l3' type="text"  class="inputText" style="width:95%" id="From" name="From" (input)="inputNewRow($event)" [value]="newRecord.From"></td>
                    <datalist id="l3">
                        <option *ngFor="let unit of TabOfUnits;" [value]='unit' style="width:40px; height:15px;">
                            {{unit}}</option>
                    </datalist>
                    <td class="tableCol" > <input list='l4' type="text" class="inputText" style="width:95%" id="To" name="To" (input)="inputNewRow($event)" [value]="newRecord.To"></td>
                    <datalist id="l4">
                        <option *ngFor="let unit of TabOfUnits;" [value]='unit' style="width:40px; height:15px;">
                            {{unit}}</option>
                    </datalist>
                </tr>
                <tr >
                    <span style="color:red; background-color:cyan; font-size:12px;"> {{error_msg}}</span>
                </tr>
            </tbody>
        </table>
        <div class="skipLine">&nbsp;</div>
        <button class="sizeButtons" style="margin-left:150px; float:left;" id='SaveNewRow' (click)="inputNewRow($event)">Save new row</button>
        <button class="sizeButtons" id='CancelNewRow' (click)="CancelNewRow()">Cancel</button>
       
    </div>

    <div *ngIf="displayNewRow===false" >
        <div class="skipLine">&nbsp;</div>
        <div style='width:100%; height:30px; display:inline-block; color:blue; font-size:14px;' >Reinitialise the table
            <button class="sizeButtons" id='CancelConvert' (click)="CancelConvert()">Init</button>
        </div>
        <div class="skipLine">&nbsp;</div>
        <div style='width:100%; height:30px; display:inline-block; color:blue; font-size:14px;' >Update the conversion configuration file
                <button class="sizeButtons" id='SaveConvert' (click)="SaveConvert()">Save</button> 
        </div>
        <div class="skipLine">&nbsp;</div>
        <span style='color:red; font-size:12px; width:100%' >{{message}}</span>
    </div>      
</div>



