@import "./AdminGeneral.component.css";

div{
    font-family: 'Roboto, "Helvetica Neue", sans-serif';
   
}



.photo{
    width:400px; 
    height:300px;
}

.photo:hover{
    width:550px; 
    height:400px;
}

.photoVertical{
    width:400px; 
    height:600px;
}

.photoVertical:hover{
    width:550px; 
    height:750px;
}



.GOdownload{
    width:40px; 
    height:40px; 
    background-color:rgb(84, 153, 188);
    margin-left:15px;
}

.myIcon{
    font-size:40px;
    margin-top:-5px;
    margin-left:-8px;
   
}

.GOdownload:hover{
    color:white;
    background-color: blue;
}

.highlight_page{
    font-family: 'Roboto, "Helvetica Neue", sans-serif';
    font-size:16px;
    font-weight:bold;
    color:red;    
}

.lowlight_page{
    font-family: 'Roboto, "Helvetica Neue", sans-serif';
    font-size:16px;
    font-weight: bold;
    color:blue;
    margin-top:20px;
}


.lowlight_page:hover{
    background-color: cyan;
    color:rgb(42, 36, 36);
}

.position{
    margin-left:20px;
    border: 2px blue solid;
}

.posParamPhoto{
    margin-left:20px;
    width:120px;;
    color:blue;
    font-size:16px;
    padding-left:10px;

}

.position-field{
    width:80px;
    font-size:16px;


}




    /*** ====================================== ***/
    /*** ============== @media 800 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width:800px) {
        .posOptions{
            margin-top:10px; 
            margin-left:22%; 
        }
        
        .dropdown-options{
            width:70px;
          }
      
h2{
    font-size:38px;
    margin-top:30px;
 }

 .sizeMap{
    height:710px;
    margin-top:30px;
}

.overlap_image{

    margin-top:-710px;
    height:710px;

  }

 .flagone{
    margin-left:82%;
}

.flagtwo{
    margin-left:90%;
}

.field-name{
    font-size:13px;
    width:60%;
}

.input_fieldTwo{
    font-size:13px;
    width:37px; 
}
.images{
    height:200px;
}

.smallimages{
    height:100px;
}

.sizeButtons{
    font-size:14px;
    font-weight: bold;
}

.input_select{
        font-size:13px;
}

.photo{
    width:300px; 
    height:200px;
}

.photo:hover{
    width:380px; 
    height:250px;
}

.photoVertical{
    width:200px; 
    height:300px;
}

.photoVertical:hover{
    width:350px; 
    height:550px;
}

.GOdownload{
    width:20px; 
    height:20px; 
}

.myIcon{
    font-size:20px;
    margin-top:-4px;
    margin-left:-8px;
    
}

.highlight_page{
    font-size:14px;
}

.lowlight_page{
    font-size:14px;
}

.butt{
    margin-left:20px;
    font-size:10px;


}
.butt:hover{
    background-color: rgb(116, 134, 216);
    font-size:10px;
    font-weight: bold;
    color:white;
}

}
      /*** ====================================== ***/
    /*** ============== @media 490 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width:490px) {


 
      }