body{
    width:580px;
    margin-left:20px;
}
@import "../performance-sport/performance-sport.component.css";

.inputText{
    color:blue;
    background-color: rgb(232, 229, 229);
    height:26px;
    padding-left:2px;
    display:inline-block;
}

.inputText:hover{
    background-color: cyan;
}

.theLabel{
    color:white; 
    background:blue;
    display:inline-block;
    height:26px;
    padding-left:2px;
}

.oddC{
    font-weight:400;
    background-color: rgb(109, 147, 243);
}

.evenC{
    background-color: rgb(121, 141, 192);
    font-weight:400;
}

.oddA{
    font-weight:400;
    background-color: rgb(121, 192, 146);
}

.evenA{
 
    background-color: rgb(45, 194, 97);
    font-weight:400;
}

.action{
    font-size:12px;
}

.action:hover{
    background-color: yellow;;
}

.boxData{
    text-align: center; color:blue; font-size: 16px; width:100%; display:inline-block;
}

